Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Created a function to return the next available section for logical routing
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
Due: publisher

Minor bug fix, so it routes to the summary group if theres no final section
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
Due: publisher

Code removal
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
Due: publisher

Removed a todo
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
Due: publisher

Removed some comments
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
Due: publisher

Removed an unused var causing it to fail on PR
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
Due: author

Add required field to date properties
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateRangeProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
Due: author

Fixed the styling on the collpasable comment so the default margin is 0, meaning that it fills the container that the component is place in.
  eq-author/src/components/Collapsible/index.js
Due: author

Initial text area properties
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateRangeProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/NumberProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/TextAreaProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
Due: author

Fix textarea properties
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateRangeProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/TextAreaProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
Due: author

Create Required reusable component
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateRangeProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DurationProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/NumberProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/TextAreaProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/ToggleProperty.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Fallback.js
Due: author

Add uncommited files
  eq-author/src/components/AdditionalContent/InlineField/index.js
  eq-author/src/components/AdditionalContent/Required/index.js
  eq-author/src/components/AdditionalContent/ToggleProperty/index.js
Due: author

Minor change
  eq-author/src/components/Collapsible/index.js
Due: author

Add all answer type additional properties
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
Due: author

Move files to components
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Fallback.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/InlineField.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateFormat.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateFormat.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateRangeProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/TextAreaProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/TextProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/TextProperties.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/ToggleProperty.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/UnitProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/UnitProperties.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/__snapshots__/DurationProperties.test.js.snap
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/__snapshots__/UnitProperties.test.js.snap
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/updateAnswersOfTypeMutation.graphql
  eq-author/src/components/AdditionalContent/AnswerProperties/Decimal/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Decimal/index.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/InlineField/InlineField.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/InlineField/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/MultiLineField/index.js
  eq-author/src/components/AdditionalContent/Required/index.js
Due: author

Initial duration fix
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
Due: author

update validation subscription
  eq-author/src/graphql/validationsSubscription.graphql
Due: author

simplify validation subscription
  eq-author/src/graphql/validationsSubscription.graphql
Due: author

Recent duration changes
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
Due: author

snaps
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/__snapshots__/InlineField.test.js.snap
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/__snapshots__/DurationProperties.test.js.snap
Due: author

Ear 1393 change end of section to logical target (#2233)
  eq-author-api/schema/typeDefs.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.test.js
  eq-author/src/constants/destinations.js
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
Due: author, api, publisher

Fixed the styling on the collpasable comment so the default margin is… (#2234)
  eq-author/src/components/Collapsible/index.js
Due: author

Deploying to gh-pages from @ b10421c1e7e5da42fa1f8a1cb07ac978bf1fa4a9 🚀
  iframe.html
  main.0c475d52c8dfd6b611d9.bundle.js
  main.0c475d52c8dfd6b611d9.bundle.js.map
  main.a531ec49b91f56e5fa55.bundle.js
  main.a531ec49b91f56e5fa55.bundle.js.map
  runtime~main.0c475d52c8dfd6b611d9.bundle.js
  runtime~main.0c475d52c8dfd6b611d9.bundle.js.map
  runtime~main.a531ec49b91f56e5fa55.bundle.js.map
  vendors~main.0c475d52c8dfd6b611d9.bundle.js
  vendors~main.0c475d52c8dfd6b611d9.bundle.js.LICENSE.txt
  vendors~main.0c475d52c8dfd6b611d9.bundle.js.map
  vendors~main.a531ec49b91f56e5fa55.bundle.js.map
Due: none

Fix duration unit not updating
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
Due: author

Initial total validation
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
Due: author

Implement total validation container
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/components/ContentContainer/index.js
Due: author

Remove message from total validation button
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/index.js
  eq-author/src/components/ContentContainer/index.js
Due: author

Removed some margin and paddinh
  eq-author/src/components/Collapsible/index.js
Due: author

Initial total error messages
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
Due: author

Update text
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenuButtons.js
Due: author

Update text (#2239)
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenuButtons.js
Due: author

Moved error message outside of box
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
Due: author

Added 'properties' collapsible variant
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateFormat.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateRangeProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/TextAreaProperties.js
  eq-author/src/components/Collapsible/index.js
Due: author

Updated styles
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Decimal/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/InlineField/index.js
  eq-author/src/components/AdditionalContent/Required/index.js
  eq-author/src/components/AdditionalContent/ToggleProperty/index.js
  eq-author/src/components/Collapsible/index.js
  eq-author/src/components/Forms/Field/index.js
  eq-author/src/components/buttons/SidebarButton/index.js
Due: author

Ear 1419 comments reply circle gets squashed (#2238)
  eq-author/src/components/Collapsible/index.js
Due: author

Deploying to gh-pages from @ 9be7a9f03c86830de53dffb8a63b5d391a0f7259 🚀
  iframe.html
  main.0c475d52c8dfd6b611d9.bundle.js
  main.0c475d52c8dfd6b611d9.bundle.js.map
  main.bf7fa23bb48b340e9352.bundle.js
  main.bf7fa23bb48b340e9352.bundle.js.map
  runtime~main.0c475d52c8dfd6b611d9.bundle.js.map
  runtime~main.bf7fa23bb48b340e9352.bundle.js
  runtime~main.bf7fa23bb48b340e9352.bundle.js.map
  vendors~main.0c475d52c8dfd6b611d9.bundle.js.map
  vendors~main.bf7fa23bb48b340e9352.bundle.js
  vendors~main.bf7fa23bb48b340e9352.bundle.js.LICENSE.txt
  vendors~main.bf7fa23bb48b340e9352.bundle.js.map
Due: none

Initial files deleted and fixed tests
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/UnitProperties.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/__snapshots__/UnitProperties.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/UnitProperties.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/__snapshots__/UnitProperties.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.test.js
  eq-author/src/App/page/PropertiesPanel/index.js
  eq-author/src/App/page/PropertiesPanel/index.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/ToggleProperty.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/InlineField/__snapshots__/InlineField.test.js.snap
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/MultiLineField/MultiInlineField.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/MultiLineField/__snapshots__/MultiInlineField.test.js.snap
  eq-author/src/components/EditorLayout/__snapshots__/index.test.js.snap
Due: author

Updated styles
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

Updated styles
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/MultiLineField/index.js
Due: author
