Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

merge from master
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/App/folder/Design/index.test.js
  eq-author/src/App/questionConfirmation/Design/__snapshots__/index.test.js.snap
  eq-author/src/assets/icon-locked.svg
  eq-author/src/assets/icon-unlocked.svg
  eq-author/src/components-themed/Header/index.js
  eq-author/src/components-themed/Header/index.test.js
  eq-author/src/components-themed/HomepageQuestionnairesView/Header/AccessFilter.js
  eq-author/src/components-themed/HomepageQuestionnairesView/Header/index.js
  eq-author/src/components-themed/HomepageQuestionnairesView/NoResultsFiltered.js
  eq-author/src/components-themed/HomepageQuestionnairesView/PaginationNav/PaginationNav.js
  eq-author/src/components-themed/HomepageQuestionnairesView/PaginationNav/index.js
  eq-author/src/components-themed/HomepageQuestionnairesView/index.js
  eq-author/src/components-themed/HomepageQuestionnairesView/index.test.js
  eq-author/src/components-themed/HomepageQuestionnairesView/reducer.js
  eq-author/src/components-themed/Input/__snapshots__/Input.test.js.snap
  eq-author/src/components/IconText/index.js
  eq-author/src/components/Layout/index.js
  eq-author/src/components/Layout/index.test.js
  eq-author/src/components/PrivateRoute/index.js
  eq-author/src/components/SearchBar/icon-search.svg
  eq-author/src/components/SearchBar/index.js
  eq-author/src/components/Truncated/index.js
  eq-author/src/components/UserProfile/index.js
  eq-author/src/components/UserProfile/index.test.js
  eq-author/src/components/buttons/DuplicateButton/index.js
  eq-author/src/components/buttons/IconButtonDelete/__snapshots__/IconButtonDelete.test.js.snap
  eq-author/src/components/buttons/IconButtonDelete/index.js
  eq-author/src/constants/table-headings.js
  eq-author/src/constants/theme.js
  eq-author/src/storybook/Components-themed/exampleQuestionnaire.js
  eq-author/src/storybook/Components-themed/questionnaireTableONS.stories.mdx
Due: author

Initial add comment context test
  eq-author-api/tests/utils/contextBuilder/index.js
Due: api

fix ed importing into current folder as default
  eq-author-api/schema/resolvers/importing.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/importingContent/index.js
Due: author, api

Add introduction comments tests
  eq-author-api/schema/tests/comments.test.js
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author-api/tests/utils/contextBuilder/index.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/update.js
Due: api

Use context comments
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/comments.test.js
Due: api

tidy and remove logging
  eq-author-api/schema/resolvers/importing.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/importingContent/index.js
Due: author, api

createComment context changes
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/comments.test.js
Due: api

remove surplus code per Sams review
  eq-author/src/App/importingContent/index.js
Due: author

deleteComment context
  eq-author-api/schema/resolvers/base.js
Due: api

updateComment context
  eq-author-api/schema/resolvers/base.js
Due: api

createReply context
  eq-author-api/schema/resolvers/base.js
Due: api

updateReply context
  eq-author-api/schema/resolvers/base.js
Due: api

deleteReply context
  eq-author-api/schema/resolvers/base.js
Due: api

Fix create section bug
  eq-author/src/graphql/createSection.graphql
Due: author

Fix create folder bug
  eq-author/src/graphql/createFolder.graphql
Due: author

Fix subscription test
  eq-author-api/schema/tests/subscription.test.js
Due: api

Fix comments tests
  eq-author-api/schema/tests/comments.test.js
Due: api

Remove unused readby default
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/comments.test.js
Due: api

Add submission tests
  eq-author-api/schema/tests/submission.test.js
  eq-author-api/tests/utils/contextBuilder/index.js
  eq-author-api/tests/utils/contextBuilder/submission/index.js
  eq-author-api/tests/utils/contextBuilder/submission/query.js
  eq-author-api/tests/utils/contextBuilder/submission/update.js
Due: api

Add section comment test
  eq-author-api/schema/tests/section.test.js
  eq-author-api/tests/utils/contextBuilder/section/updateSection.js
Due: api

Fix confirmation page preview notification
  eq-author/src/App/questionConfirmation/Preview/index.js
Due: author

Initial confirmation tests
  eq-author-api/schema/tests/questionConfirmation.test.js
  eq-author-api/tests/utils/contextBuilder/questionConfirmation/updateQuestionConfirmation.js
Due: api

Fix broken confirmation tests
  eq-author-api/schema/tests/questionConfirmation.test.js
  eq-author-api/tests/utils/contextBuilder/index.js
Due: api

Question page tests
  eq-author-api/schema/tests/page.test.js
  eq-author-api/tests/utils/contextBuilder/page/questionPage/updateQuestionPage.js
Due: api

Calculated summary page tests
  eq-author-api/schema/tests/calculatedSummary.test.js
  eq-author-api/tests/utils/contextBuilder/page/calculatedSummary/updateCalculatedSummaryPage.js
Due: api

Update comments resolver
  eq-author-api/schema/resolvers/base.js
Due: api

Fix comments not updated
  eq-author-api/schema/resolvers/base.js
Due: api

Initial migration
  eq-author-api/migrations/index.js
Due: api

Add file
  eq-author-api/migrations/updateCommentsReadByEditors.js
Due: api

Remove conditional
  eq-author-api/migrations/updateCommentsReadByEditors.js
Due: api

Migration
  eq-author-api/migrations/updateCommentsReadByEditors.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/server.js
Due: api

Update readby migration test
  eq-author-api/migrations/updateCommentsReadByEditors.test.js
Due: api

Add reply migration test
  eq-author-api/migrations/updateCommentsReadByEditors.test.js
Due: api

Add editor readBy migration test
  eq-author-api/migrations/updateCommentsReadByEditors.test.js
Due: api

Improve migration tests
  eq-author-api/migrations/updateCommentsReadByEditors.test.js
Due: api

Import modal and section picker
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/SectionPicker/Item/index.js
  eq-author/src/components/SectionPicker/List/index.js
  eq-author/src/components/SectionPicker/SelectedPagesContext/index.js
  eq-author/src/components/SectionPicker/index.js
  eq-author/src/components/SectionPicker/index.test.js
  eq-author/src/components/modals/ImportContentModal/index.js
  eq-author/src/components/modals/ImportContentModal/index.test.js
  eq-author/src/components/modals/ImportSectionReviewModal/index.js
  eq-author/src/components/modals/ImportSectionReviewModal/index.test.js
Due: author

Updated SectionPicker
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/SectionPicker/SelectedPagesContext/index.js
  eq-author/src/components/SectionPicker/SelectedSectionsContext/index.js
  eq-author/src/components/SectionPicker/index.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author
