Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Refactor
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author, api

Prevent using drag and drop to move pages into list collector folders
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
Due: author

Fix using modal to move pages into list collector folder
  eq-author/src/App/page/Design/MoveEntityModal/index.js
Due: author

Prevent adding pages to list collector folder from list collector pages
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

Remove calculated summary button inside list collector folder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Add data fields text and table
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/query.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/unlink.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/update.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
  eq-author/src/constants/surveyIDs.js
  eq-author/src/graphql/fragments/prepopSchema.graphql
Due: author, api

Update tests
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

Remove console logs
  eq-author-api/tests/utils/contextBuilder/prepopSchema/update.js
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author, api

Typo
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Fix can add pages from list collector page types
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

Fix add question page and calculated summary page outside of list collector folders
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

Add rich text editor controls for qualifier page
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author

Disable qualifier page variable piping
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/components/ContentPickerv3/VariablePicker.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Add rich text editor controls to add item and confirmation pages
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
Due: author

Fix list collector page onAddQuestionPage error
  eq-author/src/App/page/Design/index.js
  eq-author/src/components/EditorLayout/index.js
Due: author

Fix add item page console errors
  eq-author/src/App/page/Design/PageHeader.js
  eq-author/src/components/EditorLayout/index.js
Due: author

Remove qualifier and confirmation console errors
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
  eq-author/src/components/withEntityEditor/index.js
Due: author

EAR 1948 Option values for radio/cb/select answers
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createOption.js
  eq-author-api/tests/utils/contextBuilder/answer/createAnswer.js
  eq-author-api/tests/utils/contextBuilder/option/createOption.js
  eq-author-api/tests/utils/contextBuilder/option/queryOption.js
  eq-author-api/tests/utils/contextBuilder/option/updateOption.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/fragments/option.graphql
Due: author, api

Disable import content button on list collector pages
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

Add listId to folder GraphQL
  eq-author/src/graphql/fragments/folder.graphql
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author

Prevent importing list collector pages
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author

Update snapshots
  eq-author/src/components-themed/Input/__snapshots__/Input.test.js.snap
  eq-author/src/components/RichTextEditor/__snapshots__/PipingMenu.test.js.snap
Due: author

Fix validation error with all list collector pages when linked list is deleted
  eq-author-api/src/validation/schemas/folder.json
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/page/Design/MoveEntityModal/index.js
Due: author, api

Fix failing section design tests
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author

Fix content picker tests
  eq-author/src/components/ContentPickerv3/index.test.js
Due: author

Fix answer editor tests
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.test.js
Due: author

Update themes
  eq-author-api/constants/themes.js
  eq-author/src/constants/themes.js
Due: author, api

Fix folder design tests
  eq-author/src/App/folder/Design/index.test.js
Due: author

Fix navigation callback test
  eq-author/src/components/NavigationCallbacks.test.js
Due: author

Update previewQuestions
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/CollapsibleEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author, api

Updated icon text
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

Update previewQuestions
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createList.js
  eq-author-api/src/businessLogic/onListDeleted.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/graphql/fragments/introduction.graphql
  eq-author/src/graphql/updateQuestionnaireIntroduction.graphql
Due: author, api

Add panel and info
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/App/qcodes/QcodesPage.js
  eq-author/src/constants/validationMessages.js
Due: author

Update ui layout.
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

Add migration to convert list collector pages to folders
  eq-author-api/migrations/convertListCollectorPageToFolder.js
  eq-author-api/migrations/index.js
Due: api

Convert list collectors in order and fix list collectors not converted for multiple list collectors
  eq-author-api/migrations/convertListCollectorPageToFolder.js
Due: api

Fixed layout and test
  eq-author/src/App/qcodes/QcodesPage.js
  eq-author/src/App/qcodes/QcodesPage.test.js
Due: author

Initial handle non list collector pages
  eq-author-api/migrations/convertListCollectorPageToFolder.js
Due: api

Initial list collector folder migration rewrite
  eq-author-api/migrations/convertListCollectorPageToFolder.js
Due: api

Fix folders skipped when multiple folders contain list collector page
  eq-author-api/migrations/convertListCollectorPageToFolder.js
Due: api
