Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

redirect correctly after verify email link
  eq-author/src/App/MeContext.js
Due: author

fix api tests
  eq-author-api/middleware/identification/rejectUnidentifiedUsers.test.js
  eq-author-api/server.test.js
Due: api

fix front end test use different email account
  eq-author/.env.test
Due: author

Extended query to allow filters
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

Extended query to allow filters
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/importingContent/index.js
  eq-author/src/graphql/getQuestionnaireList.graphql
Due: author, api

fixed sign out
  eq-author/src/App/MeContext.js
Due: author

added logout
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/index.js
Due: author

Remove later section and end of questionnaire options based on hub
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
Due: author

add dynamic url to redirect
  eq-author/src/App/MeContext.js
Due: author

rename URL const and delete log
  eq-author/src/App/MeContext.js
Due: author

Move prop out of class
  eq-author/src/App/MeContext.js
Due: author

Updated verification message
  eq-author/src/App/SignInPage/index.js
Due: author

Fix new routing destination conditions not working when hub is disabled
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
Due: author

Extended questionnaire query to allow for specific questionnaire to be returned
  eq-author-api/schema/resolvers/base.js
Due: api

Fix broken tests
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.test.js
  eq-author/src/components/ContentPickerv2/index.test.js
Due: author

Stuff
  eq-author/src/App/importingContent/index.js
Due: author

Disabled button
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

Implement tests
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
Due: author

Import handler adapted for focused on section and page (outside folder)
  eq-author/src/App/importingContent/index.js
  eq-author/src/graphql/importContent.graphql
Due: author

Couple of linting issues fixed
  eq-author/src/App/importingContent/index.js
Due: author

Styling
  eq-author/src/App/importingContent/index.js
Due: author

Importing handler adapted for inside and outside of a folder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/importingContent/index.js
Due: author

Can now import below a page in a folder
  eq-author/src/App/importingContent/index.js
Due: author

Redone some stuff
  eq-author/src/App/importingContent/index.js
Due: author

fix for publisher issue and email verification
  eq-author-api/middleware/identification/getUserFromHeader.js
Due: api

change ru_name and trad_as arouond in introduction
  eq-author-api/utils/createQuestionnaireIntroduction.js
Due: api

Proptypes
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/QuestionnaireTable/Row.js
  eq-author/src/components/QuestionnaireTable/TableBody.js
  eq-author/src/components/QuestionnaireTable/index.js
  eq-author/src/components/QuestionnairesView/QuestionnairesTable/index.js
  eq-author/src/components/QuestionnairesView/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author

Fix previous tests
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
Due: author

Fix linting error
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
Due: author

fix create admin script
  eq-author-api/scripts/make-admin.js
Due: api

added email verified script
  eq-author-api/scripts/make-email-verified.js
Due: api

Tests
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.test.js
Due: author

Styles
  eq-author/src/components/QuestionPicker/Item/index.js
Due: author

Navbar updates
  eq-author/src/graphql/importContent.graphql
Due: author

Add enabled attribute to destination object
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/constants/destinations.js
Due: author

basic enable / validation -collapsibleSummary true
  eq-author-api/src/validation/schemas/section.json
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/App/section/Design/index.js
Due: author, api

remove logging
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

fix broken test
  eq-author/src/App/section/Design/index.test.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
