Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Fix refresh required after creating list collector folder
  eq-author/src/graphql/createListCollectorFolder.graphql
Due: author

updated graphql schema
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/processSupplementaryData.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/supplementaryData/query.js
  eq-author-api/tests/utils/contextBuilder/supplementaryData/unlink.js
  eq-author-api/tests/utils/contextBuilder/supplementaryData/update.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/graphql/fragments/supplementaryData.graphql
Due: author, api

added display name
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/graphql/fragments/supplementaryData.graphql
Due: author, api

Fix refresh required after creating list collector folder
  eq-author/src/graphql/duplicateFolder.graphql
Due: author

Fix list collector folders added to incorrect position
  eq-author/src/App/folder/Design/index.js
Due: author

Fixed option values for collection lists
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/graphql/lists/listAnswer.graphql
Due: author

Add refetch query
  eq-author/src/hooks/useCreateFolder.js
Due: author

added refetch
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/components/ContentPickerv3/SupplementaryDataPicker.js
Due: author

Add refetch to duplicate list collector folder
  eq-author/src/App/folder/Design/index.js
Due: author

Fix undefined isListCollectorFolder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

reorder columns
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
Due: author

Fix failing test
  eq-author/src/App/folder/Design/index.test.js
Due: author

Added search
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
  eq-author/src/components/ContentPickerv3/SupplementaryDataPicker.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

show answer picker in first question
  eq-author/src/components/ContentPickerv3/SupplementaryDataPicker.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

update piping when repeating answer list changes
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/schema/resolvers/utils/supplementaryDataGetters.js
  eq-author-api/src/businessLogic/onAnswerUpdated.js
  eq-author-api/src/businessLogic/onSectionUpdated.js
Due: api

fixed validation message
  eq-author-api/src/validation/schemas/definitions.json
Due: api

fix bug
  eq-author-api/schema/resolvers/utils/supplementaryDataGetters.js
  eq-author-api/src/businessLogic/onAnswerUpdated.js
Due: api

updated validation
  eq-author-api/schema/resolvers/utils/supplementaryDataGetters.js
  eq-author-api/src/businessLogic/onSectionUpdated.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
Due: api

added unlink remove pipimg
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/onUnlinkSupplementaryData.js
Due: api

updated more validation
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
Due: api

Fix confirmation page description label
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
Due: author

Add additional guidance to qualifier preview page
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/QualifierPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/QualifierPagePreview/index.test.js
Due: author

Add controls to qualifier additional guidance text editor
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author

fixed API tests
  eq-author-api/src/businessLogic/onAnswerUpdated.js
  eq-author-api/src/businessLogic/onAnswerUpdated.test.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
Due: api

fix frontend tests
  eq-author/src/App/section/Design/index.test.js
Due: author

updated coverage
  eq-author-api/src/businessLogic/onUnlinkSupplementaryData.test.js
Due: api

Add Copy of prefix for duplicated list collector folders
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/tests/utils/contextBuilder/folder/duplicateFolder.js
  eq-author-api/tests/utils/contextBuilder/folder/index.js
Due: api

changed where supplementary data is selected
  eq-author/src/App/page/Design/answers/BasicAnswer/__snapshots__/BasicAnswer.test.js.snap
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Fix for options with duplicae ids
  eq-author-api/src/businessLogic/createListCollectorPages.js
Due: api

fixed typo
  eq-author-api/schema/resolvers/base.js
Due: api

Updating padding
  eq-author/src/App/qcodes/QcodesPage.js
Due: author

fix for repeating answer list picker
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/onUnlinkSupplementaryData.js
Due: api

fix tests
  eq-author-api/src/businessLogic/onUnlinkSupplementaryData.test.js
Due: api

Revert "EAR 1948 Option values for rad-chk-ans"
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/App/qcodes/QcodesPage.js
  eq-author/src/App/qcodes/QcodesPage.test.js
  eq-author/src/components/Panel/index.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/lists/listAnswer.graphql
Due: author

Revert "Revert "EAR 1948 Option values for rad-chk-ans""
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/App/qcodes/QcodesPage.js
  eq-author/src/App/qcodes/QcodesPage.test.js
  eq-author/src/components/Panel/index.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/lists/listAnswer.graphql
Due: author

stop adding a list collector in repeating section
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/MoveSectionModal/__snapshots__/index.test.js.snap
  eq-author/src/components/RichTextEditor/__snapshots__/PipingMenu.test.js.snap
  eq-author/src/tests/utils/createMockQuestionnaire.js
Due: author

Required changes
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/App/settings/SettingsPage.js
Due: author
