Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Fix to a test as we've now removed some front end on an error to prevent more errors.
  eq-author/src/App/section/Design/index.test.js
Due: author

first change
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.js
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/constants/destinationKey.js
  eq-author/src/constants/destinations.js
Due: author

fix drag and srop
  eq-author/src/graphql/movePage.graphql
Due: author

removed end of questionnaire
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/constants/destinations.js
Due: author

tidy up
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/constants/destinations.js
Due: author

more tidy up
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.js
Due: author

fixed tests
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.test.js
  eq-author/src/components/ContentPickerv2/index.test.js
Due: author

Fix to showing two inputs for mutally exclusive
  eq-author/src/components/QCodeContext/index.js
Due: author

Fix to showing two inputs for mutally exclusive (#2737)
  eq-author/src/components/QCodeContext/index.js
Due: author

Add scroll to main nav
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

EAR-1799 Deleting Question Breaks Display Logic. (#2729)
  eq-author-api/schema/resolvers/importing.js
  eq-author-api/schema/resolvers/utils/helpers.js
  eq-author/src/App/section/Design/index.js
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/section/Logic/Display/index.js
Due: author, api

Further tweaks to account for scroll bar
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/components/Badge/index.js
Due: author

Added CalcSummary data Co-authored-by: ashtuck <ashtuck@users.noreply.github.com>
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
  eq-author/src/components/ContentPickerSelect/content-types.js
  eq-author/src/components/ContentPickerSelect/index.js
  eq-author/src/components/ContentPickerv2/AnswerPicker.js
  eq-author/src/components/ContentPickerv2/index.js
  eq-author/src/constants/answer-types.js
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

first commit
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createCalculatedSummary.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author, api

some fixess
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/src/businessLogic/createCalculatedSummary.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/updateCalculatedSummaryPageMutation.graphql
  eq-author/src/graphql/createCalculatedSummaryPage.graphql
Due: author, api

Initial commit - in progress
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/viewSurvey/ViewSurveyPage.js
  eq-author/src/App/viewSurvey/index.js
  eq-author/src/components/IconText/index.js
  eq-author/src/components/buttons/onsButton/index.js
  eq-author/src/constants/entities.js
  eq-author/src/utils/UrlUtils.js
Due: author

Fix for importing duplicate sections
  eq-author-api/schema/resolvers/importing.js
  eq-author-api/schema/resolvers/utils/helpers.js
  eq-author/src/App/section/Logic/Display/index.js
Due: author, api

Removed feature flags on front end
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/answers/dummy/Date/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/App/section/Design/index.js
  eq-author/src/App/section/Logic/index.js
  eq-author/src/App/section/Preview/index.js
  eq-author/src/App/section/index.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/components-themed/Header/index.js
  eq-author/src/components/AnswerContent/AnswerProperties/DateProperties.js
  eq-author/src/components/preview/Answers/DateAnswer.js
  eq-author/src/constants/themeSettings.js
Due: author

updated snapshot
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/__snapshots__/QuestionnaireMeta.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/App/section/Preview/__snapshots__/index.test.js.snap
Due: author

added migration
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateCalculatedSummary.js
  eq-author-api/migrations/updateCalculatedSummary.test.js
Due: api

toggle-section-navigation not found
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

enabledOn hub and conditionally rendering
  eq-author-api/schema/resolvers/base.js
  eq-author-api/utils/sanitiseMetadata.js
Due: api

aws test
  eq-author-api/utils/sanitiseMetadata.test.js
Due: api

repeat button & remove test flags
  eq-author/scripts/test.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

removed feature flags in test
  eq-author-api/docker-compose.yml
  eq-author-api/utils/sanitiseMetadata.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/settings/SettingsPage.test.js
  eq-author/src/components-themed/Header/index.test.js
  eq-author/src/components/Layout/index.test.js
Due: author, api

removed imports
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Displayed red banner on the top of the Home page
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/components/WarningBanner/index.js
Due: author

Displayed a message inside the red banner
  eq-author/src/components/WarningBanner/index.js
Due: author

Added round warning icon, set the icon size and positioning
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/components/WarningBanner/icon-warning.svg
  eq-author/src/components/WarningBanner/index.js
Due: author

Update eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

Update eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

update snapshot
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
Due: author

Added prop for banner message, saved as constant
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/components/WarningBanner/index.js
  eq-author/src/constants/banner-message.js
Due: author

Displayed the banner message, aligned the lines vertically
  eq-author/src/components/WarningBanner/index.js
  eq-author/src/constants/banner-message.js
Due: author

Styled the messages, set the positions
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/components/WarningBanner/index.js
  eq-author/src/constants/banner-message.js
Due: author

Corrected the hyperlinks and email address
  eq-author/src/components/WarningBanner/index.js
Due: author

Set the icon position and font size of the warning message
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/components/WarningBanner/icon-warning.svg
  eq-author/src/components/WarningBanner/index.js
Due: author
