Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

tidy up sign in page
  eq-author/src/App/SignInPage/index.js
Due: author

Fix section separator displayed twice when email confirmation selected
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

fix second page link redirecting to first and extra error condition
  eq-author/src/App/page/Design/index.js
Due: author

removed unnessary comment
  eq-author/src/App/page/Design/index.js
Due: author

improve accessibility of all pages
  eq-author-api/middleware/identification/upsertUser.js
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/RecoverPassword/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/components-themed/Label/index.js
  eq-author/src/components-themed/Toolkit/index.js
Due: author, api

Initial introduction validation errors
  eq-author-api/docker-compose.yml
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/schemas/index.js
  eq-author-api/src/validation/schemas/introduction.json
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Populate error data
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/index.js
Due: api

Display error message
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Fix error message only displayed after refresh
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.js
Due: author

Add error styling to input
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

Add error badge to introduction navigation
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Fix broken tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author

Fix to answerundefined bug
  eq-publisher/src/eq_schema/Question.js
Due: publisher

Fix to tests
  eq-publisher/src/eq_schema/Question.test.js
Due: publisher

Validation message tests
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author

Add API tests
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/query.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/update.js
Due: api

Remove commented code
  eq-author-api/src/validation/index.js
Due: api

Add updateQuestionnaireIntroduction test
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author

Revert file
  eq-author-api/docker-compose.yml
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author, api

reset PW working but return to signIn bug
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/EmailVerification/index.js
  eq-author/src/App/SignInPage/RecoverPassword/index.js
  eq-author/src/App/SignInPage/ResetPassword/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/components/Auth/index.js
  eq-author/src/components/PrivateRoute/index.js
Due: author

fixed redirect to signin bug after reset PW
  eq-author/src/App/SignInPage/RecoverPassword/index.js
  eq-author/src/App/SignInPage/ResetPassword/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/App/SignInPage/index.js
Due: author

Remove unused code
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/validation/index.js
Due: api

Add Answers
  eq-author/src/App/collectionLists/collectionListItem.js
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/App/collectionLists/createCollectionListAnswerMutation.graphql
  eq-author/src/App/collectionLists/deleteCollectionListAnswerMutation.graphql
Due: author

fixed GQL
  eq-author/src/App/collectionLists/collectionListItem.js
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/App/collectionLists/questionnaireCollectionLists.graphql
Due: author

Moved buttons to collapsible
  eq-author/src/App/collectionLists/collectionListItem.js
  eq-author/src/components/Collapsible/index.js
Due: author

Fix collapsible tag
  eq-author/src/App/collectionLists/collectionListItem.js
Due: author

tidy up some comps and reset Pw reset success when needed
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/ResetPassword/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/components-themed/Footer/index.js
  eq-author/src/components-themed/Header/index.js
  eq-author/src/components-themed/Toolkit/index.js
Due: author

conditional wrapper stuff
  eq-author/src/App/SignInPage/CreateAccount/index.js
Due: author

Conditionally render error panel
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/components/AccountCreation/index.js
Due: author

Remove empty container
  eq-author/src/components/AccountCreation/index.js
Due: author

working return link for verifyEmail
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/EmailVerification/index.js
  eq-author/src/App/SignInPage/ResetPassword/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/components-themed/Toolkit/index.js
  eq-author/src/components/Auth/index.js
Due: author

fixed verify email link in email
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/components/PrivateRoute/index.js
Due: author

remove excess themes
  eq-author-api/constants/themes.js
  eq-author-api/migrations/copyLegalBasisToThemes.test.js
  eq-author-api/migrations/updateUKISEPEThemes.js
  eq-author-api/migrations/updateUKISEPEThemes.test.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/constants/themeSettings.js
Due: author, api

update to tests
  eq-author-api/migrations/copyLegalBasisToThemes.test.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author/src/App/settings/ThemesPage.test.js
Due: author, api

tidy up - everythings appears to be working
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/ApiError/index.js
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/EmailVerification/index.js
  eq-author/src/App/SignInPage/RecoverPassword/index.js
  eq-author/src/App/SignInPage/ResetPassword/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/components/PrivateRoute/index.js
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

tests
  eq-author-api/migrations/copyLegalBasisToThemes.test.js
Due: api

remove forms and improve imputs
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/EmailVerification/index.js
  eq-author/src/App/SignInPage/RecoverPassword/index.js
  eq-author/src/App/SignInPage/ResetPassword/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/components-themed/Input/input.js
  eq-author/src/components/InputWithConditionalError/index.js
Due: author

remove timeout experiment from PrivateRoute
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/components/PrivateRoute/index.js
Due: author

remove themes for gcp
  eq-author-api/constants/themes.js
  eq-author-api/migrations/updateUKISEPEThemes.js
  eq-author-api/migrations/updateUKISEPEThemes.test.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/constants/themeSettings.js
Due: author, api
