Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Fixed broken test
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/index.test.js
Due: author

Push to check verification
  eq-author/README.md
Due: author

Again
  eq-author/README.md
Due: author

Full commit of duplicate code
  eq-author/public/index.html
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/App/SignInPage/index.test.js
  eq-author/src/components-themed/Input/PasswordInput/index.js
  eq-author/src/components-themed/Label/__snapshots__/Label.test.js.snap
  eq-author/src/components-themed/Label/index.js
  eq-author/src/components-themed/Toolkit/index.js
  eq-author/src/components/InputWithConditionalError/index.js
  eq-author/src/config.js
Due: author

fix: eq-publisher/package.json & eq-publisher/yarn.lock to reduce vulnerabilities
  eq-publisher/package.json
  eq-publisher/yarn.lock
Due: publisher

Fix environment variable config
  eq-author/src/config.js
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

Fix environment variable config
  eq-author/src/App/SignInPage/CreateAccount/index.js
Due: author

Fix tests
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/index.test.js
Due: author

Change getByText to queryByText
  eq-author/src/App/SignInPage/index.test.js
Due: author

Drivng question added
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createListCollectorPage.js
  eq-author-api/src/validation/schemas/listCollectorPage.json
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.test.js
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/fragments/list-collector.graphql
Due: author, api

Preview fix
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author

remove unwated variable
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
Due: author

Add initial new mutually exclusive answer type
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/components/AnswerTypeSelector/icons/or-answer.svg
Due: author, api

Add mutually exclusive description and collapsible
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Initial multiple choice mutually exclusive
  eq-author-api/src/businessLogic/createAnswer.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MutuallyExclusive/index.js
Due: author, api

Fix answer type to display OR answer
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Fix delete multiple choice option crash
  eq-author-api/constants/answerTypes.js
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/MutuallyExclusive/index.js
Due: author, api

Fix mutually exclusive option changes require refresh
  eq-author-api/schema/resolvers/base.js
Due: api

Dynamically update mutually exclusive checkbox and radio icon
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MutuallyExclusive/index.js
  eq-author/src/App/page/Design/answers/dummy/MultipleChoice/index.js
Due: author

Remove move options on mutually exclusive answers
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Fix add option button styling
  eq-author/src/App/page/Design/answers/MutuallyExclusive/index.js
Due: author

Add answers to penultimate position when page has mutually exclusive answer
  eq-author-api/schema/resolvers/base.js
Due: api

Remove mutually exclusive button when not required
  eq-author/src/components/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/components/AnswerTypeSelector/index.js
  eq-author/src/components/IconGrid/IconGridButton.js
Due: author

Disable add radio button when page has mutually exclusive
  eq-author/src/components/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/components/AnswerTypeSelector/index.js
  eq-author/src/components/IconGrid/IconGridButton.js
Due: author

Always disable move mutually exclusive answer
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Prevent move answers down to below mutually exclusive answer
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/components/AnswerTypeSelector/index.js
  eq-author/src/components/Reorder/index.js
  eq-author/src/utils/answersHaveAnswerType.js
Due: author

Remove or checkbox on GCP
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Remove or option toggle switch on GCP
  eq-author/src/components/AnswerContent/MutuallyExclusive/index.js
Due: author

Remove mutually exclusive answer button on AWS
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.js
Due: author

Fix lint errors
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/MutuallyExclusive/index.js
  eq-author/src/utils/answersHaveAnswerType.js
Due: author

Add mutually exclusive to preview page
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
  eq-author/src/components/preview/Answers/index.js
Due: author

Add missing proptype
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
Due: author

Add Or text on mutually exclusive preview
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
Due: author

Validate mutually exclusive empty option label
  eq-author-api/src/validation/schemas/answer.json
Due: api

Replace MutuallyExclusiveOption answer type with MutuallyExclusive
  eq-author-api/constants/answerTypes.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createAnswer.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/dummy/MultipleChoice/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/components/AnswerTypeSelector/index.js
  eq-author/src/components/Reorder/index.js
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
  eq-author/src/components/preview/Answers/index.js
  eq-author/src/constants/answer-types.js
Due: author, api

add proptypes
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/components/ContentPickerv2/VariablePicker.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
  eq-author/src/components/RichTextEditor/Toolbar.js
  eq-author/src/components/RichTextEditor/entities/PipedValue.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

fixed type defs
  eq-author-api/schema/typeDefs.js
Due: api
