Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

revert yarn, husky back
  package.json
  yarn.lock
Due: none

tab through buttons
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/components/IconGrid/IconGridButton.js
Due: author

bluebox click
  eq-author/src/components/IconGrid/IconGridButton.js
Due: author

refactor
  eq-author/src/components/IconGrid/IconGridButton.js
Due: author

big commit with validation and some test work
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/src/businessLogic/createExpression.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/logic.json
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author-api/tests/utils/contextBuilder/routing/createBinaryExpression.js
  eq-author-api/tests/utils/contextBuilder/routing/updateBinaryExpression.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

fix api and refactor moveContents
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/moveContent.js
Due: author, api

Change styling values
  eq-author/src/components-themed/Input/input.js
Due: author

front end tests
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
  eq-author-api/src/validation/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/SecondaryConditionSelector.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/checkboxRouting.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
Due: author, api

remove test for checking default blue box
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

buttons to click
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/icons/keyboard-icon.svg
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/pageskip/PageSkipPage.js
  eq-author/src/App/pageskip/index.js
  eq-author/src/constants/entities.js
  eq-author/src/utils/UrlUtils.js
  eq-author/yarn.lock
Due: author

fix all backend testz
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author-api/tests/utils/contextBuilder/routing/createBinaryExpression.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.test.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

tidy up logs and unused comments
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
  eq-author-api/src/validation/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/CheckboxChip.js
Due: author, api

Move between elements using F6
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

Navigate in reverse
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

Add variable names
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

Add comments
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

removed the dodgy blue outline
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/components/BaseLayout/index.js
  eq-author/src/components/EditorLayout/Header/index.js
  eq-author/src/components/EditorLayout/index.js
Due: author

named ids consistantly
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

header component finished
  eq-author/src/assets/ons-logo-header.svg
  eq-author/src/assets/ons-logo.svg
  eq-author/src/components-themed/Header/index.js
  eq-author/src/constants/theme.js
  eq-author/src/storybook/Components-themed/HeaderONS.stories.mdx
Due: author

fix for missing comments
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

Update button.js
  eq-author/src/components-themed/buttons/button.js
Due: author

update secondaryCondition error msg
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
Due: api

refractor
  eq-author/.storybook/preview-head.html
  eq-author/public/index.html
  eq-author/src/components-themed/Header/index.js
  eq-author/src/storybook/Components-themed/HeaderONS.stories.mdx
  eq-author/src/storybook/Components-themed/InputONS.stories.mdx
Due: author

fix for account service url
  eq-author-api/utils/sanitiseMetadata.js
Due: api

all working except secondaryCondition validation in logic.json
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/logic.json
Due: api

update to header component
  eq-author/src/components-themed/Header/index.js
Due: author

new feature flag - enableCountCondition
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
Due: author

small update for hasError and input style
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
Due: author

prevents letter/symbols E,e,+,- from input
  eq-author/src/components/Forms/Number/__snapshots__/index.test.js.snap
  eq-author/src/components/Forms/Number/index.js
Due: author

Fix typos
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

yarn storybook error fix
  eq-author/src/storybook/Components-themed/InputONS.stories.mdx
Due: none

Deploying to gh-pages from @ 7e38396a6a965755f7f78156e5d4f5816c59bb9a 🚀
  iframe.html
  main.9f69ae2cd7e6144ebb03.bundle.js
  main.9f69ae2cd7e6144ebb03.bundle.js.map
  main.d51ab50c8e8ce94e8af5.bundle.js
  main.d51ab50c8e8ce94e8af5.bundle.js.map
  runtime~main.9f69ae2cd7e6144ebb03.bundle.js
  runtime~main.9f69ae2cd7e6144ebb03.bundle.js.map
  runtime~main.d51ab50c8e8ce94e8af5.bundle.js.map
  vendors~main.9f69ae2cd7e6144ebb03.bundle.js
  vendors~main.9f69ae2cd7e6144ebb03.bundle.js.LICENSE.txt
  vendors~main.9f69ae2cd7e6144ebb03.bundle.js.map
  vendors~main.d51ab50c8e8ce94e8af5.bundle.js
  vendors~main.d51ab50c8e8ce94e8af5.bundle.js.map
Due: none

fix for storybook scroll
  eq-author/.storybook/preview-head.html
Due: author

Deploying to gh-pages from @ 04eef63ce68dca2eb250d863815a1ac1b170b2e0 🚀
  iframe.html
Due: none

tweaked placement highlight
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/dragAndDrop.js
Due: author

refractor
  eq-author/src/storybook/Components-themed/HeaderONS.stories.mdx
Due: none

add list
  eq-author/src/components-themed/Header/index.js
  eq-author/src/storybook/Components-themed/ExampleList/index.js
  eq-author/src/storybook/Components-themed/HeaderONS.stories.mdx
Due: author

update to header
  eq-author/src/components-themed/Header/index.js
  eq-author/src/storybook/Components-themed/HeaderONS.stories.mdx
Due: author

red border when prop hasError
  eq-author/src/components-themed/Input/input.js
  eq-author/src/storybook/Components-themed/InputONS.stories.mdx
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
