Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

fix again
  eq-author/public/index.html
  eq-author/src/contexts/themeContext.js
Due: author

Deploying to gh-pages from @ 1137848b56c859500dfc66afc9a775109f3116dc 🚀
  iframe.html
  main.04a5f50a379c64f15a88.bundle.js
  main.04a5f50a379c64f15a88.bundle.js.map
  main.24e67f3e3093e67ee011.bundle.js
  main.24e67f3e3093e67ee011.bundle.js.map
  runtime~main.04a5f50a379c64f15a88.bundle.js.map
  runtime~main.24e67f3e3093e67ee011.bundle.js
  runtime~main.24e67f3e3093e67ee011.bundle.js.map
  vendors~main.04a5f50a379c64f15a88.bundle.js.map
  vendors~main.24e67f3e3093e67ee011.bundle.js
  vendors~main.24e67f3e3093e67ee011.bundle.js.LICENSE.txt
  vendors~main.24e67f3e3093e67ee011.bundle.js.map
Due: none

Fix preview page scroll bug
  eq-author/src/components/Comments/CommentEditor/index.js
Due: author

footer component
  eq-author/src/constants/theme.js
Due: author

Fix to bug, by adding the `inPlace` parameter to `deepMap`.
  eq-author-api/schema/resolvers/utils/helpers.js
Due: api

add missing files
  eq-author/src/assets/ons-logo.svg
  eq-author/src/components-themed/Footer/index.js
  eq-author/src/storybook/Components-themed/footerONS.stories.mdx
Due: author

test
  eq-author/src/assets/hi.txt
Due: author

basic front end - numberanswerselector needs own component
  eq-author-api/constants/routingConditions.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/answerTypeToConditions.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/CheckboxChip.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
Due: author, api

Update eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
Due: api

Update eq-author-api/src/validation/customKeywords/validatePipingMetadataInTitle.js
  eq-author-api/src/validation/customKeywords/validatePipingMetadataInTitle.js
Due: api

Updated snapshot
  eq-author/src/App/introduction/Preview/__snapshots__/index.test.js.snap
Due: author

Deploying to gh-pages from @ 839776eb662b2f69bc6097341e080cff0549998c 🚀
  iframe.html
  main.24e67f3e3093e67ee011.bundle.js
  main.24e67f3e3093e67ee011.bundle.js.map
  main.8214c16cc1d59f9a5396.bundle.js
  main.8214c16cc1d59f9a5396.bundle.js.map
  runtime~main.24e67f3e3093e67ee011.bundle.js.map
  runtime~main.8214c16cc1d59f9a5396.bundle.js
  runtime~main.8214c16cc1d59f9a5396.bundle.js.map
  vendors~main.24e67f3e3093e67ee011.bundle.js.map
  vendors~main.8214c16cc1d59f9a5396.bundle.js
  vendors~main.8214c16cc1d59f9a5396.bundle.js.LICENSE.txt
  vendors~main.8214c16cc1d59f9a5396.bundle.js.map
Due: none

Deploying to gh-pages from @ 130eec4eb18f951a1cc0ea3b9cde4391cee4e92f 🚀
  iframe.html
  main.8214c16cc1d59f9a5396.bundle.js
  main.8214c16cc1d59f9a5396.bundle.js.map
  main.d51ab50c8e8ce94e8af5.bundle.js
  main.d51ab50c8e8ce94e8af5.bundle.js.map
  runtime~main.8214c16cc1d59f9a5396.bundle.js.map
  runtime~main.d51ab50c8e8ce94e8af5.bundle.js
  runtime~main.d51ab50c8e8ce94e8af5.bundle.js.map
  vendors~main.8214c16cc1d59f9a5396.bundle.js
  vendors~main.8214c16cc1d59f9a5396.bundle.js.map
  vendors~main.d51ab50c8e8ce94e8af5.bundle.js
  vendors~main.d51ab50c8e8ce94e8af5.bundle.js.LICENSE.txt
  vendors~main.d51ab50c8e8ce94e8af5.bundle.js.map
Due: none

Fix to bug, by adding the `inPlace` parameter to `deepMap`. (#2408)
  eq-author-api/schema/resolvers/utils/helpers.js
Due: api

basic working back and front ends
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/fragment.graphql
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateBinaryExpression.js
Due: author, api

new test file - not working
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.test.js
Due: author

Remove unused line
  eq-author/src/constants/theme.js
Due: author

DND - A New Hope
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/dragAndDrop.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/moveContent.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/moveContent.test.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

test commit
  eq-author/src/assets/icon-panel-checkbox.svg
  eq-author/src/components/Accordion/index.js
  eq-author/src/constants/theme.js
Due: author

Panel-Component
  eq-author/src/components-themed/panels/index.js
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

Panel-Component Change No Header Title
  eq-author/src/components-themed/panels/panel.js
Due: author

test commit
  eq-author/src/components-themed/panels/panel.js
Due: author

Panel-Component Change Success Container
  eq-author/src/components-themed/panels/panel.js
Due: author

Panel-Component Change Refactor Container
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

Panel-Component Change Refactor Container
  eq-author/src/components-themed/panels/panel.js
Due: author

Refactor
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

Add border prop
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

Add icon prop
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

removed deleted folder actions as not deleting
  eq-author-api/schema/resolvers/base.js
Due: api

Conditionally render error header
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

fix for moving between folders
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/moveContent.js
Due: author

tweaks to stop highlights in wrong places
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/dragAndDrop.js
  eq-author/src/components/NavItem/index.js
Due: author

Change file structure
  eq-author/src/components-themed/Input/index.js
  eq-author/src/components-themed/Input/input.js
  eq-author/src/storybook/Components-themed/InputONS.stories.mdx
Due: author

Implement panel paragraph title
  eq-author/.storybook/preview-head.html
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

Remove paragraph title from info story
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: none

adding position to track
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/dragAndDrop.js
Due: author

passing position to moveContent func
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/dragAndDrop.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/moveContent.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

header component
  eq-author/src/assets/ons-logo-header.svg
  eq-author/src/components-themed/Header/index.js
  eq-author/src/components-themed/buttons/button.js
  eq-author/src/constants/theme.js
  eq-author/src/storybook/Components-themed/HeaderONS.stories.mdx
Due: author

default blue box fix
  eq-author/src/components/IconGrid/IconGridButton.js
  package.json
  yarn.lock
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
