Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

remove test that hits if statments
  .codecov.yml
  eq-author/src/components/EditorLayout/Tabs/tabs.test.js
Due: author

woops - linter - shows importance of
  eq-author/src/components/EditorLayout/Tabs/tabs.test.js
Due: author

Translating binary expression creates 2 rules for mutually exclusive
  eq-publisher/src/eq_schema/builders/routing2/index.js
  eq-publisher/src/eq_schema/builders/translateBinaryEpression/translateBinaryExpression.js
  eq-publisher/src/utils/convertPipes.js
  eq-publisher/src/utils/finders.js
Due: publisher

Translating binary expression creates 2 rules for mutually exclusive
  eq-publisher/src/eq_schema/builders/translateBinaryEpression/translateBinaryExpression.js
  eq-publisher/src/utils/convertPipes.js
Due: publisher

Refactor skip logic page and fixed navigtion
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/App/page/Logic/SkipLogic/index.js
  eq-author/src/App/page/Logic/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/index.js
  eq-author/src/App/page/Logic/index.test.js
  eq-author/src/App/page/index.js
  eq-author/src/components/EditorLayout/Tabs/__snapshots__/tabs.test.js.snap
  eq-author/src/components/EditorLayout/Tabs/index.js
Due: author

added validation errors at page level
  eq-author/src/App/page/Logic/Routing/RoutingPage/fragment.graphql
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/fragment.graphql
Due: author

Remove custom keyword & replace with error message
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/routingAnswer.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/entities.json
Due: api

fixed nav bar and maintain page on page change
  eq-author/src/utils/UrlUtils.js
Due: author

altered path on logic
  eq-author/src/components/EditorLayout/Tabs/__snapshots__/tabs.test.js.snap
  eq-author/src/utils/UrlUtils.js
  eq-author/src/utils/UrlUtils.test.js
Due: author

updated tests and snapshots
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/checkboxRouting.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.test.js
  eq-author/src/App/page/Logic/SkipLogic/SkipLogicPage/index.test.js
Due: author

Updated as recieving extra error messages
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/constants/validationMessages.js
Due: author

Tests
  eq-publisher/src/eq_schema/builders/routing2/index.js
  eq-publisher/src/eq_schema/builders/routing2/index.test.js
Due: publisher

Tests
  eq-publisher/src/utils/finders.js
Due: publisher

deleted redundant file
  eq-author/src/App/page/Logic/BinaryExpressionEditor/Alert.js
Due: author

Removed redundant code
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author

removed full stop in error message
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author

fixed test
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author

added gcc
  eq-author-api/Dockerfile
Due: api

updated docker file
  eq-author-api/Dockerfile
Due: api

working for routing and skip tabs - needs tests
  eq-author/src/App/page/Logic/index.js
Due: author

snaps and tudy up
  eq-author/src/App/page/Logic/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/index.js
Due: author

Add warning error for empty right expression
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author

Add alternative error messages
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/constants/validationMessages.js
Due: author

Fix linting issue
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
Due: author

Add other number types into expression check
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author

refactored get availble answers
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author, api

added test
  eq-author-api/schema/tests/getAvailableAnswers.test.js
  eq-author-api/tests/utils/contextBuilder/getAvailableAnswers/index.js
Due: api

Update base.js
  eq-author-api/schema/resolvers/base.js
Due: api

linting eror
  eq-author-api/schema/resolvers/base.js
Due: api

updated coverage
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
Due: api

martyns changes plus failed test
  eq-author/src/App/page/Logic/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/index.js
  eq-author/src/App/page/Logic/index.test.js
Due: author

fixed test
  eq-author/src/App/page/Logic/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/index.test.js
Due: author

updated snaps
  eq-author/src/App/page/Logic/__snapshots__/index.test.js.snap
Due: author

update snaps
  eq-author/src/App/page/Logic/index.test.js
Due: author

first draft
  eq-publisher/src/eq_schema/builders/routing2/index.js
Due: publisher

Validate right side of routing and skip
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/ValidationError.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/MultipleChoiceAnswerOptionsSelector.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/NumberAnswerSelector.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/constants/validation-error-types.js
  eq-author/src/constants/validationMessages.js
Due: author

Remove space
  eq-author/src/App/page/Logic/BinaryExpressionEditor/ValidationError.js
Due: author

added skip logic
  eq-publisher/src/eq_schema/Block.js
  eq-publisher/src/eq_schema/builders/expressionGroup/index.js
  eq-publisher/src/eq_schema/builders/routing2/index.js
  eq-publisher/src/eq_schema/builders/skipConditions/index.js
  eq-publisher/src/eq_schema/builders/skipConditions/index.test.js
Due: publisher

Switched to screen in RTL
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author

Path conditions:
  author: any of: eq-author/
  api: any of: eq-author-api/
  publisher: any of: eq-publisher/
