Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Change red error border colours to error primary
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/Validation/Duration.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.js
  eq-author/src/App/page/Design/Validation/GroupValidations/index.js
  eq-author/src/App/page/Design/Validation/NumericValidation/CustomEditor.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/TextProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Decimal.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Fallback.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/Autocomplete/index.style.js
  eq-author/src/components/Error/ValidationError.js
  eq-author/src/components/Forms/Select/index.js
  eq-author/src/components/Forms/css.js
  eq-author/src/components/buttons/SidebarButton/index.js
  eq-author/src/components/preview/elements/Info.js
  eq-author/src/constants/theme.js
Due: author

Change add content and section button border size
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenuButtons.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/components/Panel/ErrorPanel.js
Due: author

extra test
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
Due: author

tidy up
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
Due: author

Fix calculated summary validation error
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/constants/theme.js
Due: author

Change empty calculated summary to use colour variable
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/constants/theme.js
Due: author

remove disabled from default option
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Change variant code
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/components/modals/ConfirmationModal/index.js
Due: author

EAR-1417-fix for OR option description (#2214)
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/graphql/createMutuallyExclusiveOption.graphql
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

remove disabled from default option (#2215)
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Bugfixes
  eq-author/src/App/importingContent/index.js
  eq-author/src/graphql/getQuestionnaireList.graphql
Due: author

Table can now scroll
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/QuestionnaireTable/index.js
  eq-author/src/components/QuestionnairesView/QuestionnairesTable/index.js
  eq-author/src/components/QuestionnairesView/index.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author

Styling
  eq-author/src/components/QuestionnairesView/PaginationNav/index.js
  eq-author/src/components/QuestionnairesView/index.js
Due: author

Update eq-author/src/components/QuestionnairesView/PaginationNav/index.js
  eq-author/src/components/QuestionnairesView/PaginationNav/index.js
Due: author

Update eq-author/src/components/QuestionnaireTable/index.js
  eq-author/src/components/QuestionnaireTable/index.js
Due: author

Linting and tests
  eq-author/src/components/QuestionnaireTable/index.js
  eq-author/src/components/QuestionnairesView/PaginationNav/index.js
  eq-author/src/components/QuestionnairesView/QuestionnairesTable/index.js
  eq-author/src/components/QuestionnairesView/index.js
  eq-author/src/components/modals/QuestionnaireSelectModal/QuestionnaireSelectModal.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author

Fix destination error moving for different screen sizes
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
  eq-author/src/components/Panel/ErrorPanel.js
Due: author

Bugfix
  eq-author-api/schema/resolvers/base.js
Due: api

Linting
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/App/QuestionnairesPage/withDeleteQuestionnaire.js
  eq-author/src/App/QuestionnairesPage/withDeleteQuestionnaire.test.js
Due: author

Fix calculated summary error for screen resolutions
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/components/Panel/ErrorPanel.js
Due: author

Change color values
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/components/buttons/Button/index.js
  eq-author/src/constants/theme.js
Due: author

Fix new error message
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Remove select option after option is selected
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Bugfix
  eq-author/src/App/QuestionnairesPage/index.test.js
  eq-author/src/components/QuestionnaireTable/Row.js
  eq-author/src/components/QuestionnaireTable/TableHead.js
  eq-author/src/components/QuestionnaireTable/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/Wizard/index.js
Due: author

Added a list of colours to Author
  eq-author/src/storybook/Theme/ColourComponents.js
  eq-author/src/storybook/Theme/Colours.stories.mdx
Due: none

Added a list of colours to Author
  eq-author/src/storybook/Theme/ColourComponents.js
Due: none

Added a list of colours to Author (#2217)
  eq-author/src/storybook/Theme/ColourComponents.js
  eq-author/src/storybook/Theme/Colours.stories.mdx
Due: none

Deploying to gh-pages from @ 18fef9690149c0b8c6e1a7e2f7a5bd7bb6bb1a2d 🚀
  iframe.html
  main.414905817fe6306a12bc.bundle.js
  main.414905817fe6306a12bc.bundle.js.map
  main.5aeee033bdb52bec402e.bundle.js
  main.5aeee033bdb52bec402e.bundle.js.map
  runtime~main.414905817fe6306a12bc.bundle.js.map
  runtime~main.5aeee033bdb52bec402e.bundle.js
  runtime~main.5aeee033bdb52bec402e.bundle.js.map
  vendors~main.414905817fe6306a12bc.bundle.js
  vendors~main.414905817fe6306a12bc.bundle.js.map
  vendors~main.5aeee033bdb52bec402e.bundle.js
  vendors~main.5aeee033bdb52bec402e.bundle.js.LICENSE.txt
  vendors~main.5aeee033bdb52bec402e.bundle.js.map
Due: none

Added variable name to colours
  eq-author/src/storybook/Theme/ColourComponents.js
Due: none

Used lodash
  eq-author/src/storybook/Theme/ColourComponents.js
Due: none

Added variable name to colours (#2218)
  eq-author/src/storybook/Theme/ColourComponents.js
Due: none

Fix tests
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/AnswerSelector.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/CustomEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/index.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerEditor.test.js.snap
  eq-author/src/App/page/Design/answers/dummy/TextArea/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/dummy/TextInput/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/TextProperties.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Decimal.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.test.js
  eq-author/src/components/BaseLayout/App/__snapshots__/index.test.js.snap
  eq-author/src/components/Forms/Input/__snapshots__/Input.test.js.snap
  eq-author/src/components/Forms/TextArea/__snapshots__/TextArea.test.js.snap
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
  eq-author/src/components/Toasts/ToastContainer/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/CloseButton/__snapshots__/closeButton.test.js.snap
  eq-author/src/components/buttons/SidebarButton/index.test.js
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInput.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInputDate.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableSelect.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableTypeaheadInput.test.js.snap
  eq-author/src/components/datatable/Elements/__snapshots__/TableBody.test.js.snap
  eq-author/src/constants/theme.js
Due: author

Deploying to gh-pages from @ 2902c5435d5f179147dba55896b203ad445c5b46 🚀
  iframe.html
  main.5aeee033bdb52bec402e.bundle.js
  main.5aeee033bdb52bec402e.bundle.js.map
  main.f75980832daafbd3846c.bundle.js
  main.f75980832daafbd3846c.bundle.js.map
  runtime~main.5aeee033bdb52bec402e.bundle.js.map
  runtime~main.f75980832daafbd3846c.bundle.js
  runtime~main.f75980832daafbd3846c.bundle.js.map
  vendors~main.5aeee033bdb52bec402e.bundle.js.map
  vendors~main.f75980832daafbd3846c.bundle.js
  vendors~main.f75980832daafbd3846c.bundle.js.LICENSE.txt
  vendors~main.f75980832daafbd3846c.bundle.js.map
Due: none

Add colours to storybook
  eq-author/src/storybook/Theme/ColourComponents.js
Due: none

Initial review changes
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Fallback.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/components/Panel/ErrorPanel.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
