Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

remove logging
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/CalSumContentPicker/index.js
Due: author

✅ Testing success conditions
  eq-author-api/schema/resolvers/importing.js
  eq-author-api/schema/tests/importing.test.js
Due: api

EAR-1073-add-fallback-value-for-dateRanges (#1985)
  eq-author-api/src/validation/schemas/answer.json
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/Required.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/ToggleProperty.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/ToggleProperty.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/__snapshots__/Required.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Fallback.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Fallback.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/withUpdateAnswersOfType.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/withUpdateAnswersOfType.test.js
  eq-author/src/App/page/PropertiesPanel/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/index.js
  eq-author/src/App/page/PropertiesPanel/index.test.js
  eq-author/src/graphql/updateAnswersOfType.graphql
  eq-publisher/src/utils/convertPipes.js
  eq-publisher/src/utils/convertPipes.test.js
Due: author, api, publisher

⬆️ Update Author API eslint to version 7 (#2018)
  eq-author-api/.eslintrc
  eq-author-api/middleware/identification/index.test.js
  eq-author-api/middleware/identification/verifyJwtToken.js
  eq-author-api/middleware/identification/verifyJwtToken.test.js
  eq-author-api/migrations/addFolders.js
  eq-author-api/migrations/addHistoryToQuestionnaire.js
  eq-author-api/migrations/addIsPublicFlag.js
  eq-author-api/migrations/addPublishStatusToQuestionnaire.js
  eq-author-api/migrations/addTypeToHistoryEvent.js
  eq-author-api/package.json
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/scripts/findBreakingChanges.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryUnitConsistency.js
  eq-author-api/yarn.lock
Due: api

Fix unwrappeed th
  eq-author/src/components/Table/TableHead.js
Due: author

🛠 EAR 521 - Add radio answer labels (qCodes page)
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
  eq-author/src/App/qcodes/QCodesTable/graphql/updateAnswerMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateOptionMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/constants/answer-types.js
  eq-author/src/graphql/updateOption.graphql
  eq-author/src/utils/getAllAnswersFlatMap.js
  eq-author/src/utils/stripHTML.js
Due: author

Update eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

createMutuallyExclusiveOption mutation now supports making one on a basic answer
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

Add Row TD keys
  eq-author/src/components/Table/Row.js
Due: author

fix and add tests for QuestionPicker
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/CalSumContentPicker/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/AnswerSelector.test.js.snap
  eq-author/src/components/ContentPickerv2/QuestionPicker.test.js
  eq-author/src/components/ContentPickerv2/QuestionPicker/index.js
  eq-author/src/components/ContentPickerv2/QuestionPicker/index.test.js
  eq-author/src/components/SearchBar/index.js
Due: author

Fix row arrow function
  eq-author/src/components/Table/Row.js
Due: author

linting error
  eq-author/src/components/ContentPickerv2/QuestionPicker/index.test.js
Due: author

clean up searchBar
  eq-author/src/components/SearchBar/index.js
Due: author

Delete option now deletes on basic answer and removes option key if empty
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

Fix bug preventing sort from working
  eq-author/src/components/Table/TableHead.js
  eq-author/src/components/Table/index.js
Due: author

Fix tests
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/index.test.js
  eq-author/src/components/Table/TableHead.js
Due: author

♻️ QCodeContext: use existing util function
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/utils/questionnaireUtils/index.js
Due: author

Fix row tests
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/components/Table/Row.test.js
  eq-author/src/components/Table/__snapshots__/Row.test.js.snap
Due: author

fix spacing between toggle and collapsible etc
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Fallback.js
  eq-author/src/components/Collapsible/index.js
Due: author

Import tableHeadings in Row test
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/TableHeadings.js
  eq-author/src/components/Table/Row.test.js
Due: author

Add tableHeadings prop in Row test
  eq-author/src/components/Table/Row.test.js
Due: author

Delete options now working
  eq-author-api/schema/resolvers/base.js
  eq-author/src/graphql/deleteOption.graphql
Due: author, api

adding in form type
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

fix spacing between toggle and collapsible etc (#2030)
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/Fallback.js
  eq-author/src/components/Collapsible/index.js
Due: author

Deploying to gh-pages from @ 9c459d6becd92016571c2589e0dc431d1985a097 🚀
  iframe.html
  main.47d80e608982e87f4972.bundle.js
  main.47d80e608982e87f4972.bundle.js.map
  main.c63e5df098657fccacb9.bundle.js
  main.c63e5df098657fccacb9.bundle.js.map
  runtime~main.47d80e608982e87f4972.bundle.js.map
  runtime~main.c63e5df098657fccacb9.bundle.js
  runtime~main.c63e5df098657fccacb9.bundle.js.map
  vendors~main.47d80e608982e87f4972.bundle.js.map
  vendors~main.c63e5df098657fccacb9.bundle.js
  vendors~main.c63e5df098657fccacb9.bundle.js.LICENSE.txt
  vendors~main.c63e5df098657fccacb9.bundle.js.map
Due: none

updating test
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

fixing obvious error
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

✨ API: Validate when all themes disabled
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/index.js
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author-api/src/validation/schemas/themes.json
Due: api

♻️ API: Add ERR_NO_THEME_ENABLED constant
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/index.test.js
Due: api

✨ Add Theme.validationErrorInfo resolver
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/createValidationError.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author, api

someone would pick me up on that I'm sure
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

✨ UI: VerticalTabs: add error badges to tabs
  eq-author/src/App/settings/TabItems.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/components/VerticalTabs/index.js
Due: author

Put back the styling I overwrote
  eq-author/src/App/settings/ThemesPage.js
Due: author

Update eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.js
Due: author

♻️ Themes: refactor API design
  eq-author-api/migrations/addThemeSettings.js
  eq-author-api/migrations/addThemeSettings.test.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/theme.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createTheme.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/index.js
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author-api/src/validation/schemas/themeSettings.json
  eq-author-api/src/validation/schemas/themes.json
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/index.js
  eq-author/src/components/VerticalTabs/index.js
  eq-author/src/graphql/disableTheme.graphql
  eq-author/src/graphql/enableTheme.graphql
  eq-author/src/graphql/fragments/questionnaire.graphql
  eq-author/src/graphql/getQuestionnaire.graphql
  eq-author/src/graphql/getThemeSettings.graphql
  eq-author/src/graphql/updateTheme.graphql
  eq-author/src/graphql/validationsSubscription.graphql
Due: author, api

Update eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

EAR 957 Set Form type for each theme (#2031)
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.test.js
Due: author
