Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Add initial import folder tests
  eq-author/src/App/importingContent/index.test.js
Due: author

Changed the if statments to case statements
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Add import folder extra space tests
  eq-author/src/App/importingContent/index.test.js
Due: author

Add test for importing into repeating section
  eq-author/src/App/importingContent/index.test.js
Due: author

Add import folder resolver tests
  eq-author-api/schema/tests/importing.test.js
  eq-author-api/tests/utils/contextBuilder/importing/importFolders.js
  eq-author-api/tests/utils/contextBuilder/importing/index.js
Due: api

Updated the text highlighter in design and preview pages
  eq-author/src/App/history/HistoryItem.js
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/AddItemPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/ConfirmationPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/QualifierPagePreview/index.js
  eq-author/src/App/page/Preview/QuestionPagePreview.js
  eq-author/src/App/questionConfirmation/Preview/index.js
  eq-author/src/App/section/Preview/SectionIntroPreview.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

Updated the highlight text contrast for design and preview
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/preview/elements/PageTitle.js
Due: author

Add importing list folder test
  eq-author-api/schema/tests/importing.test.js
Due: api

Add repeating answer import test
  eq-author-api/schema/tests/importing.test.js
  eq-author-api/tests/utils/contextBuilder/answer/updateAnswer.js
Due: api

Update naming of Q codes in import modals
  eq-author/src/components/modals/ImportContentModal/index.js
  eq-author/src/components/modals/ImportFolderReviewModal/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/ImportSectionReviewModal/index.js
Due: author

Unselect folders when back button is clicked on folder review modal
  eq-author/src/App/importingContent/index.js
Due: author

review changes
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Changed the condition from and to an or statment
  eq-author-api/src/validation/customKeywords/calculatedSummaryMinAnswers.js
Due: api

Revert changes
  eq-author-api/src/validation/customKeywords/calculatedSummaryMinAnswers.js
Due: api

Upated code not to use existing functions and not question page id from answer
  eq-author-api/src/validation/customKeywords/calculatedSummaryMinAnswers.js
Due: api

added logs
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

corrected logs
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

corrected save fields
  eq-author-api/db/baseQuestionnaireSchema.js
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

check logs
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

cleared logs
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

removed the information banner and added button to match with EQ
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

added tests
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/db/datastore/datastore-firestore.test.js
Due: api

increased time out for tests
  cloudbuild.yaml
Due: none

increase timeout
  cloudbuild.yaml
Due: none

Fix failing tests
  eq-author-api/src/businessLogic/answerTypeToCondition.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/utils/getContentBeforeEntity.js
Due: author, api

Fix to RTField paste
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/package.json
  eq-author/src/components/RichTextEditor/index.js
  eq-author/yarn.lock
Due: author, api

Remove redundent preserveRichFormatting
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/modals/PasteModal/index.js
  eq-author/src/components/modals/PasteModal/index.test.js
Due: author

Add getContentBeforeEntity tests
  eq-author/src/utils/getContentBeforeEntity.test.js
Due: author

Update comments
  eq-author/src/utils/getContentBeforeEntity.test.js
Due: author

updated title in test
  eq-author-api/db/datastore/datastore-firestore.test.js
Due: api

increased timeout
  cloudbuild-author-tests.yaml
Due: none

test build
  cloudbuild-author-tests.yaml
Due: none

Update value to handle the same error across different answers in an expression
  eq-author-api/src/validation/index.js
Due: api

added condition to display the question page title
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

added nhs england theme in the setting page
  eq-author-api/constants/themes.js
  eq-author/src/constants/themes.js
Due: author, api

Display error for AND logic conditions containing mutually exclusive answers on the same page as another answer in the expression group
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
Due: api

Add test for mutually exclusive answer used in logic with answer on the same page error
  eq-author-api/schema/tests/routing.test.js
Due: api
