Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Fix graphql query
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/createQuestionnaireSubmission.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author, api

Add files
  eq-author-api/utils/createSubmission.js
  eq-author/src/App/Submission/graphql/getSubmissionQuery.graphql
Due: author, api

updated Business logic
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/createList.js
  eq-author-api/src/businessLogic/index.js
Due: api

fixed duplicate submission in data
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Design/index.js
Due: author

remove temp title
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author

added answer test and delete list
  eq-author-api/schema/tests/lists.test.js
  eq-author-api/src/businessLogic/createList.js
  eq-author-api/tests/utils/contextBuilder/list/createListAnswer.js
  eq-author-api/tests/utils/contextBuilder/list/deleteList.js
  eq-author-api/tests/utils/contextBuilder/list/index.js
  eq-author-api/tests/utils/contextBuilder/list/updateList.js
Due: api

Update toggle switch backend data
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/graphql/updateSubmission.graphql
Due: author, api

Update further content backend data
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author, api

Remove unused resolvers code
  eq-author-api/schema/resolvers/base.js
Due: api

Add border around nav item
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

added tests for delete list answer
  eq-author-api/schema/tests/lists.test.js
  eq-author-api/tests/utils/contextBuilder/list/deleteListAnswer.js
  eq-author-api/tests/utils/contextBuilder/list/index.js
  eq-author-api/tests/utils/contextBuilder/list/updateListAnswer.js
Due: api

Fix svg file
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Preview/index.js
  eq-author/src/assets/icon-submission-page.svg
  eq-author/src/assets/icon-submission.svg
Due: author

Refactor preview
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/App/Submission/Preview/index.js
Due: author

updated resolvers for better cache results
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/lists.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/list/createList.js
  eq-author-api/tests/utils/contextBuilder/list/createListAnswer.js
  eq-author-api/tests/utils/contextBuilder/list/deleteList.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author, api

remove lists trial context builder
  eq-author-api/tests/utils/contextBuilder/lists/createList.js
Due: api

Add questionnaire title to preview panel
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/App/Submission/Preview/index.js
Due: author

Add panel contents
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Fix horizontal line on design page
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/constants/theme.js
Due: author

Change horizontal rule
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/constants/theme.js
Due: author

Add warning icon and text
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/components/IconText/index.js
Due: author

Add styling to icon text panel
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/components/IconText/index.js
Due: author

Fix styling error
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Conditionally render view print answers
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Add Preview proptypes
  eq-author/src/App/Submission/Preview/index.js
Due: author

Create Feedback component
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/components-themed/Feedback/feedback.js
  eq-author/src/components-themed/Feedback/index.js
  eq-author/src/constants/theme.js
Due: author

Add Feedback to storybook
  eq-author/src/storybook/Components-themed/FeedbackONS.stories.mdx
Due: none

Conditionally render feedback
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Fix bug setting all toggle switches off when toggle switch is clicked
  eq-author-api/schema/resolvers/base.js
Due: api

Add Feedback contents
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Fix styling
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Add comments panel to preview page
  eq-author/src/App/Submission/Preview/index.js
Due: author

Remove comment
  eq-author/src/App/Submission/Preview/index.js
Due: author

Add further content text
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Fix further content richtexteditor not adding new lines
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author

Change title styling
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

removed commented out console
  eq-author-api/src/validation/index.js
Due: api

Remove piping from RichTextEditor
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author

Fix bug causing submission page to be the same for all questionnaires
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/App/Submission/graphql/getSubmissionQuery.graphql
Due: author, api

Add submission page to social questionnaires
  eq-author-api/schema/resolvers/base.js
Due: api

Fix RichTextEditor font size
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author
