Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Add comment
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
Due: author

Fix to publisher URL in API as well as Percentage Bug (#2634)
  eq-author-api/docker-compose.yml
  eq-publisher/src/utils/convertPipes.js
Due: api, publisher

Fix total title validation before selecting total title text editor
  eq-author-api/src/businessLogic/createCalculatedSummary.js
Due: api

Fix tests
  eq-author-api/schema/tests/calculatedSummary.test.js
Due: api

fucnction rename
  eq-author/src/App/SignInPage/CommonPassword/index.js
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/ResetPassword/index.js
  eq-author/src/App/SignInPage/index.test.js
Due: author

Updated security header settings
  eq-author-api/server.js
Due: api

fix for migrations
  eq-author-api/middleware/runQuestionnaireMigrations.js
Due: api

redid for each
  eq-author-api/middleware/runQuestionnaireMigrations.js
Due: api

removed commented line
  eq-author-api/middleware/runQuestionnaireMigrations.js
Due: api

Fix duplicate questionnaire button
  eq-author-api/schema/resolvers/base.js
Due: api

Replace survey url with schema url
  eq-author-api/utils/sanitiseMetadata.js
Due: api

Fix tests
  eq-author-api/docker-compose.yml
  eq-author-api/utils/sanitiseMetadata.test.js
Due: api

Conditional survey URL for AWS
  eq-author-api/utils/sanitiseMetadata.js
Due: api

Revert file
  eq-author-api/docker-compose.yml
Due: api

Update tests for platforms
  eq-author-api/utils/sanitiseMetadata.test.js
Due: api

filtered metadata options doesn't reset
  eq-author/src/App/metadata/MetadataTable/Controls/KeySelect.js
Due: author

Added security headers to front end
  eq-author/nginx/sites-enabled/eq-author
Due: author

UI fix for Dropdown on LC
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
Due: author

Updated clear-site-data
  eq-author/nginx/sites-enabled/eq-author
Due: author

highlightedIndex no longer invisible
  eq-author/src/App/metadata/MetadataTable/Controls/KeySelect.js
  eq-author/src/components/Forms/Typeahead/TypeaheadMenu.js
Due: author

removedTabIndex
  eq-author/src/components/Forms/Typeahead/TypeaheadMenu.js
Due: author

prettier
  eq-author/src/App/metadata/MetadataTable/Controls/KeySelect.js
  eq-author/src/components/Forms/Typeahead/TypeaheadMenu.js
Due: author

test without clear-site-data
  eq-author/nginx/sites-enabled/eq-author
Due: author

Removed max-age for cache-control
  eq-author/nginx/sites-enabled/eq-author
Due: author

Updated Content-Security-Policy
  eq-author/nginx/sites-enabled/eq-author
Due: author

Test with original sites-enabled
  eq-author/nginx/sites-enabled/eq-author
Due: author

Added strict-transport-security
  eq-author/nginx/sites-enabled/eq-author
Due: author

Added x-frame-options
  eq-author/nginx/sites-enabled/eq-author
Due: author

added x-content-type-options
  eq-author/nginx/sites-enabled/eq-author
Due: author

added x-permitted-cross-domain-policies
  eq-author/nginx/sites-enabled/eq-author
Due: author

added referrer-policy
  eq-author/nginx/sites-enabled/eq-author
Due: author

added cross-origin policies
  eq-author/nginx/sites-enabled/eq-author
Due: author

added cache-control and pragma
  eq-author/nginx/sites-enabled/eq-author
Due: author

added permissions-policy
  eq-author/nginx/sites-enabled/eq-author
Due: author

remove decimal validation
  eq-author-api/src/validation/schemas/answer.json
Due: api

Updated permissions-policy
  eq-author/nginx/sites-enabled/eq-author
Due: author

added content-security-policy
  eq-author/nginx/sites-enabled/eq-author
Due: author

Updated content-security-policy
  eq-author/nginx/sites-enabled/eq-author
Due: author

Updated CSP child-src
  eq-author/nginx/sites-enabled/eq-author
Due: author

Updated CSP frame-ancestors
  eq-author/nginx/sites-enabled/eq-author
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
