Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

prop type to bool
  eq-author/src/components-themed/Input/input.js
Due: author

Deploying to gh-pages from @ 5369e64dc38b4001760cd4722a3d5ae6df6e2128 🚀
  iframe.html
  main.9f69ae2cd7e6144ebb03.bundle.js
  main.9f69ae2cd7e6144ebb03.bundle.js.map
  main.dc0cc40b5e77ea61ce71.bundle.js
  main.dc0cc40b5e77ea61ce71.bundle.js.map
  runtime~main.9f69ae2cd7e6144ebb03.bundle.js.map
  runtime~main.dc0cc40b5e77ea61ce71.bundle.js
  runtime~main.dc0cc40b5e77ea61ce71.bundle.js.map
  vendors~main.9f69ae2cd7e6144ebb03.bundle.js.map
  vendors~main.dc0cc40b5e77ea61ce71.bundle.js
  vendors~main.dc0cc40b5e77ea61ce71.bundle.js.LICENSE.txt
  vendors~main.dc0cc40b5e77ea61ce71.bundle.js.map
Due: none

fixed rendering issue on new validatiion
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
  eq-author-api/src/validation/schemas/logic.json
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author, api

fix to include feature flag in test
  eq-author/scripts/test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/SecondaryConditionSelector.test.js.snap
Due: author

update tests and half way through new routing test
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.test.js
Due: author, api

linter
  eq-author-api/schema/tests/routing.test.js
Due: api

remove stray log
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
Due: api

test
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
Due: author

container id changes
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

updated snaps
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
  eq-author/src/components/EditorLayout/Tabs/__snapshots__/tabs.test.js.snap
  eq-author/src/components/EditorLayout/__snapshots__/index.test.js.snap
Due: author

moved code and new test
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
Due: author

up the coverage on api tests
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/src/validation/index.test.js
Due: api

update snapshot
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/SecondaryConditionSelector.test.js.snap
Due: author

updated to padding placeholder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/dragAndDrop.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/moveContent.js
Due: author

more changes
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/dragAndDrop.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/moveContent.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
Due: author

Fixing the styels
  eq-author/src/App/pageskip/PageSkipPage.js
Due: author

error as link, fixed styling
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

allow comments on locked questionanire
  eq-author-api/schema/resolvers/base.js
Due: api

ids in page
  eq-author/src/App/pageskip/PageSkipPage.js
Due: author

create test
  eq-author-api/schema/tests/comments.test.js
Due: api

removing hard coded colours
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/pageskip/PageSkipPage.js
  eq-author/src/components/BaseLayout/index.js
  eq-author/src/components/EditorLayout/Header/index.js
Due: author

remove icon prop, hardcoded success img
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

icon as ReactComponent
  eq-author/src/components-themed/panels/panel.js
Due: author

add bosyText and other objects to import history
  eq-author-api/utils/questionnaireEvents.js
  eq-author/src/App/history/HistoryPage.js
Due: author, api

removed huge mass of commented out code
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

adding in colors
  eq-author/src/components/BaseLayout/index.js
Due: author

hiding the broken test
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
Due: author

Fix supernav test
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
Due: author

seperated import from create new Questionnaire
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/middleware/import.js
  eq-author-api/utils/questionnaireEvents.js
Due: api

default prop type removed
  eq-author/src/components-themed/panels/panel.js
Due: author

fix broken test
  eq-author-api/schema/tests/history.test.js
Due: api

changes to focus on class not id
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/pageskip/PageSkipPage.js
  eq-author/src/components/EditorLayout/Header/index.js
  eq-author/src/components/EditorLayout/index.js
Due: author

adding in filter and test changes
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
Due: author

revers focus
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
Due: author

snaps
  eq-author/src/components/EditorLayout/__snapshots__/index.test.js.snap
Due: author

removed unused event
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

removed un used lib
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
Due: author

removed unwanted id
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenuButtons.js
Due: author

test rename
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
Due: author

removed ids and fixed snaps
  eq-author/src/components/EditorLayout/Header/index.js
  eq-author/src/components/EditorLayout/Tabs/__snapshots__/tabs.test.js.snap
  eq-author/src/components/EditorLayout/Tabs/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
