Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Proptypes
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Empty.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/index.js
Due: author

Tests
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Empty.test.js
Due: author

Tests
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.js
Due: author

Tests
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Empty.js
Due: author

Fix sections and folders duplication error with or answers
  eq-author/src/graphql/duplicateFolder.graphql
  eq-author/src/graphql/duplicateSection.graphql
Due: author

Use option fragment
  eq-author/src/graphql/duplicateFolder.graphql
  eq-author/src/graphql/duplicateSection.graphql
Due: author

update section, folder and page deletions
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/calculatedSummary.test.js
  eq-author-api/src/businessLogic/deleteMetadata.js
  eq-author-api/src/businessLogic/onAnswerDeleted.js
  eq-author-api/src/businessLogic/onFolderDeleted.js
  eq-author-api/src/businessLogic/onPageDeleted.js
  eq-author-api/src/businessLogic/onSectionDeleted.js
  eq-author/src/App/section/Design/withDeleteSection.js
  eq-author/src/App/section/Design/withDeleteSection.test.js
Due: author, api

Fixes so errors update when adding and deleting a routing rule
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withCreateBinaryExpression.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withDeleteBinaryExpression.js
Due: author

Created storybook and moved icon in component
  eq-author/src/assets/icon-saving.svg
  eq-author/src/components/EditorLayout/Header/SavingIndicator/index.js
  eq-author/src/storybook/Components/SavingIndicator.stories.mdx
Due: author

Test commit
  eq-author/src/components/buttons/Button/index.js
Due: author

Test Updates
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withCreateBinaryExpression.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withDeleteBinaryExpression.test.js
Due: author

Update eq-author/src/storybook/Components/SavingIndicator.stories.mdx
  eq-author/src/storybook/Components/SavingIndicator.stories.mdx
Due: none

Fix to another edge case
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withUpdateExpressionGroup.js
Due: author

include updating all pipes when updating an answer
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/onAnswerUpdated.js
  eq-author/src/App/page/Design/answers/withDeleteAnswer.test.js
  eq-author/src/App/page/Design/answers/withUpdateAnswer.js
  eq-author/src/App/page/Design/answers/withUpdateAnswer.test.js
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
Due: author, api

Test
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.test.js
Due: author

Add options button fix
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
Due: author

Added another refetch query for the left hand side
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateLeftSide.js
Due: author

Update to left hand side test fix
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateLeftSide.test.js
Due: author

props sorted and test fixed
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.test.js
Due: author

Update to pass an error if meta data has been deleted in `Additional … (#2315)
  eq-author-api/src/validation/customKeywords/validatePipingMetadataInTitle.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/page.json
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
Due: author, api

Converted storybook page from mdx to js
  eq-author/src/components/EditorLayout/Header/SavingIndicator/index.js
  eq-author/src/storybook/Components/SavingIndicator.stories.js
  eq-author/src/storybook/Components/SavingIndicator.stories.mdx
Due: author

Updated colour to use theme
  eq-author/src/storybook/Components/SavingIndicator.stories.js
Due: none

Ear 1229 nested validation dont work with pubsub disabled (#2307)
  eq-author-api/schema/resolvers/createMutation.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withCreateBinaryExpression.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withCreateBinaryExpression.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withDeleteBinaryExpression.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withDeleteBinaryExpression.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateBinaryExpression.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateBinaryExpression.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateLeftSide.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateLeftSide.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateRightSide.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateRightSide.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withDeleteRule.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withDeleteRule.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withUpdateExpressionGroup.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withUpdateRule.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withUpdateRule.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withCreateRule.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withCreateRule.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withUpdateRouting.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withUpdateRouting.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/withCreateRouting.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/withCreateRouting.test.js
Due: author, api

Tests
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.test.js
Due: author

Updated args for linting
  eq-author/src/storybook/Components/SavingIndicator.stories.js
Due: none

Tests
  eq-author-api/schema/tests/calculatedSummary.test.js
Due: api

props
  eq-author/src/App/section/Design/SectionEditor/HubSettings/index.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Preview/SectionIntroPreview.test.js
Due: author

tidy up
  eq-author-api/src/businessLogic/onAnswerUpdated.js
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
Due: author, api

more props and a snap
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.test.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
Due: author

props
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.test.js
Due: author

props and snaps
  eq-author/src/App/section/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Preview/index.test.js
Due: author

one more props
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
Due: author

Mr C
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
Due: author

updated snap
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
Due: author

Deploying to gh-pages from @ 2bbf14eaf114f5ce9db79992ac37a62e870e31ce 🚀
  iframe.html
  main.b0775c7c1ecbec120b93.bundle.js
  main.b0775c7c1ecbec120b93.bundle.js.map
  main.f18d9294923ebbef2fc9.bundle.js
  main.f18d9294923ebbef2fc9.bundle.js.map
  runtime~main.b0775c7c1ecbec120b93.bundle.js
  runtime~main.b0775c7c1ecbec120b93.bundle.js.map
  runtime~main.f18d9294923ebbef2fc9.bundle.js.map
  vendors~main.b0775c7c1ecbec120b93.bundle.js
  vendors~main.b0775c7c1ecbec120b93.bundle.js.LICENSE.txt
  vendors~main.b0775c7c1ecbec120b93.bundle.js.map
  vendors~main.f18d9294923ebbef2fc9.bundle.js
  vendors~main.f18d9294923ebbef2fc9.bundle.js.map
Due: none

improve test coverage
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/MultipleChoiceAnswer.oldtest.js
  eq-author/src/components/DragAndDrop/index.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

Display target coverage percent
  cloudbuild-author-api-tests.yaml
  cloudbuild-author-tests.yaml
  cloudbuild-publisher-tests.yaml
Due: none

linting issue fixed
  eq-author/src/components/RichTextEditor/index.js
Due: author

Bug fix and removal of unwanter Props
  eq-author/src/App/section/Design/SectionEditor/HubSettings/index.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
Due: author
