Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Add migration to convert mutually exclusive options to new answer type
  eq-author-api/migrations/convertMutuallyExclusiveOptions.js
  eq-author-api/migrations/index.js
Due: api

Fix front end tests
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.test.js
  eq-author/src/components/preview/Answers/__snapshots__/MultipleChoiceAnswer.test.js.snap
Due: author

turn off logic
  eq-author/src/App/page/Design/index.js
Due: author

remove comment
  eq-author/src/components/ContentPickerv2/index.js
Due: author

removed unwanted headings and link to logic
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author

Them lines
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author

Add validation error if the only answer on the page is mutually exclusive
  eq-author-api/src/validation/schemas/page.json
Due: api

prevent flashing of header on loading
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author

removed comments
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author

just EditorLayout wrapper
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author

Add migration test
  eq-author-api/migrations/convertMutuallyExclusiveOptions.test.js
Due: api

tweaked mongo config
  eq-author-api/jest-mongodb-config.js
Due: api

Test new answers are created before mutually exclusive answer
  eq-author-api/schema/tests/basicAnswer.test.js
Due: api

Remove unused comments
  eq-author/src/App/page/Design/answers/MutuallyExclusive/index.js
Due: author

Replace MutuallyExclusive component with MultipleChoiceAnswer
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
  eq-author/src/App/page/Design/answers/MutuallyExclusive/index.js
Due: author

Remove unused code
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author

Add AnswerEditor test
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.test.js
Due: author

Move mutually exclusive collapsible description to mutually exclusive answer
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Add mutually exclusive test to MultipleChoiceAnswer
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.test.js
Due: author

Test mutually exclusive option styling
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
Due: author

Add mutually exclusive QCode table types
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/constants/answer-types.js
Due: author

Change mutually exclusive QCode type description between GCP and AWS
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Remove mutually exclusive answer label
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Remove unused feature flag conditional
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Initial AnswerTypeGrid test
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.test.js
  eq-author/src/utils/featureFlags/index.js
Due: author

Revert tests
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.test.js
  eq-author/src/utils/featureFlags/index.js
Due: author

Add answersHaveAnswerType function test
  eq-author/src/utils/answersHaveAnswerType.test.js
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

fix toggling additional guidance bug
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

updated workflows
  .github/workflows/buildAuthorRelease.yml
  .github/workflows/buildAuthorStaging.yml
Due: none

updated pipelines
  .github/workflows/buildAuthorRelease.yml
  .github/workflows/buildAuthorStaging.yml
Due: none

Remove mutuallyExclusiveAnswer feature flag
  eq-author-api/migrations/convertMutuallyExclusiveOptions.js
  eq-author-api/migrations/convertMutuallyExclusiveOptions.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/components/AnswerContent/MutuallyExclusive/index.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/constants/answer-types.js
Due: author, api

Add mutually exclusive AnswerTypeSelector tests
  eq-author/src/components/AnswerTypeSelector/index.test.js
Due: author

Add test for move penultimate answer down
  eq-author/src/components/Reorder/index.test.js
Due: author

Add preview mutually exclusive option input styling test
  eq-author/src/App/SignInPage/index.test.js
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.test.js
  eq-author/src/components/preview/Answers/__snapshots__/MultipleChoiceAnswer.test.js.snap
Due: author

Remove unused test
  eq-author-api/migrations/convertMutuallyExclusiveOptions.test.js
Due: api

Fix accessibility errors on preview page
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
Due: author

Update snapshots
  eq-author/src/components/preview/Answers/__snapshots__/MultipleChoiceAnswer.test.js.snap
Due: author

dynamicAnswer typedefs
  eq-author-api/schema/typeDefs.js
Due: api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
