Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Add default legal basis when questionnaire is created
  eq-author-api/schema/resolvers/base.js
Due: api

Add form type validation
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Add eQ ID validation
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Convert validation messages to use function
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Get settings error badge from questionnaire settings data
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Enable open in eQ button based on settings errors
  eq-author/src/App/viewSurvey/ViewSurveyPage.js
Due: author

Fix auto focus test
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/__snapshots__/BasicAnswer.test.js.snap
Due: author

Fix validation error not displayed for form type and eQ ID when questionnaire is created
  eq-author-api/schema/resolvers/base.js
Due: api

Remove vertical tabs and unused files
  eq-author/src/App/settings/EqId/index.js
  eq-author/src/App/settings/EqId/index.test.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/FormType/index.test.js
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Remove themeSettings validation
  eq-author-api/src/validation/schemas/index.js
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author-api/src/validation/schemas/themeSettings.json
Due: api

Remove theme settings page and route
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/App/settings/index.js
Due: author

Replace general settings with settings
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/App/settings/SettingsPage.test.js
  eq-author/src/App/settings/index.js
  eq-author/src/graphql/getSettings.graphql
Due: author

Remove themeSettings query
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
  eq-author/src/App/settings/TabItems.js
  eq-author/src/App/settings/utils.js
  eq-author/src/graphql/getThemeSettings.graphql
Due: author

Refactor main navigation hasSettingsErrors
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Add migration to convert theme settings
  eq-author-api/migrations/convertThemeSettingsToQuestionnaireSettings.js
  eq-author-api/migrations/index.js
  eq-author-api/schema/typeDefs.js
Due: api

Piping answer validation
  eq-author-api/src/validation/index.test.js
Due: api

Fix migration and incorrect IDs
  eq-author-api/migrations/convertThemeSettingsToQuestionnaireSettings.js
  eq-author/src/constants/themeSettings.js
  eq-author/src/constants/themes.js
Due: author, api

Change theme and legal basis widths to fit content
  eq-author/src/App/settings/LegalBasisSelect/index.js
  eq-author/src/App/settings/ThemeSelect/index.js
Due: author

Remove missing theme error
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/index.test.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Remove unused theme errors
  eq-author/src/constants/validationMessages.js
Due: author

Update snapshots
  eq-author/src/App/introduction/Preview/IntroductionPreview/__snapshots__/index.test.js.snap
  eq-author/src/App/settings/LegalBasisSelect/__snapshots__/index.test.js.snap
Due: author

Fix failing section test
  eq-author/src/App/section/Design/index.test.js
Due: author

Add error outlines to settings fields
  eq-author/src/App/settings/SettingsPage.js
Due: author

Fix tests for view survey button
  eq-author/src/App/viewSurvey/ViewSurveyPage.test.js
Due: author

Initial commit
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/metadata/MetadataPage.js
  eq-author/src/App/metadata/MetadataTable/__snapshots__/Row.test.js.snap
  eq-author/src/App/metadata/MetadataTable/index.js
  eq-author/src/App/metadata/index.js
  eq-author/src/components/VerticalTabs/index.js
  eq-author/src/components/VerticalTabs/index.test.js
  eq-author/src/constants/entities.js
  eq-author/src/constants/modal-content.js
  eq-author/src/utils/UrlUtils.js
Due: author

Fix legal basis test
  eq-author/src/App/settings/LegalBasisSelect/__snapshots__/index.test.js.snap
  eq-author/src/App/settings/LegalBasisSelect/index.test.js
Due: author

Comment out list answer validation
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
Due: api

Add settings main navigation error test
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
Due: author

Add collection list navigation item test
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
Due: author

Relocate metadata contents, and fix and update tests
  eq-author/src/App/metadata/GetMetadataQuery.js
  eq-author/src/App/metadata/MetadataPage.js
  eq-author/src/App/metadata/MetadataPage.test.js
  eq-author/src/App/metadata/MetadataTable/Controls/FallbackSelect.js
  eq-author/src/App/metadata/MetadataTable/Controls/FallbackSelect.test.js
  eq-author/src/App/metadata/MetadataTable/Controls/KeySelect.js
  eq-author/src/App/metadata/MetadataTable/Controls/KeySelect.test.js
  eq-author/src/App/metadata/MetadataTable/Controls/Select.js
  eq-author/src/App/metadata/MetadataTable/Controls/Select.test.js
  eq-author/src/App/metadata/MetadataTable/Controls/__snapshots__/KeySelect.test.js.snap
  eq-author/src/App/metadata/MetadataTable/Controls/__snapshots__/Select.test.js.snap
  eq-author/src/App/metadata/MetadataTable/Controls/index.js
  eq-author/src/App/metadata/MetadataTable/Row.js
  eq-author/src/App/metadata/MetadataTable/Row.test.js
  eq-author/src/App/metadata/MetadataTable/__snapshots__/Row.test.js.snap
  eq-author/src/App/metadata/MetadataTable/index.js
  eq-author/src/App/metadata/MetadataTable/index.test.js
  eq-author/src/App/metadata/MetadataTable/mock.js
  eq-author/src/App/metadata/NoMetadata.js
  eq-author/src/App/metadata/NoMetadata.test.js
  eq-author/src/App/metadata/flag.svg
  eq-author/src/App/metadata/icon-info.svg
  eq-author/src/App/metadata/withCreateMetadata.js
  eq-author/src/App/metadata/withCreateMetadata.test.js
  eq-author/src/App/metadata/withDeleteMetadata.js
  eq-author/src/App/metadata/withDeleteMetadata.test.js
  eq-author/src/App/metadata/withUpdateMetadata.js
  eq-author/src/App/metadata/withUpdateMetadata.test.js
Due: author

Add new files and folder name tweak
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
  eq-author/src/App/dataSettings/SampleFileData/GetMetadataQuery.js
  eq-author/src/App/dataSettings/SampleFileData/NoSampleFileData.js
  eq-author/src/App/dataSettings/SampleFileData/NoSampleFileData.test.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/FallbackSelect.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/FallbackSelect.test.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/KeySelect.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/KeySelect.test.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/Select.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/Select.test.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/__snapshots__/KeySelect.test.js.snap
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/__snapshots__/Select.test.js.snap
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Controls/index.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Row.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/Row.test.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/__snapshots__/Row.test.js.snap
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/index.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/index.test.js
  eq-author/src/App/dataSettings/SampleFileData/SampleFileDataTable/mock.js
  eq-author/src/App/dataSettings/SampleFileData/flag.svg
  eq-author/src/App/dataSettings/SampleFileData/icon-info.svg
  eq-author/src/App/dataSettings/SampleFileData/index.js
  eq-author/src/App/dataSettings/SampleFileData/index.test.js
  eq-author/src/App/dataSettings/SampleFileData/withCreateMetadata.js
  eq-author/src/App/dataSettings/SampleFileData/withCreateMetadata.test.js
  eq-author/src/App/dataSettings/SampleFileData/withDeleteMetadata.js
  eq-author/src/App/dataSettings/SampleFileData/withDeleteMetadata.test.js
  eq-author/src/App/dataSettings/SampleFileData/withUpdateMetadata.js
  eq-author/src/App/dataSettings/SampleFileData/withUpdateMetadata.test.js
  eq-author/src/App/dataSettings/common.js
  eq-author/src/App/dataSettings/index.js
Due: author

Add survey ID test
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add form type test
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add update eQ ID test
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add empty survey ID test
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add empty form type error test
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add empty eQ ID test
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add convert theme settings migration test
  eq-author-api/migrations/convertThemeSettingsToQuestionnaireSettings.test.js
Due: api

Rename metadataIcon to dataIcon
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/icons/data-icon.svg
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
