Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Added fullstop; fixed (hopefully) feature flags
  eq-author/src/utils/featureFlags/index.js
Due: author

Ear 1346 fix feature flags v2 (#2121)
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/config.js
  eq-author/src/utils/featureFlags/index.js
Due: author

Removed unecessary spec
  eq-author/config/env.js
  eq-author/public/index.html
Due: author

Removed unecessary spec (#2122)
  eq-author/config/env.js
  eq-author/public/index.html
Due: author

Added fallback for AWS
  eq-author/src/config.js
Due: author

Added fallback for AWS (#2123)
  eq-author/src/config.js
Due: author

Update eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
Due: author

Initial change to answer panel
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Updated button color and position
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/components/buttons/DeleteButton/index.js
  eq-author/src/components/buttons/MoveButton/icon-arrow-down.svg
  eq-author/src/components/buttons/MoveButton/icon-arrow-up.svg
  eq-author/src/components/buttons/MoveButton/index.js
Due: author

Section title now shows when hub enabled
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author, api

Fixed linting
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Updated snapshots
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/DeleteButton/__snapshots__/deletebutton.test.js.snap
  eq-author/src/components/buttons/MoveButton/icon-arrow-up.svg
  eq-author/src/components/datatable/Controls/__snapshots__/DeleteRowButton.test.js.snap
Due: author

Adjusted alignment
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/components/buttons/MoveButton/icon-arrow-up.svg
Due: author

Updated colour to theme
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Removed console.log
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

Update eq-author/src/components/buttons/MoveButton/icon-arrow-up.svg
  eq-author/src/components/buttons/MoveButton/icon-arrow-up.svg
Due: author

update ajv to include section title when hub ON
  eq-author-api/src/validation/schemas/section.json
Due: api

Made new close button and updated modal
  eq-author/src/assets/icon-close.svg
  eq-author/src/components/buttons/CloseButton/__snapshots__/closeButton.test.js.snap
  eq-author/src/components/buttons/CloseButton/closeButton.test.js
  eq-author/src/components/buttons/CloseButton/index.js
  eq-author/src/components/modals/Modal/index.js
Due: author

Final tweeks
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/components/BaseLayout/App/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/DeleteButton/__snapshots__/deletebutton.test.js.snap
  eq-author/src/components/buttons/DeleteButton/index.js
  eq-author/src/components/buttons/MoveButton/icon-arrow-up.svg
  eq-author/src/components/buttons/MoveButton/index.js
  eq-author/src/components/datatable/Controls/__snapshots__/DeleteRowButton.test.js.snap
  eq-author/src/constants/theme.js
Due: author

Deploying to gh-pages from @ f2e509c03d9250ca2585b13bd132b936d49b1908 🚀
  iframe.html
  main.1e441dc50561bee130c9.bundle.js
  main.1e441dc50561bee130c9.bundle.js.map
  main.ee33fd941005e476ed13.bundle.js
  main.ee33fd941005e476ed13.bundle.js.map
  runtime~main.1e441dc50561bee130c9.bundle.js
  runtime~main.1e441dc50561bee130c9.bundle.js.map
  runtime~main.ee33fd941005e476ed13.bundle.js.map
  vendors~main.1e441dc50561bee130c9.bundle.js
  vendors~main.1e441dc50561bee130c9.bundle.js.LICENSE.txt
  vendors~main.1e441dc50561bee130c9.bundle.js.map
  vendors~main.ee33fd941005e476ed13.bundle.js.map
Due: none

add test
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
Due: author

tiny update to test wording
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
Due: author

Change variant code to be more reusable
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
  eq-author/src/components/Collapsible/index.js
Due: author

fix for broken title
  eq-author-api/schema/resolvers/base.js
Due: api

EAR-1347-validate empty section title when HUB is ON (#2126)
  eq-author-api/src/validation/schemas/section.json
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
Due: author, api

♻️ EAR 1096 - Refactor AJV + migrate to v8
  eq-author-api/package.json
  eq-author-api/schema/tests/page.test.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryUnitConsistency.js
  eq-author-api/src/validation/customKeywords/idExists.js
  eq-author-api/src/validation/customKeywords/idPreceedsCurrentEntity.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/linkedDecimalValidation.js
  eq-author-api/src/validation/customKeywords/requiredWhenOtherFieldsPopulated.js
  eq-author-api/src/validation/customKeywords/requiredWhenQuestionnaireSetting.js
  eq-author-api/src/validation/customKeywords/textLengthInRange.js
  eq-author-api/src/validation/customKeywords/uniquePropertyValueInArrayOfObjects.js
  eq-author-api/src/validation/customKeywords/validateDuration.js
  eq-author-api/src/validation/customKeywords/validateExpression.js
  eq-author-api/src/validation/customKeywords/validateLatestAfterEarliest.js
  eq-author-api/src/validation/customKeywords/validateLeftHandSide.js
  eq-author-api/src/validation/customKeywords/validateMultipleChoiceCondition.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/customKeywords/validateRoutingDestination.js
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/logic.json
  eq-author-api/src/validation/schemas/page.json
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author-api/src/validation/schemas/section.json
  eq-author-api/src/validation/schemas/validation.json
  eq-author-api/utils/defaultAnswerProperties.js
  eq-author-api/yarn.lock
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/TextProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
Due: author, api

add missing proptypes to naughty tests (#2112)
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/AnswerSelector.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Design/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.test.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.test.js
  eq-author/src/App/page/Preview/QuestionPagePreview.test.js
  eq-author/src/App/section/Design/SectionEditor/MoveSectionModal/__snapshots__/index.test.js.snap
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/NoSkipCondtions.test.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/index.test.js
  eq-author/src/components/RichTextEditor/__snapshots__/PipingMenu.test.js.snap
  eq-author/src/tests/utils/createMockQuestionnaire.js
Due: author

Fix duplicate CSS properties
  eq-author/src/components/Collapsible/index.js
Due: author

Make changes and fix Storybook error
  eq-author/src/components/Collapsible/index.js
  eq-author/src/storybook/Components/Collapsible.stories.mdx
Due: author

Deploying to gh-pages from @ e967e06afa8379438d2e906485067d4e05aed33b 🚀
  iframe.html
  main.1e441dc50561bee130c9.bundle.js
  main.1e441dc50561bee130c9.bundle.js.map
  main.f9f3b26db550c5c5690f.bundle.js
  main.f9f3b26db550c5c5690f.bundle.js.map
  runtime~main.1e441dc50561bee130c9.bundle.js.map
  runtime~main.f9f3b26db550c5c5690f.bundle.js
  runtime~main.f9f3b26db550c5c5690f.bundle.js.map
  vendors~main.1e441dc50561bee130c9.bundle.js
  vendors~main.1e441dc50561bee130c9.bundle.js.map
  vendors~main.f9f3b26db550c5c5690f.bundle.js
  vendors~main.f9f3b26db550c5c5690f.bundle.js.LICENSE.txt
  vendors~main.f9f3b26db550c5c5690f.bundle.js.map
Due: none

Enable section logic tab
  eq-author/src/App/section/Design/index.js
Due: author

Add routing to section logic tab
  eq-author/src/App/section/Preview/index.js
  eq-author/src/App/section/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/utils/UrlUtils.js
Due: author

🛠 EAR 556 - Fix onblur post 🐲💧 changes
  eq-author/src/components/NavItem/index.js
Due: author

🧹 Remove comments
  eq-author-api/src/validation/customKeywords/index.js
Due: api

EAR 1096 - Refactor AJV schema + upgrade to v8 (#2117)
  eq-author-api/package.json
  eq-author-api/schema/tests/page.test.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryUnitConsistency.js
  eq-author-api/src/validation/customKeywords/idExists.js
  eq-author-api/src/validation/customKeywords/idPreceedsCurrentEntity.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/linkedDecimalValidation.js
  eq-author-api/src/validation/customKeywords/requiredWhenOtherFieldsPopulated.js
  eq-author-api/src/validation/customKeywords/requiredWhenQuestionnaireSetting.js
  eq-author-api/src/validation/customKeywords/textLengthInRange.js
  eq-author-api/src/validation/customKeywords/uniquePropertyValueInArrayOfObjects.js
  eq-author-api/src/validation/customKeywords/validateDuration.js
  eq-author-api/src/validation/customKeywords/validateExpression.js
  eq-author-api/src/validation/customKeywords/validateLatestAfterEarliest.js
  eq-author-api/src/validation/customKeywords/validateLeftHandSide.js
  eq-author-api/src/validation/customKeywords/validateMultipleChoiceCondition.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/customKeywords/validateRoutingDestination.js
  eq-author-api/src/validation/customKeywords/validateRoutingLogicalAND.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/logic.json
  eq-author-api/src/validation/schemas/page.json
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author-api/src/validation/schemas/section.json
  eq-author-api/src/validation/schemas/validation.json
  eq-author-api/utils/defaultAnswerProperties.js
  eq-author-api/yarn.lock
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/TextProperties.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
Due: author, api

🛠 EAR 556 - Fix onblur post 🐲💧 changes (#2137)
  eq-author/src/components/NavItem/index.js
Due: author

Deploying to gh-pages from @ ec5e383e405fcd8564b197139c306f321b67c2ca 🚀
  iframe.html
  main.4634015bf3b89f064411.bundle.js
  main.4634015bf3b89f064411.bundle.js.map
  main.f9f3b26db550c5c5690f.bundle.js
  main.f9f3b26db550c5c5690f.bundle.js.map
  runtime~main.4634015bf3b89f064411.bundle.js
  runtime~main.4634015bf3b89f064411.bundle.js.map
  runtime~main.f9f3b26db550c5c5690f.bundle.js.map
  vendors~main.4634015bf3b89f064411.bundle.js
  vendors~main.4634015bf3b89f064411.bundle.js.LICENSE.txt
  vendors~main.4634015bf3b89f064411.bundle.js.map
  vendors~main.f9f3b26db550c5c5690f.bundle.js.map
Due: none

Initial setup display content
  eq-author/src/App/section/Logic/Display/DisplayPage/index.js
  eq-author/src/App/section/Logic/Display/index.js
  eq-author/src/App/section/Logic/index.js
  eq-author/src/App/section/index.js
Due: author

Updated icon
  eq-author/src/assets/icon-close.svg
Due: author

set up basic front end - needs props and onChange
  eq-author/src/App/section/Design/SectionEditor/HubSettings/index.js
  eq-author/src/App/section/Design/SectionEditor/HubSettings/index.test.js
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
