Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Add sample use query
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.test.js
Due: author

Add add item preview page tests
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/AddItemPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/AddItemPagePreview/index.test.js
  eq-author/src/components/preview/Answers/index.js
Due: author

Add qualifier page tests
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/AddItemPagePreview/index.test.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/QualifierPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/QualifierPagePreview/index.test.js
Due: author

Add list collector confirmation preview tests
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/AddItemPagePreview/index.test.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/ConfirmationPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/ConfirmationPagePreview/index.test.js
Due: author

Update snapshot
  eq-author/src/components/preview/Answers/__snapshots__/index.test.js.snap
Due: author

Fix failing legacy list collector page test
  eq-author-api/src/validation/index.test.js
Due: api

Add create list collector folder API test
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/tests/utils/contextBuilder/folder/createListCollectorFolder.js
  eq-author-api/tests/utils/contextBuilder/folder/index.js
Due: api

Add migration and tests
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateIntroductionPreviewQuestionsSettings.js
  eq-author-api/migrations/updateIntroductionPreviewQuestionsSettings.test.js
Due: api

Add update page API test
  eq-author-api/schema/tests/page.test.js
  eq-author-api/tests/utils/contextBuilder/page/index.js
  eq-author-api/tests/utils/contextBuilder/page/updatePage.js
Due: api

Add list collector qualifier page resolver test
  eq-author-api/schema/tests/listCollectorPages.test.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
Due: api

Add list collector add item page resolver test
  eq-author-api/schema/tests/listCollectorPages.test.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
Due: api

Add list collector confirmation page resolver test
  eq-author-api/schema/tests/listCollectorPages.test.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
Due: api

Refactor tests for list collector pages
  eq-author-api/schema/tests/listCollectorPages.test.js
Due: api

Add test for deleting collection list emptying folder list ID
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/tests/utils/contextBuilder/folder/index.js
  eq-author-api/tests/utils/contextBuilder/folder/updateFolder.js
Due: api

fix total number validation
  eq-author-api/schema/resolvers/base.js
Due: api

Update check for if folder is list collector folder
  eq-author/src/App/folder/Design/index.js
Due: author

update page descriptions and title
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/questionConfirmation/Design/Editor.js
  eq-author/src/components/PageTitle/PageTitleInput.js
  eq-author/src/components/PageTitle/index.js
Due: author

EAR 1948 Option values for rad-chk-ans
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/App/qcodes/QcodesPage.js
  eq-author/src/App/qcodes/QcodesPage.test.js
  eq-author/src/components/Panel/index.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/constants/validationMessages.js
Due: author

fix tests
  eq-author/src/App/questionConfirmation/Design/__snapshots__/Editor.test.js.snap
  eq-author/src/components/PageTitle/index.js
  eq-author/src/components/PageTitle/index.test.js
Due: author

Initial push for sanity check
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/components-themed/Modal/modal.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

Addition
  eq-author/src/App/settings/SettingsPage.js
Due: author

loading and error conditions on the data query
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

removed conditional ternary operator
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

initial state change
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

removed unnecessary comments
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Fixed qcode
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Updated error message and test
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

Adjusted column widths
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

add validation to decimal
  eq-author-api/src/validation/schemas/answer.json
  eq-author/src/components/AnswerContent/AnswerProperties/NumberProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/UnitProperties.js
  eq-author/src/components/AnswerContent/Decimal/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

test changes
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

add test
  eq-author/src/components/AnswerContent/Decimal/index.test.js
Due: author

test fix
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

Disable repeating section toggle switch when section has list collector folder
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/listCollectorPages.test.js
Due: api

validation tests
  eq-author-api/src/validation/index.test.js
Due: api

Fix piping list collector qualifier and confirmation answers
  eq-author/src/components/ContentPickerv3/AnswerPicker.js
Due: author

added ajv and validation message for empty decimal error
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/validation.json
  eq-author/src/components/AnswerContent/Decimal/index.test.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Add answer picker test for filtered list collector pages
  eq-author/src/components/ContentPickerv3/AnswerPicker.test.js
  eq-author/src/components/ContentPickerv3/Options.js
Due: author

update tests
  eq-author/src/components/AnswerContent/Decimal/index.test.js
Due: author

Fix DOM prop console error
  eq-author/src/components/PageTitle/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
