Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Fixes to ID issues that was causing problems with EAR-1485 and EAR-1397
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/utils/helpers.js
Due: api

added validation
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/schemas/index.js
  eq-author-api/src/validation/schemas/list.json
  eq-author-api/src/validation/schemas/questionnaire.json
Due: api

adding delete
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

Fix multiple rules being added
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RoutingTransition.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/moveRule.graphql
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withMoveRule.js
Due: author

delete added
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

remeve added
  eq-author-api/schema/resolvers/base.js
Due: api

removed spaces
  eq-author-api/schema/resolvers/base.js
Due: api

fixed bug
  eq-author-api/schema/resolvers/base.js
Due: api

Fix props
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.js
Due: author

updated answerGetter
  eq-author-api/schema/resolvers/utils/answerGetters.js
Due: api

Added delete answer from list
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/schema/resolvers/utils/listGetters.js
  eq-author-api/schema/typeDefs.js
Due: api

Fix move routing rules
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
Due: api

Deploying to gh-pages from @ 91e840378376596701b25fa2d5890d223805bd1f 🚀
  iframe.html
  main.10553e0152d06757d3f8.bundle.js
  main.10553e0152d06757d3f8.bundle.js.map
  main.dc0cc40b5e77ea61ce71.bundle.js
  main.dc0cc40b5e77ea61ce71.bundle.js.map
  runtime~main.10553e0152d06757d3f8.bundle.js
  runtime~main.10553e0152d06757d3f8.bundle.js.map
  runtime~main.dc0cc40b5e77ea61ce71.bundle.js.map
  vendors~main.10553e0152d06757d3f8.bundle.js
  vendors~main.10553e0152d06757d3f8.bundle.js.LICENSE.txt
  vendors~main.10553e0152d06757d3f8.bundle.js.map
  vendors~main.dc0cc40b5e77ea61ce71.bundle.js
  vendors~main.dc0cc40b5e77ea61ce71.bundle.js.map
Due: none

Fix tab index bug
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

EAR-1559-header component (#2420)
  eq-author/.storybook/preview-head.html
  eq-author/public/index.html
  eq-author/src/assets/ons-logo.svg
  eq-author/src/components-themed/Header/index.js
  eq-author/src/constants/theme.js
  eq-author/src/storybook/Components-themed/ExampleList/index.js
  eq-author/src/storybook/Components-themed/HeaderONS.stories.mdx
Due: author

Deploying to gh-pages from @ 7bb118e2b1f017ee730691ef62fed96a31b5640d 🚀
  iframe.html
  main.10553e0152d06757d3f8.bundle.js
  main.10553e0152d06757d3f8.bundle.js.map
  main.13504e2f81af8fe139c4.bundle.js
  main.13504e2f81af8fe139c4.bundle.js.map
  runtime~main.10553e0152d06757d3f8.bundle.js.map
  runtime~main.13504e2f81af8fe139c4.bundle.js
  runtime~main.13504e2f81af8fe139c4.bundle.js.map
  vendors~main.10553e0152d06757d3f8.bundle.js
  vendors~main.10553e0152d06757d3f8.bundle.js.map
  vendors~main.13504e2f81af8fe139c4.bundle.js
  vendors~main.13504e2f81af8fe139c4.bundle.js.LICENSE.txt
  vendors~main.13504e2f81af8fe139c4.bundle.js.map
Due: none

Fix snapshots
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/SkipLogicEditor/SkipConditionEditor/__snapshots__/index.test.js.snap
Due: author

Add proptypes
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.js
Due: author

Fix tab index returning false error
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Remove unused comments
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Added list answer methods
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

Add comment for Reorder props
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Fix margin on OR AND options
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Fix broken test
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
Due: author

Fix OR AND label margin
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Fix incorrect name
  eq-author-api/tests/utils/contextBuilder/routing/moveRule.js
Due: api

bug fix test
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/tests/skipConditions.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author, api

test fix
  eq-author-api/schema/tests/skipConditions.test.js
Due: api

test commit
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

test fix
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

fixed typos in defs
  eq-author-api/schema/typeDefs.js
Due: api

tweaks to ids
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

updated delete answer from list
  eq-author-api/schema/resolvers/base.js
Due: api

removed space
  eq-author-api/schema/resolvers/base.js
Due: api

added validation
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/linkedDecimalValidation.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/list.json
Due: api

Implement move routing rule test
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author-api/tests/utils/contextBuilder/routing/index.js
  eq-author-api/tests/utils/contextBuilder/routing/moveRule.js
Due: api

Initial landing page
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/App/collectionLists/index.js
  eq-author/src/constants/entities.js
  eq-author/src/utils/UrlUtils.js
Due: author

fix linting errors
  eq-author/src/components-themed/buttons/button.js
  eq-author/src/components/Accordion/index.js
Due: author

Fix error
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Update snapshots
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
