Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

adding number properties test
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/__snapshots__/NumberProperties.test.js.snap
Due: author

Changest to AnswerProp Test needs fixing
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.test.js
Due: author

Convert NumberProperties test to RTL
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.test.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/__snapshots__/NumberProperties.test.js.snap
Due: author

Number properties decimal test
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.test.js
Due: author

Test changes
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.test.js
Due: author

Fix date preview test
  eq-author/src/App/page/Design/Validation/DatePreview.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/DatePreview.test.js.snap
Due: author

Deleted test as it's already covered
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.test.js
Due: author

Linting
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateRangeProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
Due: author

Remove snapshot
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/__snapshots__/index.test.js.snap
Due: author

Remove unused snapshot
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/__snapshots__/index.test.js.snap
Due: author

Text area open by default if properties changed
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/TextAreaProperties.js
Due: author

Text field, radio and checkbox open by default if properties changed
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/index.js
Due: author

Date properties default collapsible
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateProperties.js
Due: author

Date range default open collapsible
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DateRangeProperties.js
Due: author

Duration open by default if properties changed
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.js
Due: author

Numbner Prop changes
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
Due: author

Number properties default collapsible
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
Due: author

Fix NumberProperties test
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.test.js
Due: author

Now validates invalid destination with hub
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/docker-compose.yml
  eq-author-api/src/validation/customKeywords/validateRoutingDestination.js
  eq-author/src/constants/validationMessages.js
Due: author, api

removed panel
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Decimal/index.js
  eq-author/src/components/AdditionalContent/Required/index.js
Due: author

added toggle for advanced
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

typo
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Tests
  eq-author-api/src/validation/index.test.js
Due: api

Cleanup
  eq-author-api/docker-compose.yml
Due: api

added HR
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

moved decimals
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Add holding page code to branch
  eq-author/src/assets/icon-construction.svg
  holding-page.html
Due: author

EAR-1400-validate-routing-destinations-when-hub-turned-on (#2248)
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/validateRoutingDestination.js
  eq-author-api/src/validation/index.test.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Icon styling changes
  holding-page.html
Due: none

Use Author colour scheme
  holding-page.html
Due: none

Fix text styling
  holding-page.html
Due: none

Remove icon border
  holding-page.html
Due: none

Convert from class to ID
  holding-page.html
Due: none

Revert from IDs to classes
  holding-page.html
Due: none

Fix section duplication with checkbox or answer requires refresh
  eq-author/src/graphql/duplicateSection.graphql
Due: author

Fix duplicate folder with checkbox or option
  eq-author/src/graphql/duplicateFolder.graphql
Due: author

added advanced component
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AdditionalContent/AdvancedProperties/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/index.js
Due: author

updated duration
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/DurationProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/NumberProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/UnitProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Decimal/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/InlineField/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Format/MultiLineField/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/index.js
  eq-author/src/components/Autocomplete/index.style.js
Due: author

tweak
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

added text property
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/TextAreaProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/TextFieldProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/Answers/TextProperties.js
  eq-author/src/components/AdditionalContent/AnswerProperties/index.js
Due: author
