Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Update datastore error tests
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Added session timeout
  eq-author/src/App/MeContext.js
Due: author

Session duration of 7 days added
  eq-author/src/App/MeContext.js
Due: author

Session duration set to 7 days
  eq-author/src/App/MeContext.js
Due: author

Add search for questionnaire owner email
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

Add questionnaire created by user with null name to tests
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Add test for owner email
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Add test for short title search
  eq-author-api/db/datastore/datastore-mongodb.test.js
  eq-author-api/db/datastore/mock-questionnaire.js
Due: api

Add test for multiple filters
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Duplicate code line removed
  eq-author/src/App/MeContext.js
Due: author

Code cleaned up and comments added
  eq-author/src/App/MeContext.js
Due: author

Rename homepage to questionnaires
  eq-author-api/schema/resolvers/index.js
  eq-author-api/schema/resolvers/questionnaires/index.js
  eq-author-api/schema/resolvers/questionnaires/index.test.js
Due: api

Rename "homepage" to "questionnaires" for context builder
  eq-author-api/tests/utils/contextBuilder/questionnaires/index.js
  eq-author-api/tests/utils/contextBuilder/questionnaires/queryFilteredQuestionnaires.js
  eq-author-api/tests/utils/contextBuilder/questionnaires/queryTotalPages.js
Due: api

Rewritten the sessionDuration calculation for 7 days in milliseconds (it now multiplies from days, hours, minutes, seconds and then milliseconds)
  eq-author/src/App/MeContext.js
Due: author

Update format to "should" in datastore tests
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Rename search to searchByTitleOrShortCode
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/db/datastore/datastore-mongodb.test.js
  eq-author-api/schema/resolvers/questionnaires/index.test.js
  eq-author-api/schema/typeDefs.js
Due: api

Add total filtered questionnaires
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/schema/resolvers/questionnaires/index.js
  eq-author-api/schema/typeDefs.js
Due: api

Fix failing tests
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Comments updated and the session duration calculation format is rearranged
  eq-author/src/App/MeContext.js
Due: author

Add datastore tests for total filtered questionnaires
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Replace numbers for testing total page count
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Add totalFilteredQuestionnaires resolver test
  eq-author-api/schema/resolvers/questionnaires/index.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaires/index.js
  eq-author-api/tests/utils/contextBuilder/questionnaires/queryTotalFilteredQuestionnaires.js
Due: api

Changed text 'dataset' to 'schema'
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/schemaVersionsTable.js
Due: author

updated test for supplementary data
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author

Updated text changes to 'dataset schema'
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/schemaVersionsTable.js
Due: author

Created the validation message and imported to setting page
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/constants/validationMessages.js
Due: author

added validation error codes for the survey ID
  eq-author-api/constants/validationErrorCodes.js
Due: api

changes the validation message for checking the surveyID
  eq-author/src/constants/validationMessages.js
Due: author

added ajv code for surveyId
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

debugging the surveyIDs error
  eq-author/src/App/settings/SettingsPage.js
Due: author

added the error code in the survey id errors
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/constants/validationMessages.js
Due: author

validateSurveyID Keyword added to the json schema
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author/src/constants/validationMessages.js
Due: author, api

added validation message in the survey id errors
  eq-author/src/constants/validationMessages.js
Due: author

Error messages updated
  eq-author/src/constants/validationMessages.js
Due: author

Ajv code updated and debug statements added
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

More debug statements added and the survey ID and supplementary data survey ID mismatch error being thrown working
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
  eq-author/src/App/settings/SettingsPage.js
Due: author, api

Code refactored
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

Code cleaned up
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

made the word schema plural
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/schemaVersionsTable.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
