Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

fixed the import section with list collector bug
  eq-author-api/schema/resolvers/importing.js
Due: api

Fixed the code for accessibility
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.js
Due: author

Fix refresh required when importing section with list collector
  eq-author/src/graphql/importSections.graphql
Due: author

Remove the banner in the preview page and added button in preview of calculated summary
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

Display extra space modal when importing content for all fields
  eq-author/src/App/importingContent/index.js
  eq-author/src/App/importingContent/index.test.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author

Display extra space modal when importing content for all fields
  eq-author/src/App/importingContent/index.js
  eq-author/src/App/importingContent/index.test.js
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author

Add space to Q Codes in main navigation bar
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

Fix width
  eq-author/src/App/qcodes/QcodesPage.js
Due: author

added description text under the title and added "Is this correct" to the preview
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

added code to remove folder listId to empty string
  eq-author-api/schema/resolvers/importing.js
Due: api

update graphql
  eq-author/src/graphql/lists/listAnswer.graphql
Due: author

added function to remove html paragraph tags and check ends with full stop
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

added question mark
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

edit submission preview inline to EQ
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

edit the string in answersAvailableToView
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Add data version radio options
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/DataVersionSelect/index.js
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/App/settings/SettingsPage.test.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Disable data version one option when complex features enabled
  eq-author-api/schema/resolvers/utils/setDataVersion.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/DataVersionSelect/index.js
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/App/settings/index.js
  eq-author/src/components/Radio/index.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Prevent updating data version to one automatically when complex features deleted
  eq-author-api/schema/resolvers/utils/setDataVersion.js
Due: api

Set default data version to three when questionnaire is created
  eq-author-api/schema/resolvers/base.js
Due: api

Disable data version radio options based on array for future data versions
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/setDataVersion.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/DataVersionSelect/index.js
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Add all data versions constant
  eq-author-api/constants/allDataVersions.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/setDataVersion.js
Due: api

Update snapshots
  eq-author/src/components-themed/Label/__snapshots__/Label.test.js.snap
  eq-author/src/components/Forms/Label/__snapshots__/Label.test.js.snap
Due: author

Add tests for setting data version for dynamic answers
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/tests/utils/contextBuilder/index.js
Due: api

Add data version select tests
  eq-author/src/App/settings/DataVersionSelect/index.js
  eq-author/src/App/settings/DataVersionSelect/index.test.js
Due: author

Fix data version only set for dynamic options when option is deleted
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/index.js
Due: api

added full stop in the description
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
Due: author

added props in section to change the margin top
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Removed comment
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

Changed the section 1 Legal basis description and update the new changes for the preview questions
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
  eq-author/src/constants/legal-basis-options.js
Due: author

fixed the warning panel and changed the Text styling
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Changed the notice description and added text for the description preview
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
  eq-author/src/constants/legal-basis-options.js
Due: author

updated the snapshot and the test
  eq-author/src/App/introduction/Preview/IntroductionPreview/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.test.js
Due: author

Removed charAT from the legal basis
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
Due: author

updated the function for addConfirmationToTitle
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

edited the line in summary item to not show on top of the values
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

changed the styling of the button to match EQ
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

revert button styling
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

added test to check if the word 'the' is added for NOTICE_FUELS
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.test.js
Due: author

Changed the legal basis first letter of section to lowercase
  eq-author/src/App/introduction/Preview/IntroductionPreview/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
