Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

tweak
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author

disbles, labels, naming, collapsible
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.test.js
  eq-author/src/components/ContentPickerSelect/content-types.js
  eq-author/src/components/ContentPickerSelect/index.js
  eq-author/src/components/ContentPickerv2/index.js
  eq-author/src/components/ContentPickerv2/index.test.js
Due: author

redundant lines
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.test.js
Due: author

disable dynamicAnswer
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

display checkbox if there is more than 1 option
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

refractor
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

fix bug
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

fix test
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

fixed login page
  eq-author-api/docker-compose.yml
  eq-author/src/App/SignInPage/RecoverPassword/index.js
  eq-author/src/App/SignInPage/SignInForm/index.js
  eq-author/src/App/SignInPage/index.js
Due: author, api

disable bin
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

update snapshot
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
Due: author

added feature flag for gcp
  eq-author-api/docker-compose.yml
Due: api

fix disabled bin and add dynamic option to preview
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
Due: author

fix deleting option from a dynamic option bug
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author, api

tests api
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

fix toggling dynamic option off bug
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/answerGetters.js
  eq-author/src/graphql/updateOption.graphql
Due: author, api

Fix to display logic validation is a question is removed.
  eq-author/src/App/section/Design/index.js
Due: author

Remove unused tests
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/AnswerTypeSelector/index.js
  eq-author/src/components/AnswerTypeSelector/index.test.js
Due: author

Improve TODO descriptions
  eq-author/src/components/AnswerTypeSelector/index.js
  eq-author/src/components/AnswerTypeSelector/index.test.js
Due: author

Disable mutually exclusive answer button when page has multiple answers
  eq-author/src/components/AnswerTypeSelector/index.js
  eq-author/src/components/AnswerTypeSelector/index.test.js
Due: author

accesibility changes
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

id name change
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

Fixes to IDs not being changes when imprting a section
  eq-author-api/schema/resolvers/importing.js
  eq-author-api/schema/resolvers/utils/helpers.js
  eq-author/src/App/section/Logic/Display/index.js
Due: author, api

tests
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
Due: author

rerun
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
Due: author

Remove or option toggle switch from additional properties
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/page/Design/answers/DateSingle/index.js
Due: author

Fix radio option crash
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

Remove unused or option toggle switch tests
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/__snapshots__/BasicAnswer.test.js.snap
  eq-author/src/App/page/Design/answers/DateSingle/index.test.js
Due: author

Remove unused imports
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/DateSingle/index.test.js
Due: author

Remove contraction
  eq-publisher/src/eq_schema/block-types/Introduction.test.js
Due: publisher

Contraction removal
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/storybook/Components/Select.stories.mdx
Due: api

Fix mutually exclusive migration deleting checkbox options
  eq-author-api/migrations/convertMutuallyExclusiveOptions.js
Due: api

Add migration checkbox test and update conditional statement
  eq-author-api/migrations/convertMutuallyExclusiveOptions.js
  eq-author-api/migrations/convertMutuallyExclusiveOptions.test.js
Due: api

Add description to mutually exclusive migration and improve tests
  eq-author-api/migrations/convertMutuallyExclusiveOptions.js
  eq-author-api/migrations/convertMutuallyExclusiveOptions.test.js
Due: api

Remove additional properties toggle switch from answer types without additional properties
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

test commit
  eq-author/README.md
Due: author

second change
  eq-author/README.md
Due: author
