Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Add useCreateIntroduction test
  eq-author/src/hooks/useCreateIntroductionPage.test.js
Due: author

Blank introduction title when metadata values not defined
  eq-author-api/utils/createQuestionnaireIntroduction.js
Due: api

Add empty introduction title error
  eq-author-api/src/validation/schemas/introduction.json
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Added Icon to answer type selector
  eq-author-api/schema/resolvers/base.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/components/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/constants/answer-types.js
Due: author, api

Updated option
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

Fix introduction tests
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author

Added Answer required
  eq-author/src/components/AnswerContent/AnswerProperties/SelectProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/index.js
Due: author

Removed split button
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Fixed AJV
  eq-author-api/src/validation/schemas/answer.json
Due: api

Add createIntroductionPage test
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/createIntroductionPage.js
Due: api

Add delete introduction test
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/deleteIntroductionPage.js
Due: api

Fixed delete
  eq-author-api/schema/resolvers/base.js
Due: api

add label numbering
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
  eq-author/src/components/Reorder/index.js
Due: author

added description
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Field on Question and Section. Added ExternalLink function. Issues with validation counts/error recognition
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/schemas/page.json
  eq-author-api/src/validation/schemas/section.json
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author-api/tests/utils/contextBuilder/page/questionPage/createQuestionPage.js
  eq-author-api/tests/utils/contextBuilder/page/questionPage/updateQuestionPage.js
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/components-themed/ExternalLink/index.js
  eq-author/src/components/PageTitle/PageTitleInput.js
  eq-author/src/components/PageTitle/index.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/fragments/questionPage.graphql
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

fix routing
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/src/businessLogic/answerTypeToConditions.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author, api

EAR 1810 Remove second radio option
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
Due: author

Add select container to preview page
  eq-author/src/components/preview/Answers/SelectAnswer.js
  eq-author/src/components/preview/Answers/index.js
Due: author

Add social theme comment
  eq-author/src/constants/themeSettings.js
Due: author

Add option labels to preview
  eq-author/src/components/preview/Answers/SelectAnswer.js
Due: author

Apply option label styling using container
  eq-author/src/components/preview/Answers/SelectAnswer.js
Due: author

Add missing option styling
  eq-author/src/components/preview/Answers/SelectAnswer.js
Due: author

Added date answer type in routing selector
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/isAnswerValidForRouting.js
  eq-author/src/constants/answer-types.js
Due: author

Apply first and last element styling for missing option labels
  eq-author/src/components/preview/Answers/SelectAnswer.js
Due: author

Add collapsible for select answer type
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
  eq-author/src/components/preview/Answers/SelectAnswer.js
Due: author

Draft changes for date selector
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author

Add date answer validation types
  eq-author-api/constants/routingConditions.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/answerTypeToConditions.js
Due: api

Remove numeric labels on checkbox and radio options
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Fix failing tests
  eq-author-api/src/businessLogic/answerTypeToCondition.test.js
Due: api

Add create select answer test
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

Add render select test
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.test.js
Due: author

Adds listCollector and Confirmation page Ongoing work
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createCalculatedSummary.js
  eq-author-api/src/businessLogic/createListCollectorPage.js
  eq-author-api/src/validation/schemas/confirmationPage.json
  eq-author-api/src/validation/schemas/listCollectorPage.json
  eq-author-api/src/validation/schemas/page.json
  eq-author-api/tests/utils/contextBuilder/page/calculatedSummary/createCalculatedSummaryPage.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author-api/tests/utils/contextBuilder/questionConfirmation/createQuestionConfirmation.js
  eq-author-api/tests/utils/contextBuilder/questionConfirmation/queryQuestionConfirmation.js
  eq-author-api/tests/utils/contextBuilder/questionConfirmation/updateQuestionConfirmation.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/mockPage.json
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/updateCalculatedSummaryPageMutation.graphql
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/withUpdateCalculatedSummaryPage.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/questionConfirmation/Design/Editor.js
  eq-author/src/App/questionConfirmation/Design/index.js
  eq-author/src/App/questionConfirmation/Design/withUpdateQuestionConfirmation.js
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/components/PageTitle/index.js
  eq-author/src/graphql/createCalculatedSummaryPage.graphql
  eq-author/src/graphql/fragments/list-collector.graphql
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

Made Label mandatory
  eq-author-api/src/validation/schemas/answer.json
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author, api

Fix labels on preview page
  eq-author/src/components/preview/Answers/SelectAnswer.js
Due: author

Change text to select an answer
  eq-author/src/components/preview/Answers/SelectAnswer.js
Due: author

Change title
  eq-author/src/App/QuestionnaireSettingsModal/index.js
Due: author

Add short title additional guidance
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
Due: author

Change modal width
  eq-author/src/App/QuestionnaireSettingsModal/index.js
Due: author

Change button theme
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
