Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Initial fix by removing onMouseMove prop
  eq-author/src/components/Forms/Typeahead/TypeaheadMenu.js
Due: author

Fix item hover styling
  eq-author/src/components/Forms/Typeahead/TypeaheadMenu.js
Due: author

Fix hover styling
  eq-author/src/components/Forms/Typeahead/TypeaheadMenu.js
Due: author

Remove console log
  eq-author/src/components/Forms/Typeahead/TypeaheadMenu.js
Due: author

Added theme support
  eq-author/.storybook/preview-head.html
  eq-author/src/assets/icon-test.svg
  eq-author/src/components-themed/buttons/button.js
  eq-author/src/components-themed/buttons/index.js
  eq-author/src/components/BaseLayout/App/index.js
  eq-author/src/components/UserProfile/index.js
  eq-author/src/components/buttons/Button/index.js
  eq-author/src/constants/theme.js
  eq-author/src/contexts/themeContext.js
  eq-author/src/storybook/Components-themed/buttons/buttonsDefault.stories.mdx
  eq-author/src/storybook/Components-themed/buttons/buttonsONS.stories.mdx
  eq-author/src/storybook/Components/Button.stories.mdx
Due: author

update api validation to include err.message
  eq-author-api/schema/resolvers/utils/validation.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
Due: author, api

Merge branch 'master' into Theme-context-prototype
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createTotalValidation.js
  eq-author-api/tests/utils/contextBuilder/folder/moveFolder.js
  eq-author-api/tests/utils/contextBuilder/page/movePage.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/graphql/moveFolder.graphql
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/index.js
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.js
  eq-author/src/App/page/Design/withMovePage.js
  eq-author/src/App/page/Design/withMovePage.test.js
  eq-author/src/components/withEntityEditor/index.js
  eq-author/src/graphql/fragments/total-validation-rule.graphql
  eq-author/src/graphql/moveFolder.graphql
  eq-author/src/graphql/movePage.graphql
  eq-publisher/src/eq_schema/Question.js
  eq-publisher/src/eq_schema/Question.test.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

removed udpated component as tests broke
  eq-author/src/components/BaseLayout/App/__snapshots__/index.test.js.snap
  eq-author/src/components/UserProfile/index.js
  eq-author/src/components/buttons/Button/index.js
  eq-author/src/storybook/Components/Button.stories.mdx
Due: author

returning an array of error message for frontend
  eq-author-api/schema/resolvers/utils/validation.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/customKeywords/validatePipingMetadataInTitle.js
  eq-author-api/src/validation/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
Due: author, api

working - just need errors to stack on frontend
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
  eq-author/src/components/RichTextEditor/index.js
Due: author, api

remove logging
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

tidy up - need to run tests
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
Due: author

Deploying to gh-pages from @ d0648d79a2d05687ede5482e269471e5cc34fc61 🚀
  iframe.html
  main.2bdb0d68dfdd5cfe0a5c.bundle.js
  main.2bdb0d68dfdd5cfe0a5c.bundle.js.map
  main.533d45da371929ba7540.bundle.js
  main.533d45da371929ba7540.bundle.js.map
  runtime~main.2bdb0d68dfdd5cfe0a5c.bundle.js
  runtime~main.2bdb0d68dfdd5cfe0a5c.bundle.js.map
  runtime~main.533d45da371929ba7540.bundle.js.map
  vendors~main.2bdb0d68dfdd5cfe0a5c.bundle.js
  vendors~main.2bdb0d68dfdd5cfe0a5c.bundle.js.LICENSE.txt
  vendors~main.2bdb0d68dfdd5cfe0a5c.bundle.js.map
  vendors~main.533d45da371929ba7540.bundle.js
  vendors~main.533d45da371929ba7540.bundle.js.map
Due: none

fix imports
  eq-author/src/storybook/Components-themed/buttons/buttonsDefault.stories.mdx
  eq-author/src/storybook/Components-themed/buttons/buttonsONS.stories.mdx
Due: none

opps
  eq-author/src/storybook/Components-themed/buttons/buttonsDefault.stories.mdx
  eq-author/src/storybook/Components-themed/buttons/buttonsONS.stories.mdx
Due: none

opps 2
  eq-author/src/storybook/Components-themed/buttons/buttonsONS.stories.mdx
Due: none

Deploying to gh-pages from @ 5491374e8e2ad68095787444bf929b432eb12691 🚀
  iframe.html
  main.1e117d19e9489f510079.bundle.js
  main.1e117d19e9489f510079.bundle.js.map
  main.2bdb0d68dfdd5cfe0a5c.bundle.js
  main.2bdb0d68dfdd5cfe0a5c.bundle.js.map
  runtime~main.1e117d19e9489f510079.bundle.js
  runtime~main.1e117d19e9489f510079.bundle.js.map
  runtime~main.2bdb0d68dfdd5cfe0a5c.bundle.js.map
  vendors~main.1e117d19e9489f510079.bundle.js
  vendors~main.1e117d19e9489f510079.bundle.js.LICENSE.txt
  vendors~main.1e117d19e9489f510079.bundle.js.map
  vendors~main.2bdb0d68dfdd5cfe0a5c.bundle.js.map
Due: none

Once more
  eq-author/src/storybook/Components-themed/buttonsDefault.stories.mdx
  eq-author/src/storybook/Components-themed/buttonsONS.stories.mdx
Due: none

Deploying to gh-pages from @ fcb5e4f49ba52e75aafa10245796f5bb17f1cf5c 🚀
  iframe.html
  main.086c444158ced60b3786.bundle.js
  main.086c444158ced60b3786.bundle.js.map
  main.1e117d19e9489f510079.bundle.js
  main.1e117d19e9489f510079.bundle.js.map
  runtime~main.086c444158ced60b3786.bundle.js
  runtime~main.086c444158ced60b3786.bundle.js.map
  runtime~main.1e117d19e9489f510079.bundle.js.map
  vendors~main.086c444158ced60b3786.bundle.js
  vendors~main.086c444158ced60b3786.bundle.js.LICENSE.txt
  vendors~main.086c444158ced60b3786.bundle.js.map
  vendors~main.1e117d19e9489f510079.bundle.js.map
Due: none

ditched me context from other context
  eq-author/src/contexts/themeContext.js
  eq-author/src/storybook/Components-themed/buttonsDefault.stories.mdx
  eq-author/src/storybook/Components-themed/buttonsONS.stories.mdx
Due: author

snapshot
  eq-author/src/components/BaseLayout/App/__snapshots__/index.test.js.snap
Due: author

Deploying to gh-pages from @ 2c33b4cdc027fbb93ecbb71edc3cc39880b328de 🚀
  iframe.html
  main.03914a09b7074ac0a5e8.bundle.js
  main.03914a09b7074ac0a5e8.bundle.js.map
  main.086c444158ced60b3786.bundle.js
  main.086c444158ced60b3786.bundle.js.map
  runtime~main.03914a09b7074ac0a5e8.bundle.js
  runtime~main.03914a09b7074ac0a5e8.bundle.js.map
  runtime~main.086c444158ced60b3786.bundle.js.map
  vendors~main.03914a09b7074ac0a5e8.bundle.js
  vendors~main.03914a09b7074ac0a5e8.bundle.js.LICENSE.txt
  vendors~main.03914a09b7074ac0a5e8.bundle.js.map
  vendors~main.086c444158ced60b3786.bundle.js
  vendors~main.086c444158ced60b3786.bundle.js.map
Due: none

fix section summary not being skipped
  eq-publisher/src/eq_schema/Group.js
  eq-publisher/src/eq_schema/Section.js
Due: publisher

allow multiple err msgs for description RTE
  eq-author-api/src/validation/schemas/page.json
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/AdditionalContentOptions.js
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/components/RichTextEditor/index.js
Due: author, api

add tests and include error for piping answer moved in description
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/AdditionalContentOptions.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/__snapshots__/AdditionalContentOptions.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
Due: author

Rebuilt branch changes
  eq-author-api/schema/tests/page.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/scripts/test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Preview/index.js
Due: author, api

Default text input
  eq-author/src/assets/icon-checkbox.svg
  eq-author/src/components-themed/Input/index.js
  eq-author/src/constants/theme.js
  eq-author/src/storybook/Components-themed/InputONS.stories.mdx
  eq-author/src/storybook/Components/Input.stories.mdx
Due: author

Implement radio input
  eq-author/src/components-themed/Input/index.js
  eq-author/src/constants/theme.js
  eq-author/src/storybook/Components-themed/InputONS.stories.mdx
Due: author

added font support
  eq-author/src/components-themed/buttons/button.js
  eq-author/src/components-themed/buttons/index.test.js
  eq-author/src/components/BaseLayout/App/__snapshots__/index.test.js.snap
  eq-author/src/components/BaseLayout/App/index.js
  eq-author/src/constants/theme.js
  eq-author/src/contexts/themeContext.js
  eq-author/src/storybook/Components-themed/buttonsDefault.stories.mdx
  eq-author/src/storybook/Components-themed/buttonsONS.stories.mdx
Due: author

Deploying to gh-pages from @ 55c18d825278be5ef0e53f1ac2a567d8df2ad43c 🚀
  iframe.html
  main.03914a09b7074ac0a5e8.bundle.js
  main.03914a09b7074ac0a5e8.bundle.js.map
  main.12c3bf1dea8e241798a2.bundle.js
  main.12c3bf1dea8e241798a2.bundle.js.map
  runtime~main.03914a09b7074ac0a5e8.bundle.js.map
  runtime~main.12c3bf1dea8e241798a2.bundle.js
  runtime~main.12c3bf1dea8e241798a2.bundle.js.map
  vendors~main.03914a09b7074ac0a5e8.bundle.js
  vendors~main.03914a09b7074ac0a5e8.bundle.js.map
  vendors~main.12c3bf1dea8e241798a2.bundle.js
  vendors~main.12c3bf1dea8e241798a2.bundle.js.LICENSE.txt
  vendors~main.12c3bf1dea8e241798a2.bundle.js.map
Due: none

need link on storeybook
  eq-author/.storybook/preview-head.html
Due: author

Deploying to gh-pages from @ b691d398d237cda2d11b61e4a18559a3aab704a5 🚀
  iframe.html
Due: none

get test coverage up
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/AdditionalContentOptions.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/__snapshots__/AdditionalContentOptions.test.js.snap
Due: author, api

Change checkbox icon colour
  eq-author/src/assets/icon-checkbox-black.svg
  eq-author/src/components-themed/Input/index.js
Due: author

Implement checkbox
  eq-author/src/components-themed/Input/index.js
Due: author

Add untracked file
  eq-author/src/assets/icon-checkbox-ons.svg
Due: author

Change text input story name
  eq-author/src/storybook/Components-themed/InputONS.stories.mdx
Due: none

Delete unused file
  eq-author/src/assets/icon-checkbox-black.svg
Due: author

fix box sizing
  eq-author/src/contexts/themeContext.js
Due: author

Deploying to gh-pages from @ 20d094c90b3c7684c6d181c667943798ec253722 🚀
  iframe.html
  main.04a5f50a379c64f15a88.bundle.js
  main.04a5f50a379c64f15a88.bundle.js.map
  main.12c3bf1dea8e241798a2.bundle.js
  main.12c3bf1dea8e241798a2.bundle.js.map
  runtime~main.04a5f50a379c64f15a88.bundle.js
  runtime~main.04a5f50a379c64f15a88.bundle.js.map
  runtime~main.12c3bf1dea8e241798a2.bundle.js.map
  vendors~main.04a5f50a379c64f15a88.bundle.js
  vendors~main.04a5f50a379c64f15a88.bundle.js.LICENSE.txt
  vendors~main.04a5f50a379c64f15a88.bundle.js.map
  vendors~main.12c3bf1dea8e241798a2.bundle.js.map
Due: none
