Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Bugfix
  eq-author/src/App/importingContent/index.js
Due: author

Styles
  eq-author/src/components/QuestionPicker/Item/index.js
Due: author

new tests
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Preview/SectionIntroPreview.test.js
Due: author

Initial test changes
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/index.test.js
Due: author

Fix menu tests
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/index.test.js
  eq-author/src/constants/destinations.js
Due: author

Fix all tests
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.test.js
  eq-author/src/components/ContentPickerv2/index.test.js
  eq-author/src/constants/destinationKey.js
  eq-author/src/constants/destinations.js
Due: author

Remove unused test code
  eq-author/src/components/ContentPickerv2/index.test.js
Due: author

Ear 1401 collapsible sections requires section titles (#2193)
  eq-author-api/src/validation/schemas/section.json
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/App/section/Design/index.js
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/section/Preview/SectionIntroPreview.test.js
Due: author, api

Revert "Ear 1401 collapsible sections requires section titles (#2193)"
  eq-author-api/src/validation/schemas/section.json
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/App/section/Design/index.js
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/section/Preview/SectionIntroPreview.test.js
Due: author, api

Revert "Ear 1401 collapsible sections requires section titles (#2193)" (#2195)
  eq-author-api/src/validation/schemas/section.json
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/App/section/Design/index.js
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/section/Preview/SectionIntroPreview.test.js
Due: author, api

EAR 1399 Remove later section and end of questionnaire options based on hub (#2188)
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.test.js
  eq-author/src/components/ContentPickerv2/index.test.js
  eq-author/src/constants/destinationKey.js
  eq-author/src/constants/destinations.js
Due: author

Add error icon and initial orange errors
  eq-author/src/assets/error_icon.svg
  eq-author/src/components/ErrorInline/index.js
  eq-author/src/components/ValidationError/index.js
Due: author

Display new error icon
  eq-author/src/assets/icon-error.svg
  eq-author/src/components/ErrorInline/index.js
  eq-author/src/components/ValidationError/index.js
Due: author

basic enable / validation -collapsibleSummary true
  eq-author-api/src/validation/schemas/section.json
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/App/section/Design/index.js
Due: author, api

remove logging
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

fix broken test
  eq-author/src/App/section/Design/index.test.js
Due: author

Bump wait-on
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

Display errors inside initial error panel
  eq-author/src/components/ErrorInline/icon-error.svg
  eq-author/src/components/ErrorInline/index.js
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/components/ValidationError/index.js
  eq-author/src/constants/theme.js
Due: author

Initial error badge styling and fix reusable main nav badge
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/components/Badge/index.js
Due: author

Change error panel and logic styling
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/components/ValidationError/index.js
Due: author

Use one component for validation errors
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/components/ErrorInline/__snapshots__/index.test.js.snap
  eq-author/src/components/ErrorInline/index.js
  eq-author/src/components/ErrorInline/index.test.js
  eq-author/src/components/Forms/WrappingInput/index.js
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

Remove unused right prop from ValidationError
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/PreviousAnswerEditor.js
  eq-author/src/App/page/Design/Validation/GroupValidations/index.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerEditor.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
  eq-author/src/components/ContentPickerSelect/index.js
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/components/ValidationError/index.js
Due: author

Removed missed right props
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/components/Forms/WrappingInput/index.js
Due: author

Change logic error location
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/Panel/ErrorPanel.js
Due: author

fix for displaying title when hub off
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/section.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author, api

linter fix
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

EAR-1416 Review Dependabots 56 (#2200)
  eq-author-api/package.json
  eq-author-api/yarn.lock
  eq-author/yarn.lock
  eq-publisher/package.json
  eq-publisher/yarn.lock
Due: author, api, publisher

Deploying to gh-pages from @ c000b846cb2aa0b69e6780bb2692c0d43e89eb9f 🚀
  iframe.html
  index.html
  main.207ed89c53b6b1a3dace.bundle.js.map
  main.414905817fe6306a12bc.bundle.js
  main.414905817fe6306a12bc.bundle.js.map
  runtime~main.207ed89c53b6b1a3dace.bundle.js.map
  runtime~main.414905817fe6306a12bc.bundle.js
  runtime~main.414905817fe6306a12bc.bundle.js.map
  vendors~main.207ed89c53b6b1a3dace.bundle.js
  vendors~main.207ed89c53b6b1a3dace.bundle.js.map
  vendors~main.414905817fe6306a12bc.bundle.js
  vendors~main.414905817fe6306a12bc.bundle.js.LICENSE.txt
  vendors~main.414905817fe6306a12bc.bundle.js.map
  vendors~main.969fe436ccd563a352bb.bundle.js
  vendors~main.e605d83650057f6891dc.bundle.js
  vendors~main.e605d83650057f6891dc.bundle.js.LICENSE.txt
Due: none

Initial set correct error margin
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
  eq-author/src/components/Badge/index.js
  eq-author/src/components/Badge/propTypes.js
  eq-author/src/components/NavItem/index.js
  eq-author/src/components/Panel/ErrorPanel.js
Due: author

Refactoring
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
Due: author

Styling
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/QuestionPicker/Item/index.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/modals/Wizard/index.js
Due: author

Styling
  eq-author/src/components/QuestionPicker/index.js
Due: author

Fix selected error badge styling
  eq-author/src/components/Badge/index.js
  eq-author/src/components/Badge/propTypes.js
  eq-author/src/components/NavItem/index.js
  eq-author/src/constants/theme.js
Due: author

Replace confimation modal to use new error message
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/components/modals/ConfirmationModal/index.js
Due: author

basics working, needs testing and tests
  eq-author/src/App/page/Design/answers/BasicAnswer/graphql/createMutuallyExclusiveOption.graphql
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Tests
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/QuestionPicker/index.test.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.test.js
Due: author

Test
  eq-author/.storybook/main.js
  eq-author/src/storybook/Examples/ImportingContent.stories.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
