Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Update qualifier page description
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/graphql/fragments/list-collector-qualifier-page.graphql
Due: author, api

Update add item title
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author

Set column widths
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Update add item page description
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/graphql/fragments/list-collector-qualifier-page.graphql
Due: author, api

Aligned the button
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Set the title font
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Update list collector confirmation title
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
Due: author

Update list collector confirmation page description
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
Due: author

Remove incorrect validation error
  eq-author-api/src/businessLogic/createListCollectorPages.js
Due: api

Solved tab refresh scenario
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Add qualifier question title validation
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Add qualifier page description validation
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author

Add validation for add item title
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Add validation for add item page description
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
Due: author

Add list collector confimation title validation
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Add list collector confirmation page description validation
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
Due: author

Add updateFolder Graphql title field
  eq-author/src/graphql/updateFolderMutation.graphql
Due: author

Add validation for list collector folder title
  eq-author-api/src/validation/schemas/folder.json
  eq-author/src/App/folder/Design/ListCollectorFolderEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Add linked collection list validation
  eq-author-api/src/validation/schemas/folder.json
  eq-author/src/App/folder/Design/ListCollectorFolderEditor/index.js
  eq-author/src/components/Select/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Add qualifier page additional guidance validation
  eq-author-api/src/validation/schemas/page.json
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Add folder custom prop type
  eq-author/src/App/folder/Design/ListCollectorFolderEditor/index.js
  eq-author/src/custom-prop-types/index.js
Due: author

Display list collector page titles
  eq-author-api/src/businessLogic/createListCollectorPages.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author, api

Update styling for list collector pages
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author

Add comments to qualifer preview page
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/QualifierPagePreview.js
  eq-author/src/App/page/Preview/index.js
Due: author, api

Add comments to list collector add item preview page
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/AddItemPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/QualifierPagePreview/index.js
  eq-author/src/App/page/Preview/index.js
Due: author, api

Add list collector confirmation preview page comments
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/ConfirmationPagePreview/index.js
  eq-author/src/App/page/Preview/index.js
Due: author, api

Add preview page titles
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/AddItemPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/ConfirmationPagePreview/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/QualifierPagePreview/index.js
  eq-author/src/constants/theme.js
Due: author

Set the prepop graphql fragment
  eq-author/src/graphql/getPrepopSchema.graphql
  eq-author/src/graphql/updatePrepopSchema.graphql
Due: author

Update qualifier page options
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author

Add radio options to confirmation page
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
Due: author

Remove answer buttons on list collector page types
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Update answer editor width
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Remove answer label from list collector pages
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Remove answer required from list collector pages
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Remove radio move controls from list collector page options
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Remove dynamic option for list collector page options
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

Update option width for list collector page options
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Add positive and negative label text for list collector page options
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Remove add another option button on list collector pages
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

Add default label text for list collector page options
  eq-author-api/src/businessLogic/createAnswer.js
  eq-author-api/src/businessLogic/createListCollectorPages.js
Due: api
