Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

some tests
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/__snapshots__/BasicAnswer.test.js.snap
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

tidy up
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

🛠 EAR 1047 - Disable duplicate button on click (#2044)
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/components/buttons/DuplicateButton/__snapshots__/index.spec.js.snap
  eq-author/src/components/buttons/DuplicateButton/index.js
  eq-author/src/components/buttons/DuplicateButton/index.spec.js
Due: author

💄 EAR 363 - Highlight section c̅ active page
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/CollapsibleNavItem/index.test.js
Due: author

🛠 EAR 1259 - Flatten all folders into one group
  eq-publisher/src/eq_schema/Section.js
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

✅ Existing tests
  eq-publisher/src/eq_schema/Section.js
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

♻️ Refactor
  eq-publisher/src/eq_schema/Group.js
  eq-publisher/src/eq_schema/Group.test.js
  eq-publisher/src/eq_schema/Section.js
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

✅ Add test for passing skip conditions to pages
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

✅ Fix test
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

✨ EAR 1345 - Add not any of option
  eq-author-api/src/businessLogic/answerTypeToConditions.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-publisher/src/utils/convertRoutingConditions.js
  eq-publisher/src/utils/convertRoutingConditions.test.js
Due: author, api, publisher

Social surveys now cannot see themes page
  eq-author/src/App/settings/TabItems.js
  eq-author/src/components/VerticalTabs/index.js
  eq-author/src/graphql/getThemeSettings.graphql
Due: author

✨ EAR 1345 - Add not any of option (#2055)
  eq-author-api/src/businessLogic/answerTypeToConditions.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-publisher/src/utils/convertRoutingConditions.js
  eq-publisher/src/utils/convertRoutingConditions.test.js
Due: author, api, publisher

Social surveys now cannot see themes page
  eq-author/src/components/VerticalTabs/index.js
Due: author

Form type format validation
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/themeSettings.json
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Refactoring
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Fix bug displaying error on disabled themes
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/themeSettings.json
Due: api

add or option toggle to date
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/answers/Date/index.js
Due: author

tests
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/page/Design/answers/Date/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/Date/index.test.js
Due: author

Refactoring
  eq-author/src/App/settings/EqId/index.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/components/VerticalTabs/index.js
Due: author

Authors can now choose a theme to preview
  eq-author/src/App/settings/EqId/index.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/PreviewTheme/index.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/graphql/updatePreviewTheme.graphql
Due: author

Tests added
  eq-author/src/App/settings/EqId/index.test.js
  eq-author/src/App/settings/FormType/index.test.js
  eq-author/src/App/settings/PreviewTheme/index.js
  eq-author/src/App/settings/PreviewTheme/index.test.js
Due: author

fixed test for toggled on
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
Due: author

Linting
  eq-author/src/App/settings/EqId/index.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/PreviewTheme/index.js
  eq-author/src/App/settings/ThemesPage.js
Due: author

Enable view survey on settings error
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Ear 1350 stitch backend with frontend mutually exclusive percentage (#2045)
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/graphql/createMutuallyExclusiveOption.graphql
  eq-author/src/App/page/Design/answers/BasicAnswer/graphql/deleteOption.graphql
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/graphql/createAnswer.graphql
Due: author

🛠 EAR 1259 - Flatten all folders into one group (#2054)
  eq-publisher/src/eq_schema/Group.js
  eq-publisher/src/eq_schema/Group.test.js
  eq-publisher/src/eq_schema/Section.js
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

EAR-1197-set-preview-theme (#2059)
  eq-author/src/App/settings/EqId/index.js
  eq-author/src/App/settings/EqId/index.test.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/FormType/index.test.js
  eq-author/src/App/settings/PreviewTheme/index.js
  eq-author/src/App/settings/PreviewTheme/index.test.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/graphql/updatePreviewTheme.graphql
  eq-author/src/components/VerticalTabs/index.js
Due: author

Deploying to gh-pages from @ 22c8caf05207a1db0110e7b2868e2be832bc9ab2 🚀
  iframe.html
  main.ba6fbd45c19b27516081.bundle.js
  main.ba6fbd45c19b27516081.bundle.js.map
  main.d8d53428d8145069ec68.bundle.js
  main.d8d53428d8145069ec68.bundle.js.map
  runtime~main.ba6fbd45c19b27516081.bundle.js
  runtime~main.ba6fbd45c19b27516081.bundle.js.map
  runtime~main.d8d53428d8145069ec68.bundle.js.map
  vendors~main.ba6fbd45c19b27516081.bundle.js
  vendors~main.ba6fbd45c19b27516081.bundle.js.LICENSE.txt
  vendors~main.ba6fbd45c19b27516081.bundle.js.map
  vendors~main.d8d53428d8145069ec68.bundle.js.map
Due: none

EAR-1355-remove-themes-for-social-surveys (#2056)
  eq-author/src/App/settings/TabItems.js
  eq-author/src/graphql/getThemeSettings.graphql
Due: author

Disabling a theme set to be previewed now swaps to next available
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/theme.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author/src/graphql/disableTheme.graphql
Due: author, api

Disabling a theme set to be previewed now swaps to next available (#2060)
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/theme.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author/src/graphql/disableTheme.graphql
Due: author, api

Fix enabled view survey button when no theme enabled
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

💄 EAR 363 - Highlight section c̅ active page (#2053)
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/CollapsibleNavItem/index.test.js
Due: author

Deploying to gh-pages from @ 528435a8140dd90a43643ece1e310f2ddc855d8d 🚀
  iframe.html
  main.6e73a1e5dd366eabed34.bundle.js
  main.6e73a1e5dd366eabed34.bundle.js.map
  main.ba6fbd45c19b27516081.bundle.js
  main.ba6fbd45c19b27516081.bundle.js.map
  runtime~main.6e73a1e5dd366eabed34.bundle.js
  runtime~main.6e73a1e5dd366eabed34.bundle.js.map
  runtime~main.ba6fbd45c19b27516081.bundle.js.map
  vendors~main.6e73a1e5dd366eabed34.bundle.js
  vendors~main.6e73a1e5dd366eabed34.bundle.js.LICENSE.txt
  vendors~main.6e73a1e5dd366eabed34.bundle.js.map
  vendors~main.ba6fbd45c19b27516081.bundle.js.map
Due: none

Update eq-author/src/App/page/Design/answers/Date/index.test.js
  eq-author/src/App/page/Design/answers/Date/index.test.js
Due: author

Update eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author
