Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

fix bug to enable neg nums and nums > 99999
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/validation.json
  eq-author/src/components/AnswerContent/Decimal/index.js
  eq-author/src/components/Forms/Number/index.js
Due: author, api

change test name
  eq-author-api/src/validation/index.test.js
Due: api

test commit
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

YOUR_COMMIT_MESSAGE
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

remove comment
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

change test names
  eq-author-api/src/validation/index.test.js
Due: api

loading & error
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Dataset test
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

add ajv and frontend changes
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/schemas/index.js
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author-api/src/validation/schemas/submission.json
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/App/Submission/graphql/getSubmissionQuery.graphql
  eq-author/src/App/Submission/graphql/updateSubmission.graphql
  eq-author/src/constants/validationMessages.js
Due: author, api

Added validation for duplicated values
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/constants/validationMessages.js
Due: author

test
  eq-author-api/schema/tests/submission.test.js
  eq-author-api/tests/utils/contextBuilder/submission/query.js
  eq-author-api/tests/utils/contextBuilder/submission/update.js
Due: api

change text
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author

remove email confirmation
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/tests/submission.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/publishSchema/publishSchema.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/updateSubmission.js
  eq-author-api/tests/utils/contextBuilder/submission/query.js
  eq-author-api/tests/utils/contextBuilder/submission/update.js
  eq-author-api/utils/createSubmission.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.test.js
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/App/Submission/Design/index.test.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/App/Submission/Preview/index.test.js
  eq-author/src/App/Submission/graphql/getSubmissionQuery.graphql
  eq-author/src/App/Submission/graphql/updateSubmission.graphql
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author, api

Updated validation check
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/QCodeContext/index.js
Due: author

fix tests
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.test.js
  eq-author/src/App/Submission/Design/index.test.js
Due: author

remove unused components
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

updated for SDS and cleaned up tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/schemaVersionsTable.js
  eq-author/src/App/dataSettings/common.js
  eq-author/src/App/dataSettings/index.js
  eq-author/src/graphql/getPrepopSchemaVersions.graphql
Due: author, api

Fix api tests
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/schema/tests/prePopSchemaVersions.test.js
Due: api

added support for lists and selectors on import
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/processSupplementaryData.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/graphql/fragments/prepopSchema.graphql
Due: author, api

fixed label
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
Due: author

fixed test
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author

renamed graphql from prepop to supplementary data
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/SupplementaryDataVersions.test.js
  eq-author-api/schema/tests/supplementaryData.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/index.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/query.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/unlink.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/update.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/supplementaryData/index.js
  eq-author-api/tests/utils/contextBuilder/supplementaryData/query.js
  eq-author-api/tests/utils/contextBuilder/supplementaryData/unlink.js
  eq-author-api/tests/utils/contextBuilder/supplementaryData/update.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/schemaVersionsTable.js
  eq-author/src/graphql/fragments/supplementaryData.graphql
  eq-author/src/graphql/getPrepopSchema.graphql
  eq-author/src/graphql/getSupplementaryData.graphql
  eq-author/src/graphql/getSupplementaryDataVersions.graphql
  eq-author/src/graphql/unlinkPrepopSchema.graphql
  eq-author/src/graphql/unlinkSupplementaryData.graphql
  eq-author/src/graphql/updatePrepopSchema.graphql
  eq-author/src/graphql/updateSupplementaryData.graphql
Due: author, api

Fix pipe answer button enabled when only list collector pages before page
  eq-author/src/components/ContentPickerv3/AnswerPicker.js
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

Added comment
  eq-author-api/src/businessLogic/processSupplementaryData.js
Due: api

tweak
  eq-author-api/src/businessLogic/processSupplementaryData.js
Due: api

tidy up
  eq-author-api/src/businessLogic/processSupplementaryData.js
Due: api

Replace answer picker list collector test with utility function test
  eq-author/src/components/ContentPickerv3/AnswerPicker.test.js
  eq-author/src/tests/utils/createMockQuestionnaire.js
  eq-author/src/utils/getContentBeforeEntity.test.js
Due: author

Shift around to keep paste and revert on cancel
  eq-author/src/App/settings/SettingsPage.js
Due: author

updated process
  eq-author-api/src/businessLogic/processSupplementaryData copy.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author, api

design changes
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

missed references to prepop
  eq-author-api/docker-compose.yml
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/SupplementaryDataVersions.test.js
  eq-author-api/schema/tests/supplementaryData.js
Due: api

Move list collector folder to default buttons
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.test.js
Due: author

fixed wording and array type fields
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
Due: author

removed old process file
  eq-author-api/src/businessLogic/processSupplementaryData copy.js
Due: api

fix test
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author

tweak tst
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author

Ughh
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author

updated repeating list picker in section
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
  eq-author/src/graphql/getListNames.graphql
Due: author, api

added pipping
  eq-author-api/src/businessLogic/processSupplementaryData.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/components/ContentPickerSelectv3/content-types.js
  eq-author/src/components/ContentPickerv3/SupplementaryDataPicker.js
  eq-author/src/components/ContentPickerv3/index.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author, api
