Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

add check for missing desc and title
  eq-author-api/migrations/upateAnswerDeletedMetaData.js
  eq-author-api/migrations/upateAnswerDeletedMetaData.test.js
Due: api

Fix unique labels
  eq-author/src/components/AnswerContent/AnswerProperties/NumberProperties.js
  eq-author/src/components/AnswerContent/Decimal/index.js
  eq-author/src/components/Forms/Number/index.js
Due: author

Change screen reader to only read enabled arrow buttons
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Add answer type to screen reader
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
Due: author

Update eq-author-api/migrations/upateAnswerDeletedMetaData.js
  eq-author-api/migrations/upateAnswerDeletedMetaData.js
Due: api

Update to pass an error if meta data has been deleted in `Additional Contents Question Description`
  eq-author-api/src/validation/customKeywords/validatePipingMetadataInTitle.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/page.json
Due: api

change file name
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateAnswerDeletedMetaData.js
  eq-author-api/migrations/updateAnswerDeletedMetaData.test.js
Due: api

very rough draft wip1
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/src/businessLogic/onPageDeleted.js
Due: api

API no longer removes invalid summary answers
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
Due: api

Fix to the validation error message not appearing bug
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
Due: author

Update script
  cloudbuild-author-tests.yaml
Due: none

Update script
  cloudbuild-author-api-tests.yaml
  cloudbuild-author-tests.yaml
Due: none

Publisher and API scripts
  cloudbuild-publisher-tests.yaml
Due: none

Add missing line
  cloudbuild-author-api-tests.yaml
Due: none

Refactored to remove enhancer
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/constants/validationMessages.js
Due: author

added ci script for api
  cloudbuild-author-api-tests.yaml
  eq-author-api/package.json
  eq-author-api/scripts/test-ci.sh
Due: api

bump
  eq-author-api/scripts/test-ci.sh
Due: api

working - needs tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/onAnswerDeleted.js
  eq-author-api/src/businessLogic/onPageDeleted.js
  eq-author/src/App/page/Design/answers/withDeleteAnswer.js
Due: author, api

docker compose file for ci
  eq-author-api/docker-compose-ci.yml
Due: api

Refactored
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerChip.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerPreview.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerPreview.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/icon-close.svg
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/assets/icon-info.svg
  eq-author/src/constants/validationMessages.js
Due: author

fix for cb
  eq-author-api/docker-compose-ci.yml
  eq-author-api/scripts/test-ci.sh
Due: api

add container name
  eq-author-api/docker-compose-ci.yml
Due: api

changed address
  eq-author-api/scripts/test-ci.sh
Due: api

test
  eq-author-api/scripts/test-ci.sh
Due: api

ughh
  eq-author-api/scripts/test-ci.sh
Due: api

Refactored
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryPosition.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
Due: author, api

updated cloudbuild
  cloudbuild-author-api-tests.yaml
Due: none

fix a test and remove front end piping check
  eq-author-api/src/businessLogic/onAnswerDeleted.js
  eq-author/src/App/page/Design/answers/withDeleteAnswer.test.js
  eq-author/src/components/RichTextEditor/index.js
Due: author, api

linting error fixed
  eq-author/src/components/RichTextEditor/index.js
Due: author

Refactoring
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/old/AnswerPreview.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/old/AnswerPreview.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/old/AnswerSelector.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/old/AnswerSelector.test.js
Due: author

Refactoring
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/index.js
Due: author

Empty state + picker
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Empty.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/index.js
Due: author

Removing single and error styling
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/AnswerChip.test.js.snap
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/AnswerSelector.test.js.snap
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/old/AnswerPreview.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/old/AnswerPreview.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/old/AnswerSelector.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/old/AnswerSelector.test.js
Due: author

onClick
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/index.js
Due: author

Styles
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
Due: author

Removed tests
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.test.js
Due: author

Proptypes
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Empty.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
