Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

fix for firestore date bug
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

Update to handle pulisher failures during publish
  eq-author-api/schema/resolvers/base.js
Due: api

fix tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/publishSchema.test.js
Due: api

EAR 1960 Select and import pre-pop schema
  eq-author-api/schema/resolvers/base.js
Due: api

Updated get prepop schema to add versions
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Added version id to link button
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Added fetch and saved prepopschema to author schema
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/graphql/updatePrepopSchema.graphql
Due: author, api

Add table with prepopSchema fields
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/graphql/getPrepopSchema.graphql
Due: author, api

fixed test
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

added api tests
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/index.js
  eq-author-api/tests/utils/contextBuilder/prepopschema/index.js
  eq-author-api/tests/utils/contextBuilder/prepopschema/query.js
  eq-author-api/tests/utils/contextBuilder/prepopschema/update.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
Due: api

fixed some tests
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/prepopschema/update.js
Due: api

Fixed one test
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/index.js
  eq-author-api/tests/utils/contextBuilder/prepopschema/query.js
  eq-author-api/tests/utils/contextBuilder/prepopschema/update.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
Due: api

Add migration for collection list answers
  eq-author-api/migrations/addCollectionListAnswerRepeatingProperties.js
  eq-author-api/migrations/index.js
Due: api

Add migration tests
  eq-author-api/migrations/addCollectionListAnswerRepeatingProperties.test.js
Due: api

Corrected validation for date and daterange
  eq-author-api/src/validation/schemas/answer.json
Due: api

Initial commit
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/publish/GetPublishHistory.graphql
  eq-author/src/App/publish/GetPublishHistory.js
  eq-author/src/App/publish/GetPublishHistory.test.js
  eq-author/src/App/publish/PublishPage.js
Due: author, api

Updated api test
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/tests/utils/contextBuilder/prepopschema/update.js
Due: api

Added mock fetch to test
  eq-author-api/schema/tests/prePopSchema.test.js
Due: api

Add missing fragments
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author

Add refetch queries
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Fix typeDefs
  eq-author-api/schema/typeDefs.js
Due: api

Fixed text
  eq-author-api/schema/tests/prePopSchema.test.js
Due: api

Temp rename folder
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/tests/utils/contextBuilder/prepopschemaX/index.js
  eq-author-api/tests/utils/contextBuilder/prepopschemaX/query.js
  eq-author-api/tests/utils/contextBuilder/prepopschemaX/update.js
Due: api

Rename folder
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/index.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/query.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/update.js
Due: api

Build test
  eq-author/src/App/SignInPage/index.test.js
Due: author

Another build test
  eq-author/src/App/SignInPage/index.test.js
Due: author

Fixing the build
  eq-author/src/App/SignInPage/index.test.js
Due: author

Fixes to graphql to get results
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/publish/GetPublishHistory.graphql
  eq-author/src/App/publish/GetPublishHistory.js
Due: author, api

Re-implement success filter
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/publish/GetPublishHistory.graphql
  eq-author/src/App/publish/GetPublishHistory.js
Due: author, api

Added data ordering to table
  eq-author/src/App/publish/GetPublishHistory.js
Due: author

Fix no history case
  eq-author/src/App/publish/GetPublishHistory.js
Due: author

Corrected the build
  eq-author/src/App/SignInPage/index.test.js
Due: author

Fix view questionnaire breaking
  eq-author-api/utils/sanitiseMetadata.js
Due: api

Fix to sorting, added unit tests
  eq-author/src/App/publish/GetPublishHistory.js
  eq-author/src/App/publish/GetPublishHistory.test.js
Due: author

Corrected the validation
  eq-author-api/src/validation/schemas/answer.json
Due: api

Fixes to PublishPage tests - my yet refactor
  eq-author/src/App/publish/GetPublishHistory.test.js
  eq-author/src/App/publish/PublishPage.test.js
Due: author

Tweak to tests
  eq-author/src/App/publish/PublishPage.test.js
Due: author

Fixes to typing
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/publish/GetPublishHistory.graphql
  eq-author/src/App/publish/GetPublishHistory.js
Due: author, api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
