Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Remove trailling spaces on import
  eq-author-api/utils/removeExtraSpaces.js
  eq-author/src/App/importingContent/index.js
Due: author, api

Add trailing spaces tests
  eq-author-api/utils/removeExtraSpaces.test.js
  eq-author/src/App/importingContent/index.test.js
Due: author, api

Remove unused code
  eq-author/src/App/importingContent/index.test.js
Due: author

Renamed BlueUnderLined tag to DummyLink
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
Due: author

Updated the snapshots for the test of introduction page preview
  eq-author/src/App/introduction/Preview/IntroductionPreview/__snapshots__/index.test.js.snap
Due: author

Remove extra spaces from rich text editors
  eq-author-api/utils/removeExtraSpaces.js
  eq-author/src/App/importingContent/index.js
Due: author, api

Add tests for importing content with HTML tags
  eq-author-api/utils/removeExtraSpaces.test.js
  eq-author/src/App/importingContent/index.test.js
Due: author, api

Adjusted code for acessibility review
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

Add migration for allowable data versions
  eq-author-api/migrations/addAllowableDataVersions.js
  eq-author-api/migrations/index.js
Due: api

Add migration tests
  eq-author-api/migrations/addAllowableDataVersions.test.js
Due: api

Set data version when importing content into questionnaire
  eq-author-api/schema/resolvers/importing.js
Due: api

Fix data version accessibility error
  eq-author/src/App/settings/DataVersionSelect/index.js
  eq-author/src/App/settings/SettingsPage.js
Due: author

Fix test missing fields
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Update migration to set data version
  eq-author-api/migrations/addAllowableDataVersions.js
  eq-author-api/migrations/addAllowableDataVersions.test.js
Due: api

Move data version options to constants file
  eq-author/src/App/settings/DataVersionSelect/index.js
  eq-author/src/constants/data-version-options.js
Due: author

Revert "EAR 2291 update content for calculated summary questions"
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author

Added invalid to display an orange border in textField input when there is an error
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.js
Due: author

Change the submission static text to 45 minutes
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

add mutually exclusive answers in table rows
  eq-author/src/components/QCodeContext/index.js
Due: author

display mutually exclusive options
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

update tests for mutually exclusive answers
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

added new utility function
  eq-author/src/utils/questionnaireUtils/index.js
Due: author

corrected version display and validation error
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

corrected context to check duplicates
  eq-author/src/components/QCodeContext/index.js
Due: author

corrected test
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

solved qcodes error badge
  eq-author/src/components/QCodeContext/index.js
Due: author

Add piping for answer labels in list additional pages
  eq-author-api/schema/resolvers/utils/folderGetters.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author, api

updated tests
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

Add strong tags for highlighted text in rich text editors
  eq-author/src/components/RichTextEditor/Toolbar.js
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/RichTextEditor/utils/convert.js
  eq-author/src/components/RichTextEditor/utils/createFormatStripper.js
Due: author

Update snapshot
  eq-author/src/components/RichTextEditor/__snapshots__/RichTextEditor.test.js.snap
Due: author

Add conversion tests for bold and highlight styles
  eq-author/src/components/RichTextEditor/utils/convert.test.js
Due: author

solved qcode error badge for version 3
  eq-author/src/components/QCodeContext/index.js
Due: author

solved empty qcode error badge in version 1
  eq-author/src/components/QCodeContext/index.js
Due: author

final solution for qcode error badge
  eq-author/src/components/QCodeContext/index.js
Due: author

Display toolbar buttons as inactive based on prop
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/components/RichTextEditor/Toolbar.js
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/RichTextEditor/utils/convert.js
  eq-author/src/components/RichTextEditor/utils/createFormatStripper.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
