Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Remove left behind code used for testing.
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
Due: author

Update eq-author/src/components/VerticalTabs/index.js
  eq-author/src/components/VerticalTabs/index.js
Due: author

Update eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
Due: author

Update eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/base.js
Due: api

Set max limit to 15 digits
  eq-author/src/App/page/Design/Validation/withCustomNumberValueChange.js
Due: author

Change custom data type to float
  eq-author-api/schema/typeDefs.js
Due: api

Add publish page to main navigation menu
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/assets/icon-publish.svg
  eq-author/src/utils/UrlUtils.js
Due: author

Update snapshot
  eq-author/src/App/page/Design/Validation/NumericValidation/__snapshots__/index.test.js.snap
Due: author

Add publish page content
  eq-author/src/App/publish/PublishPage.js
Due: author

Add publish page test
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/App/publish/PublishPage.test.js
Due: author

Create index file
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Create component
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Implement repeat label and input
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Remove publish subscriptions
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/components/EditorLayout/Header/index.js
Due: author

Update publish page icon
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/icons/publish-icon.svg
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/assets/icon-publish.svg
Due: author

Fix failing tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/publish/PublishPage.test.js
  eq-author/src/components/EditorLayout/Header/index.js
Due: author

Add toggle
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Add feature flag for publish page
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

Fix padding left
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author

Conditionally render repeating answers toggle
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Handle toggle change
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Add title
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Add validation
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Fix content and accessibility errors
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/components-themed/panels/panel.js
Due: author

Initial setup for publish schema
  eq-author-api/docker-compose.yml
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/graphql/publishSchema.graphql
Due: author, api

Cleanup
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Update resolver
  eq-author-api/schema/resolvers/base.js
  eq-author/src/graphql/publishSchema.graphql
Due: author, api

Fix mutation
  eq-author-api/schema/resolvers/base.js
Due: api

Link to collection list
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Update publishSchema resolver
  eq-author-api/schema/resolvers/base.js
Due: api

Add publish questionnaire button test
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/App/publish/PublishPage.test.js
Due: author

Update wording
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

EAR 2036 Update themes
  eq-author-api/constants/themes.js
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateBEIStoDBTTheme.js
  eq-author-api/migrations/updateBEIStoDBTTheme.test.js
  eq-author/src/constants/themes.js
Due: author, api

Fixed tess
  eq-author-api/migrations/updateBEIStoDBTTheme.test.js
Due: api

Add initial publishHistory tests
  eq-author-api/schema/tests/publishSchema.test.js
  eq-author-api/tests/utils/contextBuilder/publishSchema/index.js
  eq-author-api/tests/utils/contextBuilder/publishSchema/publishSchema.js
  eq-author/src/graphql/publishSchema.graphql
Due: author, api

Update typedefs
  eq-author-api/schema/typeDefs.js
  eq-author/src/graphql/fragments/answer.graphql
  eq-author/src/graphql/updateAnswer.graphql
Due: author, api

Pass event handler
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Save toggle status
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Add initial invalid response test
  eq-author-api/schema/tests/publishSchema.test.js
Due: api
