Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Fix empty folders created when no other page types before or after list collector
  eq-author-api/migrations/convertListCollectorPageToFolder.js
Due: api

Add alias to folder migration
  eq-author-api/migrations/convertListCollectorPageToFolder.js
Due: api

Add skip conditions to folders in migration
  eq-author-api/migrations/convertListCollectorPageToFolder.js
Due: api

Update tests
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author

Fix list collector answer data not converting in migration
  eq-author-api/migrations/convertListCollectorPageToFolder.js
  eq-author-api/src/businessLogic/createListCollectorPages.js
Due: api

Remove multiple panel component imports
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

Add first list collector folder data migration test
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Add migration test for folders without list collector pages
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Add migration test for folders containing question pages and list collector pages
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Update migration test to create questionnaire from sections
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Update list collector folder and add item content
  eq-author/src/App/folder/Design/ListCollectorFolderEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
Due: author

Refactor migration test
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Add migration multiple section test
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Add migration test for list collector in first and last position of folders
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Create migration test expected list collector folder result function
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Move page descriptions for list collector pages
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author

Update tests to increase coverage
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
Due: author

Update list tests for previewQuestions
  eq-author-api/schema/tests/lists.test.js
Due: api

Add migration test for calculated summary and confirmation pages
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

Add migration test for multiple list collector pages in folder
  eq-author-api/migrations/convertListCollectorPageToFolder.test.js
Due: api

backed out typeDefs
  eq-author-api/schema/typeDefs.js
Due: api

backed out createOption
  eq-author-api/src/businessLogic/createOption.js
Due: api

backed out other optionValues
  eq-author-api/tests/utils/contextBuilder/answer/createAnswer.js
  eq-author-api/tests/utils/contextBuilder/option/createOption.js
  eq-author-api/tests/utils/contextBuilder/option/queryOption.js
  eq-author-api/tests/utils/contextBuilder/option/updateOption.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author, api

backed out option graphql
  eq-author/src/graphql/fragments/option.graphql
Due: author

Refactor create list collector pages
  eq-author-api/src/businessLogic/createAnswer.js
  eq-author-api/src/businessLogic/createListCollectorPages.js
Due: api

Remove unused values from list collector pages
  eq-author-api/src/businessLogic/createListCollectorPages.js
Due: api

Add list collector folder menu button test
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
Due: author

Remove GCP, update tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/components-themed/Header/index.js
  eq-author/src/components-themed/Header/index.test.js
  eq-author/src/components/Layout/index.test.js
Due: author

Add test for calculated summary inside list collector folder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
Due: author

Add navigation header list collector folder test
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.test.js
Due: author

Add test for folder design page when folder is list collector
  eq-author/src/App/folder/Design/ListCollectorFolderEditor/index.js
  eq-author/src/App/folder/Design/index.test.js
Due: author

Add page design tests
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Design/index.test.js
  eq-author/src/App/section/Design/SectionEditor/MoveSectionModal/__snapshots__/index.test.js.snap
  eq-author/src/components/RichTextEditor/__snapshots__/PipingMenu.test.js.snap
  eq-author/src/tests/utils/createMockQuestionnaire.js
Due: author

Add list collector preview tests
  eq-author/src/App/page/Preview/index.test.js
Due: author

Remove Platform styles
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

Add navigation callbacks tests
  eq-author/src/components/NavigationCallbacks.test.js
Due: author

Add useCreateFolder test for list collector folder
  eq-author/src/hooks/useCreateFolder.test.js
Due: author

Add select component tests
  eq-author/src/components/Select/index.test.js
Due: author

Add list collector folder editor tests
  eq-author/src/App/folder/Design/ListCollectorFolderEditor/index.js
  eq-author/src/App/folder/Design/ListCollectorFolderEditor/index.test.js
Due: author

Add initial add item tests
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.test.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
