Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Updated SectionReviewModal
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/modals/ImportSectionReviewModal/index.js
Due: author

fixed folder tests
  eq-author/src/App/folder/Design/index.test.js
Due: author

fixed another test
  eq-author/src/App/folder/Design/index.test.js
  eq-author/src/components/NavigationCallbacks.test.js
Due: author

removed import
  eq-author/src/App/folder/Design/index.test.js
Due: author

Fixed commetns
  eq-author-api/schema/resolvers/pages/listCollectorPage.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreview.js
Due: author, api

Updated type defs but a bit broken
  eq-author-api/schema/resolvers/importing.js
  eq-author-api/schema/resolvers/utils/sectionGetters.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/importingContent/index.js
Due: author, api

Updated graphql
  eq-author-api/schema/resolvers/importing.js
  eq-author/src/App/importingContent/index.js
  eq-author/src/graphql/importQuestions.graphql
  eq-author/src/graphql/importSections.graphql
Due: author, api

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

added in pipping
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
Due: author

Import sections data
  eq-author-api/schema/resolvers/importing.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/graphql/importSections.graphql
Due: author, api

Fix section and folder duplication
  eq-author/src/graphql/duplicateFolder.graphql
  eq-author/src/graphql/duplicateSection.graphql
Due: author

Fix dupllicate confirmation page
  eq-author/src/graphql/duplicatePage.graphql
Due: author

hub enabled
  eq-author-api/docker-compose.yml
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateEnabledHub.js
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author, api

fixed docker compose
  eq-author-api/docker-compose.yml
Due: api

deleted
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

test fix
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Fix import questions
  eq-author/src/components/modals/ImportContentModal/index.js
  eq-author/src/graphql/importQuestions.graphql
  eq-author/src/graphql/importSections.graphql
Due: author

Fix import sections requires refresh
  eq-author/src/graphql/importSections.graphql
Due: author

migration test
  eq-author-api/migrations/updateEnabledHub.test.js
Due: api

Fix text error
  eq-author-api/schema/resolvers/importing.js
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/SectionPicker/index.js
Due: author, api

Fix section import position bug from section
  eq-author/src/App/importingContent/index.js
Due: author

Fix import section from page
  eq-author/src/App/importingContent/index.js
Due: author

test refactor
  eq-author-api/migrations/updateEnabledHub.test.js
Due: api

Fix import section from folder position
  eq-author/src/App/importingContent/index.js
Due: author

fixed v2 issue and feature flags
  eq-author-api/migrations/updateEnabledHub.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/utils/featureFlag.js
Due: api

toString
  eq-author-api/docker-compose.yml
  eq-author-api/utils/featureFlag.js
Due: api

docker file changed back
  eq-author-api/docker-compose.yml
Due: api

added feature flags on api
  eq-author-api/docker-compose.yml
Due: api

feature flag
  eq-author-api/docker-compose.yml
Due: api

gcp to hub
  eq-author-api/docker-compose.yml
Due: api

Remove logic on import
  eq-author-api/schema/resolvers/importing.js
Due: api

Remove function
  eq-author-api/schema/resolvers/importing.js
Due: api

Add section error import tests
  eq-author-api/schema/resolvers/importing.js
  eq-author-api/schema/tests/importing.test.js
  eq-author-api/tests/utils/contextBuilder/importing/importSections.js
  eq-author-api/tests/utils/contextBuilder/importing/index.js
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/SectionPicker/index.test.js
Due: author, api

remove later sections
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
Due: author, api

Import section success conditions tests
  eq-author-api/schema/tests/importing.test.js
Due: api

broken tests
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.test.js
  eq-author/src/App/page/Preview/ListCollectorPagePreview.test.js
Due: author

remove end of questiionnaire
  eq-author-api/constants/logicalDestinations.js
  eq-author-api/docker-compose.yml
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/customKeywords/validateRoutingDestination.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/tests/utils/contextBuilder/buildRouting.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.test.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv2/DestinationPicker/index.test.js
  eq-author/src/components/ContentPickerv2/index.test.js
  eq-author/src/constants/destinationKey.js
  eq-author/src/constants/destinations.js
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.test.js
Due: author, api, publisher

Section and question picker item tests
  eq-author/src/components/QuestionPicker/Item/index.js
  eq-author/src/components/QuestionPicker/Item/index.test.js
  eq-author/src/components/SectionPicker/Item/index.js
  eq-author/src/components/SectionPicker/Item/index.test.js
Due: author

Section picker list test
  eq-author/src/components/SectionPicker/List/index.js
  eq-author/src/components/SectionPicker/List/index.test.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
