Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

updated migration
  eq-author-api/migrations/updateUKIStoBEISTheme.js
  eq-author-api/migrations/updateUKIStoBEISTheme.test.js
Due: api

updated migration
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateBEIStoDBTTheme.js
  eq-author-api/migrations/updateBEIStoDBTTheme.test.js
  eq-author-api/migrations/updateUKIStoBEISTheme.js
  eq-author-api/migrations/updateUKIStoBEISTheme.test.js
Due: api

Save toggle status
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
  eq-author/src/graphql/fragments/answer.graphql
  eq-author/src/graphql/updateAnswer.graphql
Due: author, api

fixed migration
  eq-author-api/migrations/updateUKIStoBEISTheme.js
Due: api

Update basic answer fragment
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author, api

Add validation
  eq-author-api/src/validation/schemas/answer.json
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

fixed tests
  eq-author-api/constants/themes.js
  eq-author-api/migrations/updateBEIStoDBTTheme.js
  eq-author-api/migrations/updateBEIStoDBTTheme.test.js
  eq-author/src/constants/themes.js
Due: author, api

Fix test data
  eq-author-api/schema/tests/publishSchema.test.js
Due: api

EAR 2036 Update themes to support DBT and DSIT
  eq-author-api/constants/themes.js
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateBEIStoDBTTheme.js
  eq-author-api/migrations/updateBEIStoDBTTheme.test.js
  eq-author/src/constants/themes.js
Due: author, api

fix migration
  eq-author-api/migrations/updateBEIStoDBTTheme.js
Due: api

fixed test
  eq-author-api/migrations/updateBEIStoDBTTheme.test.js
Due: api

test build with no migration
  eq-author-api/migrations/index.js
Due: api

add migration back in
  eq-author-api/migrations/index.js
Due: api

Add validation message
  eq-author/src/constants/validationMessages.js
Due: author

Secondary validation
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/definitions.json
  eq-author/src/constants/validationMessages.js
Due: author, api

fix typos
  eq-author/src/constants/themes.js
Due: author

Renamed const
  eq-author-api/migrations/updateBEIStoDBTTheme.test.js
Due: api

EAR 2036 Fix to theme
  eq-author-api/constants/themes.js
  eq-author-api/migrations/updateBEIStoDBTTheme.js
  eq-author-api/migrations/updateBEIStoDBTTheme.test.js
  eq-author/src/constants/themes.js
Due: author, api

Fix incorrect text
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

Update test
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
Due: author

Restore
  eq-author-api/src/validation/schemas/answer.json
Due: api

Fix ajv validation
  eq-author-api/src/validation/schemas/answer.json
  eq-author-api/src/validation/schemas/definitions.json
Due: api

Conditionally render validation
  eq-author-api/src/validation/schemas/answer.json
Due: api

Add id to regex
  eq-author-api/src/validation/schemas/definitions.json
Due: api

Include Display logic tab
  eq-author/src/App/section/Logic/index.js
Due: author

Fix empty line added.
  eq-author/src/App/section/Logic/index.js
Due: author

Display two answer label error messages
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Reorder validation errors
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/validation/schemas/definitions.json
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Fix create answer requires refresh
  eq-author/src/graphql/createAnswer.graphql
Due: author

Render on question page only
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Fix validation error
  eq-author-api/src/businessLogic/createAnswer.js
Due: api

Add catch error tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/publishSchema.test.js
Due: api

Add list collector to modal
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Disable add another answer
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
  eq-author/src/components/AnswerTypeSelector/index.js
Due: author, api

Clear error
  eq-author/src/components/AnswerTypeSelector/index.js
Due: author

Disable repeating list for multiple answers
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Remove unused tabindex values
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/components-themed/panels/panel.js
Due: author

Render error
  eq-author-api/src/businessLogic/createAnswer.js
Due: api

Align toggle switch to edge
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

Add repeating answer preview styling
  eq-author/src/components/preview/Answers/AnswerTrailingUnit.js
  eq-author/src/components/preview/Answers/elements/Label.js
Due: author
