Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Fix list questions displayed for unlinked list collectors
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

renamed variable
  eq-author-api/src/validation/customKeywords/calculatedSummaryMinAnswers.js
Due: api

grand summary fix
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/updateCalculatedSummaryPageMutation.graphql
Due: author

display calculated summary page type
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/index.js
Due: author

added page type
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/updateCalculatedSummaryPageMutation.graphql
Due: author

change to lower case
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.js
Due: author

set spacing
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.js
Due: author

added tests to improve coverage
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/withUpdateCalculatedSummaryPage.test.js
Due: author

corrected test
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.test.js
Due: author

fix for survey list
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/SupplementaryDataSurveyIdList.test.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
  eq-author/src/graphql/getSupplementaryDataSurveyIdList.graphql
Due: author, api

fix height for list answer picker
  eq-author/src/components/ContentPickerv3/ListAnswerPicker.js
Due: author

Update eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/index.test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/index.test.js
Due: author

Remove empty line
  eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/index.test.js
Due: author

Refactor FormatText
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/components/Forms/WrappingInput/index.js
  eq-author/src/components/PageTitle/PageTitleInput.js
  eq-author/src/components/modals/PasteModal/index.js
  eq-author/src/components/modals/PasteModal/index.test.js
  eq-author/src/utils/reduceMultipleSpaces.js
  eq-author/src/utils/reduceMultipleSpaces.test.js
Due: author

Rename show to showPasteModal
  eq-author/src/components/Forms/WrappingInput/index.js
Due: author

Updated for not-handled and refactor to showPasteModal
  eq-author/src/components/RichTextEditor/index.js
Due: author

Renaming of State
  eq-author/src/components/PageTitle/PageTitleInput.js
Due: author

Update eq-author/src/components/modals/PasteModal/index.test.js
  eq-author/src/components/modals/PasteModal/index.test.js
Due: author

Update eq-author/src/utils/reduceMultipleSpaces.test.js
  eq-author/src/utils/reduceMultipleSpaces.test.js
Due: author

Change modal formatting
  eq-author/src/components/modals/PasteModal/index.js
Due: author

Add trim on non-modal paste
  eq-author/src/components/RichTextEditor/index.js
Due: author

Remove redundant usePasteModal Tweaks to non-RT pasting to remove trailing space if not needed
  eq-author/src/components/Forms/WrappingInput/index.js
  eq-author/src/components/PageTitle/PageTitleInput.js
  eq-author/src/components/modals/PasteModal/index.js
Due: author

Remove redundant code
  eq-author/src/components/modals/PasteModal/index.js
Due: author

fix for validation in answer piping
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
Due: api

fix for destination picker with LC
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
Due: author

bump
  eq-author/README.md
Due: author

Check if imported question contains consecutive spaces
  eq-author/src/App/importingContent/index.js
Due: author

Display extra space modal when imported content includes extra spaces
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/modals/ImportContentModal/index.js
Due: author

Import questions when confirm clicked on extra space modal
  eq-author/src/App/importingContent/index.js
Due: author

Extra space modal cancel functionality
  eq-author/src/App/importingContent/index.js
Due: author

Fix import requires refresh
  eq-author/src/graphql/importQuestions.graphql
  eq-author/src/graphql/importSections.graphql
Due: author

Remove double spaces from all page values on import
  eq-author-api/schema/resolvers/importing.js
  eq-author-api/utils/removeExtraSpaces.js
Due: api

Fixed the create/Delete collection lists when introduction page is absence
  eq-author-api/src/businessLogic/createList.js
  eq-author-api/src/businessLogic/onListDeleted.js
Due: api

Add test for onListDeleted
  eq-author-api/src/businessLogic/onListDeleted.test.js
Due: api

Add createList test
  eq-author-api/src/businessLogic/createList.test.js
  eq-author-api/src/businessLogic/onListDeleted.js
Due: api

Add tests for delete collection lists
  eq-author-api/src/businessLogic/onListDeleted.test.js
Due: api

Add piping to repeating section title
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

Display error when piping an answer and section is not repeating
  eq-author-api/src/businessLogic/onSectionUpdated.js
  eq-author-api/src/validation/schemas/section.json
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
