Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

restored incorrectly updated test
  eq-author-api/middleware/identification/index.test.js
Due: api

tidy up and update snaps
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
Due: author

changed log messages to debug
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

removed commented out lines
  eq-author-api/scripts/test.sh
Due: api

changed debug messages back to info
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

fixed broke server test
  eq-author-api/server.test.js
Due: api

change db connection error errorlevel
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

Added prop to show metadata title
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
Due: author

Enable GB theme default
  eq-author/src/App/settings/ThemesPage.js
Due: author

Fix EQ ID input bug
  eq-author/src/graphql/updateTheme.graphql
Due: author

Updated snapshots
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

update api test for validation
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/MultipleChoiceAnswer.test.js
Due: author, api

Fix for broken tracing
  eq-author-api/server.js
Due: api

fix basic render tests and snapshot
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/MultipleChoiceAnswer.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
Due: author

Changed test log level
  eq-author-api/utils/logger.js
Due: api

Bump eslint from 7.24.0 to 7.25.0 in eq-publisher
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Bump ioredis from 4.24.5 to 4.27.1 eq-author-api
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Updated snapshots after merge master
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Bump helmet from 4.4.1 to 4.5.0 in eq-author-api
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Bump helmet from 4.4.1 to 4.5.0 in eq-publisher
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Bump @storybook/addon-actions from 6.0.21 to 6.2.8
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
  eq-author/yarn.lock
Due: author

Bump mongodb from 3.6.4 to 3.6.6 in eq-author-api
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Bump apollo svr exp from 2.22.1 to 2.23.0 in api
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Bump jsrsasign from 10.1.13 to 10.2.0 in api
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Bump js-yaml from 4.0.0 to 4.1.0 in eq-author-api
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Add tests
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/components/CollapsibleToggled/index.js
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author

Remove unused import
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

Total validation now works as expected
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.js
  eq-author/src/components/ContentPickerSelect/index.js
Due: author

Bump @shelf/jest-mongodb 1.2.3 to 1.2.4 in api
  eq-author-api/yarn.lock
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author, api

Added prop to show metadata title (#1996)
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
Due: author

Linting
  eq-author/src/components/ContentPickerSelect/index.js
Due: author

EAR-1153-selecting-previous-answer-for-numerical-total-shows-error (#1999)
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.js
  eq-author/src/components/ContentPickerSelect/index.js
Due: author

Implement changes
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/components/CollapsibleToggled/index.js
  eq-author/src/components/CollapsibleToggled/index.test.js
Due: author

Move handleEQIdBlur from changes
  eq-author/src/App/settings/ThemesPage.js
Due: author

Deploying to gh-pages from @ fbc56fa192fecdf35995f916079f29fdbde3eb43 🚀
  iframe.html
  main.42f84bdcd0da2af53525.bundle.js
  main.42f84bdcd0da2af53525.bundle.js.map
  main.66619177ca3f66dd4cc7.bundle.js
  main.66619177ca3f66dd4cc7.bundle.js.map
  runtime~main.42f84bdcd0da2af53525.bundle.js.map
  runtime~main.66619177ca3f66dd4cc7.bundle.js
  runtime~main.66619177ca3f66dd4cc7.bundle.js.map
  vendors~main.42f84bdcd0da2af53525.bundle.js
  vendors~main.42f84bdcd0da2af53525.bundle.js.map
  vendors~main.66619177ca3f66dd4cc7.bundle.js
  vendors~main.66619177ca3f66dd4cc7.bundle.js.LICENSE.txt
  vendors~main.66619177ca3f66dd4cc7.bundle.js.map
Due: none

rtl
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
Due: author

all tests working with RTL
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
Due: author

fix duplicate getUserByName in datastore
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

tidy up
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
Due: author

conflict fix for datastore-mongodb.js
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api
