Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

creat mock for toggleStarred
  eq-author/.storybook/main.js
  eq-author/__mocks__/useToggleQuestionnaireStarred.js
  eq-author/src/components/QuestionnaireTable/Row.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

tidy up
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: none

add size props to accessFilter
  eq-author/src/components/QuestionnairesView/Header/AccessFilter.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

Replace scrolling comment box with expanding comment box
  eq-author/src/App/Comments/index.js
Due: author

Replace scrolling comment box with expanding comment box (#2075)
  eq-author/src/App/Comments/index.js
Due: author

Bugfix
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

add tests
  eq-author/src/components/modals/QuestionnaireSelectModal/QuestionnaireSelectModal.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

matts changes
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author

🧹 Lint
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

✅ Fix existing tests
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
  eq-author/src/App/settings/ThemesPage.js
Due: author, api

✨ EAR 1233 - Add validation for 'survey ID'
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/utils.js
  eq-author/src/components/ErrorInline/index.js
  eq-author/src/components/Forms/WrappingInput/index.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/getGeneralSettings.graphql
  eq-author/src/graphql/getThemeSettings.graphql
  eq-author/src/graphql/validationsSubscription.graphql
Due: author, api

✅ Add tests for error messages
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

✅ API tests for error generation
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/schema/tests/duplication.test.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
Due: api

linter issue
  eq-author/src/components/modals/QuestionnaireSelectModal/QuestionnaireSelectModal.test.js
Due: author

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

✨ EAR 1233 - Add validation for 'survey ID' (#2076)
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/duplication.test.js
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/App/settings/utils.js
  eq-author/src/components/ErrorInline/index.js
  eq-author/src/components/Forms/WrappingInput/index.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/getGeneralSettings.graphql
  eq-author/src/graphql/getThemeSettings.graphql
  eq-author/src/graphql/validationsSubscription.graphql
Due: author, api

📜 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

📜 Update PR template (#2078)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Refactoring
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

🛠 Route on section (not folder) ID
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.test.js
Due: publisher

Open/close all and default open added
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

🛠 Fix next page routing at end of section
  eq-publisher/src/eq_schema/Group.test.js
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
Due: publisher

Use QuestionnairesView
  eq-author/.storybook/main.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

Optimism
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenuButtons.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/assets/icon-plus.svg
Due: author

Optimism
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Refactoring
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Fixed tests for Cheerio
  eq-publisher/src/utils/HTMLUtils.js
  eq-publisher/src/utils/convertPipes.js
Due: publisher

Fix bug preventing date Qcode input
  eq-author-api/schema/resolvers/base.js
Due: api

Implement fix using optional
  eq-author-api/schema/resolvers/base.js
Due: api

Bump firebase-admin from 9.6.0 to 9.9.0 in /eq-author-api
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

Moving pages in folders now does not flicker
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/index.js
  eq-author/src/graphql/moveFolder.graphql
Due: author

Updated snapshots for react-tooltip
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/Forms/Tooltip/__snapshots__/tooltip.test.js.snap
Due: author

Moving pages in section now does not flicker
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/index.js
Due: author

Refactoring
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/index.js
Due: author

Moving folder now doesn't flicker
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Now cannot move between sections or folders
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
Due: author
