Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

fix mutually exclusive
  eq-author/src/App/collectionLists/listAnswer.graphql
  eq-author/src/App/page/Design/answers/BasicAnswer/graphql/createMutuallyExclusiveOption.graphql
  eq-author/src/graphql/createCollectionListAnswerMutation.graphql
  eq-author/src/graphql/createCollectionListMutation.graphql
  eq-author/src/graphql/deleteCollectionListAnswerMutation.graphql
  eq-author/src/graphql/deleteCollectionListMutation.graphql
  eq-author/src/graphql/questionnaireCollectionLists.graphql
  eq-author/src/graphql/updateCollectionListMutation.graphql
Due: author

refactored graphql
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/App/collectionLists/createCollectionListAnswerMutation.graphql
  eq-author/src/App/collectionLists/createCollectionListMutation.graphql
  eq-author/src/App/collectionLists/deleteCollectionListAnswerMutation.graphql
  eq-author/src/App/collectionLists/deleteCollectionListMutation.graphql
  eq-author/src/App/collectionLists/questionnaireCollectionLists.graphql
  eq-author/src/App/collectionLists/updateCollectionListMutation.graphql
  eq-author/src/graphql/lists/createCollectionListAnswerMutation.graphql
  eq-author/src/graphql/lists/createCollectionListMutation.graphql
  eq-author/src/graphql/lists/deleteCollectionListAnswerMutation.graphql
  eq-author/src/graphql/lists/deleteCollectionListMutation.graphql
  eq-author/src/graphql/lists/list.graphql
  eq-author/src/graphql/lists/listAnswer.graphql
  eq-author/src/graphql/lists/questionnaireCollectionLists.graphql
  eq-author/src/graphql/lists/updateCollectionListMutation.graphql
Due: author

extended lists in get questionnaire
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author

updated graphql
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/graphql/getQuestionnaire.graphql
  eq-author/src/graphql/lists/createCollectionListMutation.graphql
  eq-author/src/graphql/lists/deleteCollectionListMutation.graphql
Due: author

updated graphql
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

fixed console error
  eq-author/src/App/collectionLists/collectionListItem.js
Due: author

nav changes
  eq-author/src/components-themed/Pagination/pagination.js
  eq-author/src/components/QuestionnairesView/PaginationNav/PaginationNav.js
  eq-author/src/components/QuestionnairesView/PaginationNav/index.js
Due: author

save file
  eq-author/src/components/QuestionnairesView/PaginationNav/PaginationNav.js
Due: author

another tweak
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/graphql/updateAnswer.graphql
Due: author

validation badge fixed on main nav
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

updated snaps
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
Due: author

homepage and new table
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/assets/icon-disabled-delete.svg
  eq-author/src/assets/icon-locked.svg
  eq-author/src/assets/icon-starred.svg
  eq-author/src/components-themed/QuestionnaireTable/FormattedDate.js
  eq-author/src/components-themed/QuestionnaireTable/index.js
  eq-author/src/components-themed/QuestionnaireTable/row.js
  eq-author/src/components-themed/QuestionnaireTable/tableBody.js
  eq-author/src/components-themed/QuestionnaireTable/tableHead.js
  eq-author/src/components-themed/QuestionnaireTable/tableHeadings.js
  eq-author/src/components/IconText/index.js
  eq-author/src/components/QuestionnairesView/Header/index.js
  eq-author/src/constants/table-headings.js
  eq-author/src/constants/theme.js
  eq-author/src/storybook/Components-themed/exampleQuestionnaire.js
  eq-author/src/storybook/Components-themed/questionnaireTableONS.stories.mdx
Due: author

redid graphql structure
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/answerGetters.js
  eq-author-api/schema/resolvers/utils/listGetters.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/linkedDecimalValidation.js
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/graphql/getQuestionnaire.graphql
  eq-author/src/graphql/lists/collectionLists.graphql
  eq-author/src/graphql/lists/questionnaireCollectionLists.graphql
Due: author, api

bug fixes and migrations
  eq-author-api/migrations/addCollectionLists.js
  eq-author-api/migrations/addCollectionLists.test.js
  eq-author-api/migrations/index.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/answerGetters.js
  eq-author-api/schema/resolvers/utils/listGetters.js
Due: api

fixed api tests
  eq-author-api/schema/tests/lists.test.js
Due: api

fixed tests
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/components/CollapsibleMoveable/index.js
  eq-author/src/components/CollapsibleMoveable/index.test.js
Due: author

removed redundant import
  eq-author/src/components/CollapsibleMoveable/index.test.js
Due: author

pagination nav ranges/ array fix
  eq-author/src/components/QuestionnairesView/PaginationNav/PaginationNav.js
Due: author

bug fixes
  eq-author-api/schema/resolvers/base.js
  eq-author/src/graphql/createOption.graphql
  eq-author/src/graphql/updateAnswersOfType.graphql
  eq-author/src/graphql/updateOption.graphql
Due: author, api

styling fix
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

collectionList test
  eq-author/src/App/collectionLists/collectionListsPage.test.js
Due: author

fix P tag
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

tidied props
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

updated graphql names
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

added tests
  eq-author/src/App/collectionLists/collectionListsPage.test.js
Due: author

sign out button and new icon
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/assets/icon-disabled-delete.svg
  eq-author/src/components-themed/Header/index.js
  eq-author/src/components-themed/QuestionnaireTable/row.js
  eq-author/src/components/IconText/index.js
  eq-author/src/components/QuestionnairesView/QuestionnairesTable/index.js
  eq-author/src/components/SearchBar/index.js
  eq-author/src/components/UserProfile/index.js
  eq-author/src/components/buttons/DuplicateButton/index.js
  eq-author/src/components/buttons/IconButtonDelete/index.js
  eq-author/src/storybook/Components-themed/questionnaireTableONS.stories.mdx
Due: author

fix folder move
  eq-author/src/App/page/Design/MoveEntityModal/index.js
  eq-author/src/App/page/Design/MoveEntityModal/index.test.js
Due: author

feature flag for list
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
Due: author

pagination
  eq-author/src/components-themed/Pagination/index.js
  eq-author/src/components/QuestionnairesView/PaginationNav/PaginationNav.js
Due: author

border
  eq-author/src/components/SearchBar/index.js
Due: author

pagination
  eq-author/src/components/QuestionnairesView/PaginationNav/PaginationNav.js
Due: author

Revert backend data
  eq-author-api/docker-compose.yml
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Refactor to update questionnaire introduction
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/SettingsPage.test.js
  eq-author/src/App/settings/graphql/updateQuestionnaireIntroduction.graphql
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

pag
  eq-author/src/components/QuestionnairesView/PaginationNav/PaginationNav.js
  eq-author/src/components/QuestionnairesView/PaginationNav/index.js
  eq-author/src/components/QuestionnairesView/reducer.js
Due: author

Fix bug
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/onQuestionnaireUpdated.js
Due: api

Revert file
  eq-author-api/docker-compose.yml
Due: api

Update tests
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Fix broken tests
  eq-author/src/App/section/Design/index.test.js
Due: author

Fix broken tests
  eq-author-api/src/businessLogic/onQuestionnaireUpdated.js
Due: api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
