Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Remove themeSettings migrations
  eq-author-api/migrations/addThemeSettings.js
  eq-author-api/migrations/addThemeSettings.test.js
  eq-author-api/migrations/copyLegalBasisToThemes.js
  eq-author-api/migrations/copyLegalBasisToThemes.test.js
  eq-author-api/migrations/index.js
Due: api

Remove questionnaire created with themeSettings by default
  eq-author-api/schema/resolvers/base.js
Due: api

Revert removed migrations
  eq-author-api/migrations/addThemeSettings.js
  eq-author-api/migrations/addThemeSettings.test.js
  eq-author-api/migrations/copyLegalBasisToThemes.js
  eq-author-api/migrations/copyLegalBasisToThemes.test.js
  eq-author-api/migrations/index.js
Due: api

Add drop down title
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Add drop down
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Update value on select
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Update option jsx tag
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Fix failing tests
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/updateQuestionnaire.js
Due: api

Remove unused code
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author/src/App/settings/LegalBasisSelect/index.test.js
Due: author, api

Remove themeSettings from backend
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/tests/utils/contextBuilder/folder/moveFolder.js
  eq-author-api/tests/utils/contextBuilder/page/movePage.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/updateTheme.js
  eq-author-api/tests/utils/contextBuilder/section/moveSection.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/mockQuestionnaire.json
  eq-author/src/graphql/disableTheme.graphql
  eq-author/src/graphql/enableTheme.graphql
  eq-author/src/graphql/getSettings.graphql
  eq-author/src/graphql/moveFolder.graphql
  eq-author/src/graphql/movePage.graphql
  eq-author/src/graphql/moveSection.graphql
  eq-author/src/graphql/updateTheme.graphql
  eq-author/src/graphql/validationsSubscription.graphql
Due: author, api

Add dataset table
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Center link button
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Remove queries and mutations used for themeSettings
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/disableTheme.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/enableTheme.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/index.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/updatePreviewTheme.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/updateTheme.js
  eq-author/src/App/settings/LegalBasisSelect/index.test.js
  eq-author/src/App/settings/PreviewTheme/index.js
  eq-author/src/App/settings/PreviewTheme/index.test.js
  eq-author/src/App/settings/graphql/updatePreviewTheme.graphql
  eq-author/src/graphql/disableTheme.graphql
  eq-author/src/graphql/enableTheme.graphql
  eq-author/src/graphql/updateTheme.graphql
  eq-author/src/hooks/useUpdateTheme.js
Due: author, api

Work in progress
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Add survey id's file to constants
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/constants/surveyIDs.js
Due: author

Api setup
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/graphql/getPrepopSchemaVersions.graphql
Due: author, api

Display survey versions
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Updata mock survey data
  eq-author-api/schema/resolvers/base.js
Due: api

Update default survey id
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Add environment variable
  eq-author-api/docker-compose.yml
Due: api

Update date field
  eq-author-api/schema/typeDefs.js
  eq-author/src/graphql/getPrepopSchemaVersions.graphql
Due: author, api

Update prepop resolver
  eq-author-api/schema/resolvers/base.js
Due: api

Format date
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Change date_created to dateCreated
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/graphql/getPrepopSchemaVersions.graphql
Due: author, api

Update survey ids
  eq-author/src/constants/surveyIDs.js
Due: author

Update background color and border radius
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Test git commit
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Add test file
  eq-author-api/schema/tests/prePopSchemaVersions.test.js
Due: api

Test
  eq-author-api/schema/tests/prePopSchemaVersions.test.js
Due: api

Add resolvers
  eq-author-api/schema/tests/prePopSchemaVersions.test.js
Due: api

Test
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

Update prepop api test
  eq-author-api/schema/tests/prePopSchemaVersions.test.js
Due: api

Update prepop front end test
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

Remove unused class
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

Fix to EAR-2024 undefined bug
  eq-author/src/components/QCodeContext/index.js
Due: author

Change border thickness
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Fix to Repeating Section Toggle Bug
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
  eq-author/src/App/section/Design/index.js
  eq-author/src/App/settings/TabItems.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/components/VerticalTabs/index.js
  eq-author/src/graphql/createFolder.graphql
  eq-author/src/graphql/createListCollectorPage.graphql
  eq-author/src/graphql/getSection.graphql
Due: author, api

Remove fix for missing setting tab
  eq-author/src/App/settings/TabItems.js
Due: author

Remove variable fix for bug see EAR-2024
  eq-author/src/components/QCodeContext/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
