Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Remove answer radio option when piping answers into repeating section title
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
  eq-author/src/components/RichTextEditor/Toolbar.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

Display extra space modal when importing sections
  eq-author/src/App/importingContent/index.js
Due: author

Display extra space modal when any attribute type contains extra spaces
  eq-author/src/App/importingContent/index.js
Due: author

Remove extra spaces when importing sections
  eq-author-api/schema/resolvers/importing.js
Due: api

Refactor remove extra spaces from imported pages
  eq-author-api/schema/resolvers/importing.js
Due: api

allow prepop repeating first section
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
  eq-author/src/graphql/getCollectionListNames.graphql
  eq-author/src/graphql/getSupplementaryListNames.graphql
Due: author, api

Add removeExtraSpaces test
  eq-author-api/utils/removeExtraSpaces.js
  eq-author-api/utils/removeExtraSpaces.test.js
Due: api

fix tests
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.test.js
Due: author

Update extra space import modal text
  eq-author/src/App/importingContent/index.js
  eq-author/src/components-themed/Modal/modal.js
Due: author

bump
  eq-author/README.md
Due: author

Refactor removeExtraSpaces
  eq-author-api/utils/removeExtraSpaces.js
  eq-author-api/utils/removeExtraSpaces.test.js
Due: api

Fix extra space import modal text not visible
  eq-author/src/components-themed/Modal/modal.js
Due: author

Update import extra space modal styling
  eq-author/src/App/importingContent/index.js
  eq-author/src/components-themed/Modal/modal.js
Due: author

Update paste modal design to match import modal
  eq-author/src/components/Forms/WrappingInput/index.js
  eq-author/src/components/PageTitle/PageTitleInput.js
  eq-author/src/components/modals/PasteModal/index.js
  eq-author/src/components/modals/PasteModal/index.test.js
Due: author

Set state for show question and section extra space modals to false when onGlobalCancel is called
  eq-author/src/App/importingContent/index.js
Due: author

Add import question extra space modal test
  eq-author/src/App/importingContent/index.test.js
Due: author

Added toggle switch and max character limit text-box
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.js
  eq-author/src/graphql/updateAnswer.graphql
Due: author, api

Update answer validation to only validate text area max length
  eq-author-api/src/validation/schemas/answer.json
Due: api

Add section import extra space confirmation modal test
  eq-author/src/App/importingContent/index.test.js
Due: author

updated number input styling and added minimum character
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.js
Due: author

Update modal styling
  eq-author/src/App/importingContent/index.js
  eq-author/src/components-themed/Modal/modal.js
  eq-author/src/components/modals/ImportContentModal/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/ImportSectionReviewModal/index.js
  eq-author/src/components/modals/PasteModal/index.js
  eq-author/src/components/modals/Wizard/Warning.js
Due: author

Fixed the refresh bug and set default of character to 8
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.js
  eq-author/src/graphql/createAnswer.graphql
Due: author

Update warning component to use className
  eq-author/src/components/modals/ImportContentModal/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/ImportSectionReviewModal/index.js
  eq-author/src/components/modals/Wizard/Warning.js
Due: author

Update Modal component to use className
  eq-author/src/App/importingContent/index.js
  eq-author/src/components-themed/Modal/modal.js
  eq-author/src/components/modals/PasteModal/index.js
Due: author

update piping on intro page for prepop
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Remove className prop from Warning component
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/modals/ImportContentModal/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/ImportSectionReviewModal/index.js
  eq-author/src/components/modals/Wizard/Warning.js
Due: author

tweak to stop piping if first section is not repeating
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Changed the date-test
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.js
Due: author

fix for create and duplicate error
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

created test for TextFieldProeperties
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.test.js
Due: author

corrected onSectionUpdated as deleting too much
  eq-author-api/src/businessLogic/onSectionUpdated.js
Due: api

added validation message to title field
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

Added validation messsages
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author

fixed tests
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

updated code to removed deleted and updated list items
  eq-author-api/src/businessLogic/onAnswerDeleted.js
  eq-author-api/src/businessLogic/onAnswerUpdated.js
Due: api

Updated the label in textArea
  eq-author/src/components/AnswerContent/AnswerProperties/TextAreaProperties.js
Due: author

Added refetch for list deletion
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

fix for repeating label and answer piping when list deleted
  eq-author-api/src/businessLogic/onAnswerDeleted.js
Due: api

Add validation message for text field minimum and maximum character limits
  eq-author-api/src/validation/schemas/answer.json
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/__snapshots__/BasicAnswer.test.js.snap
  eq-author/src/components/AnswerContent/AnswerProperties/TextAreaProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.test.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Set default maxLength to 100
  eq-author-api/utils/defaultAnswerProperties.js
Due: api
