Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Convert select to reusable component
  eq-author/src/App/folder/Design/ListCollectorFolderEditor/index.js
  eq-author/src/components/Select/index.js
Due: author

Fixed broken tests
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author

Add preview questions
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author, api

Update snapshot
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
Due: author

Add empty section title validation when previewQuestions is active
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/requiredWhenIntroductionSetting.js
  eq-author-api/src/validation/schemas/section.json
Due: api

Fix deleted introduction crash
  eq-author-api/src/validation/customKeywords/requiredWhenIntroductionSetting.js
Due: api

Fix bug displaying error when section title is entered
  eq-author-api/src/validation/customKeywords/requiredWhenIntroductionSetting.js
Due: api

Fix section tests
  eq-author-api/schema/tests/section.test.js
  eq-author-api/tests/utils/contextBuilder/index.js
Due: api

Added tests
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

Change test text
  eq-author-api/schema/tests/section.test.js
Due: api

Display list collector folder icon
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author

Fix basic folder icon displayed when list is not selected
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
Due: author

Remove add page buttons from list collector folder
  eq-author/src/App/folder/Design/index.js
Due: author

Cleaned up tests
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

Fixed api tests
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/query.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/update.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
Due: api

Add initial qualifier page
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/constants/page-types.js
Due: author

Added unlink tests
  eq-author-api/schema/tests/prePopSchema.test.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/index.js
  eq-author-api/tests/utils/contextBuilder/prepopSchema/unlink.js
Due: api

Add initial list collector add item page
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/constants/page-types.js
Due: author

Add initial list collector confirmation page setup
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/constants/page-types.js
Due: author

Rename pages
  eq-author/src/App/page/Design/index.js
  eq-author/src/constants/page-types.js
Due: author

Added null check
  eq-author/src/App/dataSettings/ONSDataset/index.js
Due: author

Disable header buttons on list collector page types
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/App/page/Design/PageHeader.js
  eq-author/src/App/page/Design/index.js
Due: author

Corrected the page layout
  eq-author/src/App/dataSettings/ONSDataset/index.js
  eq-author/src/App/dataSettings/ONSDataset/index.test.js
Due: author

Add initial qualifier page design
  eq-author-api/src/businessLogic/createListCollectorPages.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/index.js
Due: author, api

Add initial add item page design
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/App/page/Design/index.js
Due: author

Add initial list collector confirmation design
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
  eq-author/src/App/page/Design/index.js
Due: author

Add list collector page sidebar icons
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
Due: author

Refactor isListCollectorPageType to utils
  eq-author/src/App/page/Design/PageHeader.js
  eq-author/src/utils/isListCollectorPageType.js
Due: author

Disable drag and drop on list collector page types
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
Due: author

Update untitled list collector page and folder display names
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/utils/getName.js
Due: api

Update qualifier page short code
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/App/page/Design/PageHeader.js
Due: author

Update add item short code
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
Due: author

Update list collector confirmation page short code
  eq-author/src/App/page/Design/ListCollectorPageEditors/ConfirmationPageEditor/index.js
Due: author

Add missing fields
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author

Refactor updatePage mutation
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/QuestionPageEditor/withUpdateQuestionPage.js
  eq-author/src/graphql/updateQuestionPage.graphql
Due: author, api

Update additional guidance panel styling
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/components/CollapsibleToggled/index.js
  eq-author/src/graphql/updatePage.graphql
Due: author

Refactor page graphql and update qualifier page title
  eq-author-api/schema/resolvers/pages/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/AdditionalContentOptions.js
  eq-author/src/App/page/Design/QuestionPageEditor/withUpdateQuestionPage.js
  eq-author/src/graphql/fragments/page.graphql
  eq-author/src/graphql/fragments/questionPage.graphql
  eq-author/src/graphql/updatePage.graphql
  eq-author/src/graphql/updateQuestionPage.graphql
Due: author, api

Update qualifier page additional guidance toggle
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
  eq-author/src/graphql/fragments/list-collector-qualifier-page.graphql
  eq-author/src/graphql/updatePage.graphql
Due: author, api

Create qualifier page with additional guidance values defined
  eq-author-api/src/businessLogic/createListCollectorPages.js
Due: api

Update qualifier page additional guidance content
  eq-author/src/App/page/Design/ListCollectorPageEditors/QualifierPageEditor/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
