Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Fix tooltip close on metadata button
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Fix tooltip close on answer button
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Fix tooltip close on variable button
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Update snapshot
  eq-author/src/components/RichTextEditor/__snapshots__/PipingMenu.test.js.snap
Due: author

Fix storybook import errors
  eq-author/src/storybook/Components-themed/questionnaireTableONS.stories.mdx
  eq-author/src/storybook/Patterns/Modals/SelectQuestionnaire.stories.js
Due: none

Resolver logs.
  eq-author-api/schema/resolvers/base.js
Due: api

Updates with ID
  eq-author-api/src/businessLogic/onFolderDeleted.js
  eq-author-api/src/businessLogic/onPageDeleted.js
Due: api

Added ID's to places that needed it.
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/onAnswerDeleted.js
Due: api

Bug Fix
  eq-author-api/schema/resolvers/base.js
Due: api

Minor info log for an if statement that we're not sure gets activated
  eq-author-api/schema/resolvers/base.js
Due: api

Password Strength
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/PasswordStrength/files/filtered8.json
  eq-author/src/App/SignInPage/PasswordStrength/index.js
Due: author

Anywhere we're able access ctx, the questionnaire ID is now passed into the info log.
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/createAnswer.js
  eq-author-api/src/businessLogic/deleteFirstPageSkipConditions.js
  eq-author-api/src/businessLogic/onAnswerUpdated.js
  eq-author-api/src/businessLogic/onFolderDeleted.js
  eq-author-api/src/businessLogic/onPageDeleted.js
Due: api

Update
  eq-author-api/schema/resolvers/base.js
Due: api

Minor change
  eq-author-api/schema/resolvers/base.js
Due: api

Add validation message
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author

moved the json to public
  eq-author/public/commonPasswordList.json
  eq-author/src/App/SignInPage/PasswordStrength/index.js
Due: author

async sorted
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/PasswordStrength/index.js
Due: author

Ear 1712 update logging (#2629)
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/createAnswer.js
  eq-author-api/src/businessLogic/createOption.js
  eq-author-api/src/businessLogic/deleteFirstPageSkipConditions.js
  eq-author-api/src/businessLogic/deleteLastPageRouting.js
  eq-author-api/src/businessLogic/deleteMetadata.js
  eq-author-api/src/businessLogic/onAnswerCreated.js
  eq-author-api/src/businessLogic/onAnswerDeleted.js
  eq-author-api/src/businessLogic/onAnswerUpdated.js
  eq-author-api/src/businessLogic/onFolderDeleted.js
  eq-author-api/src/businessLogic/onPageDeleted.js
Due: api

Add totalTitle scehma definition
  eq-author-api/src/validation/schemas/page.json
Due: api

changed async stuff
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/PasswordStrength/index.js
Due: author

Display error message
  eq-author-api/src/validation/schemas/page.json
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
Due: author, api

fix the password test
  eq-author/src/App/SignInPage/CreateAccount/index.js
Due: author

linter and test fix
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/index.test.js
Due: author

EAR-1693 Missing http security headers
  eq-author-api/server.js
Due: api

made function into promise
  eq-author/src/App/SignInPage/CreateAccount/index.js
  eq-author/src/App/SignInPage/PasswordStrength/index.js
Due: author

converted to lowercase
  eq-author/public/commonPasswordList.json
  eq-author/src/App/SignInPage/PasswordStrength/index.js
Due: author

Display total error message
  eq-author-api/src/validation/schemas/page.json
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

resetPassword has 8 chara and common
  eq-author/src/App/SignInPage/PasswordStrength/index.js
  eq-author/src/App/SignInPage/ResetPassword/index.js
  eq-author/src/App/SignInPage/index.test.js
Due: author

design changes to section summary title
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
Due: author

Remove comments
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
Due: author

Fix empty error on answer selector when calculated summary has other errors
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
Due: author

Change function to use some
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
Due: author

Fix error wrapper rendering when no answers error
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
Due: author

fixed tests
  eq-author/src/App/SignInPage/index.test.js
Due: author

Add moved error to answers selector
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
Due: author

Fix broken tests
  eq-author-api/src/validation/index.test.js
Due: api

Add total title validation test
  eq-author-api/src/validation/index.test.js
Due: api

Fix to publisher URL in API as well as Percentage Bug
  eq-author-api/docker-compose.yml
  eq-publisher/src/utils/convertPipes.js
Due: api, publisher

Test findAnswersErrors function
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/Answers.test.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
