Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Use function prop for validation errors
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/ThemesPage.js
Due: author

Fix broken tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

Add preview button and form type error tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

disable 'add answer' if mutuallyExclusive is true
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/answers/BasicAnswer/__snapshots__/BasicAnswer.test.js.snap
Due: author

add test for disabled 'add Answer btn
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

remove logging
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
Due: author

disable 'add answer' if mutuallyExclusive is true
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
Due: author

add test for disabled 'add Answer btn
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

tiny clean up
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

stitch to back end
  eq-author/src/App/page/Design/answers/Date/index.js
Due: author

add tests
  eq-author/src/App/page/Design/answers/Date/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/Date/index.test.js
Due: author

Update form type format test
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

Change themeErrorCount to formTypeErrorCount
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Render theme errors using parameters
  eq-author/src/App/settings/ThemesPage.js
Due: author

basic working modal without QuestionnaireTable
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: none

✨ EAR 946, 1198, 1199, 1215 - Theme legal basis
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/updateQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/query.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/update.js
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/LegalBasisField.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Preview/index.js
  eq-author/src/App/introduction/Preview/index.test.js
  eq-author/src/App/settings/EqId/index.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/LegalBasisSelect/__snapshots__/index.test.js.snap
  eq-author/src/App/settings/LegalBasisSelect/index.js
  eq-author/src/App/settings/LegalBasisSelect/index.test.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/components/Forms/Label/__snapshots__/Label.test.js.snap
  eq-author/src/components/Radio/index.js
  eq-author/src/hooks/useUpdateTheme.js
Due: author, api

add or option toggle to date - front end (#2057)
  eq-author/src/App/page/Design/answers/Date/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/Date/index.js
  eq-author/src/App/page/Design/answers/Date/index.test.js
Due: author

🛠 Migrate legalBasis for existing persisted themes
  eq-author-api/migrations/copyLegalBasisToThemes.js
  eq-author-api/migrations/copyLegalBasisToThemes.test.js
  eq-author-api/migrations/index.js
Due: api

🛠 Use introduction.legalBasis for migration
  eq-author-api/migrations/copyLegalBasisToThemes.js
  eq-author-api/migrations/copyLegalBasisToThemes.test.js
Due: api

✨ EAR 946, 1198, 1199, 1215 - Allow choosing legal basis for Themes (#2065)
  eq-author-api/migrations/copyLegalBasisToThemes.js
  eq-author-api/migrations/copyLegalBasisToThemes.test.js
  eq-author-api/migrations/index.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/updateQuestionnaire.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/query.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/update.js
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.js
  eq-author/src/App/introduction/Design/IntroductionEditor/LegalBasisField.test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/LegalBasisField.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.test.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Preview/index.js
  eq-author/src/App/introduction/Preview/index.test.js
  eq-author/src/App/settings/EqId/index.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/LegalBasisSelect/__snapshots__/index.test.js.snap
  eq-author/src/App/settings/LegalBasisSelect/index.js
  eq-author/src/App/settings/LegalBasisSelect/index.test.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/components/Forms/Label/__snapshots__/Label.test.js.snap
  eq-author/src/components/Radio/index.js
  eq-author/src/hooks/useUpdateTheme.js
Due: author, api

Deploying to gh-pages from @ a4733a5b5d98fb7c9cafc7f3f0774bb564acf49f 🚀
  iframe.html
  main.6e73a1e5dd366eabed34.bundle.js
  main.6e73a1e5dd366eabed34.bundle.js.map
  main.d6c6655d5c0731b18a48.bundle.js
  main.d6c6655d5c0731b18a48.bundle.js.map
  runtime~main.6e73a1e5dd366eabed34.bundle.js.map
  runtime~main.d6c6655d5c0731b18a48.bundle.js
  runtime~main.d6c6655d5c0731b18a48.bundle.js.map
  vendors~main.6e73a1e5dd366eabed34.bundle.js.map
  vendors~main.d6c6655d5c0731b18a48.bundle.js
  vendors~main.d6c6655d5c0731b18a48.bundle.js.LICENSE.txt
  vendors~main.d6c6655d5c0731b18a48.bundle.js.map
Due: none

fix for themes
  eq-publisher/src/getQuestionnaire/queries.js
Due: publisher

basic working modal and Questionnaire Table
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: none

multiple questionnaires
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: none

Removed transitions
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

style table and modal and add filter btns
  eq-author/src/components/QuestionnaireTable/TableHead.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

🛠 EAR 946 - Fixes for per-theme legal basis
  eq-author/src/App/settings/LegalBasisSelect/__snapshots__/index.test.js.snap
  eq-author/src/App/settings/LegalBasisSelect/index.js
  eq-publisher/src/constants/legalBases.js
  eq-publisher/src/eq_schema/Questionnaire.js
  eq-publisher/src/eq_schema/Questionnaire.test.js
Due: author, publisher

🛠 EAR 946 - Fixes for per-theme legal basis (#2068)
  eq-author/src/App/settings/LegalBasisSelect/__snapshots__/index.test.js.snap
  eq-author/src/App/settings/LegalBasisSelect/index.js
  eq-publisher/src/constants/legalBases.js
  eq-publisher/src/eq_schema/Questionnaire.js
  eq-publisher/src/eq_schema/Questionnaire.test.js
Due: author, publisher

Refactored
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Set properties to exclude decimal in checkbox
  eq-publisher/src/eq_schema/Question.js
Due: publisher

Folder drag and drop added
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

removed console statement
  eq-publisher/src/eq_schema/Question.js
Due: publisher

🛠 Add missing full stop to NI legal basis
  eq-publisher/src/constants/legalBases.js
Due: publisher

EAR-1302-update-publisher-for-mutually-exlusive-option (#2043)
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-publisher/src/eq_schema/Question.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: api, publisher

D&D page and styles added
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
  eq-author/src/utils/questionnaireUtils/index.js
Due: author

move modal to it's own components and handle props
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

Refactor themes validation
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/FormType/index.test.js
  eq-author/src/App/settings/ThemesPage.js
Due: author

Implement renderThemeErrors change
  eq-author/src/App/settings/FormType/index.js
Due: author

Ear 1234 validate form type (#2058)
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/schemas/themeSettings.json
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/page/Design/answers/Date/index.js
  eq-author/src/App/page/Design/answers/Date/index.test.js
  eq-author/src/App/settings/FormType/index.js
  eq-author/src/App/settings/FormType/index.test.js
  eq-author/src/App/settings/ThemesPage.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
