Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Text changes
  eq-author/src/constants/themes.js
Due: author

added token auth
  eq-author-api/package.json
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/authorisedRequest.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/scripts/publishSchema.js
  eq-author-api/yarn.lock
Due: api

pulled out target audience
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/authorisedRequest.js
Due: api

added cir support
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/authorisedRequest.js
Due: api

fix
  eq-author-api/schema/resolvers/utils/authorisedRequest.js
Due: api

tweak publish script
  eq-author-api/scripts/publishSchema.js
Due: api

fix tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/authorisedRequest.js
Due: api

Style changes amde
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

fixed env
  eq-author-api/schema/resolvers/base.js
Due: api

fix cir endpoint naming
  eq-author-api/schema/resolvers/base.js
Due: api

fix test
  eq-author-api/schema/tests/publishSchema.test.js
Due: api

Add validation to list collector answers
  eq-author-api/migrations/addValidationToListCollectorAnswers.js
  eq-author-api/migrations/addValidationToListCollectorAnswers.test.js
  eq-author-api/migrations/index.js
Due: api

Further text changes
  eq-author/src/constants/themes.js
Due: author

Updated
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

Fix questionnaires without introduction pages crashing
  eq-author-api/migrations/updateIntroductionPreviewQuestionsSettings.js
Due: api

Fix tests
  eq-author-api/migrations/updateIntroductionPreviewQuestionsSettings.test.js
Due: api

Add title to list collector pages
  eq-author-api/migrations/addTitleToListCollectorPages.js
  eq-author-api/migrations/index.js
Due: api

Add tests
  eq-author-api/migrations/addTitleToListCollectorPages.js
  eq-author-api/migrations/addTitleToListCollectorPages.test.js
Due: api

Add option labels when option label is undefined
  eq-author-api/migrations/addFieldsToListCollectorFolderContents.js
  eq-author-api/migrations/addFieldsToListCollectorFolderContents.test.js
  eq-author-api/migrations/addTitleToListCollectorPages.test.js
  eq-author-api/migrations/index.js
Due: api

Update to Firestore and fix validation crash
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/docker-compose.yml
Due: api

test commit
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
Due: author

add additonal content collapsible
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createListCollectorPages.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/index.js
  eq-author/src/graphql/createListCollectorFolder.graphql
  eq-author/src/graphql/fragments/list-collector-add-item-page.graphql
Due: author, api

Enable add question pages to list collector folder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author

Enable piping of collection list answer in list additional questions
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/index.js
Due: author

Remove error from piped list answers in list folders
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
Due: api

Enable add page from list collector folder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

Enable importing additional questions from list collector folders
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author

Adjust max/min limit
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/CustomEditor.test.js.snap
Due: author

Prevent drag and drop into list collector folder for non question pages
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Prevent drag and drop of list collector folders into repeating sections
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Revert page to previous position when moved to invalid position in list folder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Add additional pages after add item page when created
  eq-author/src/App/folder/Design/index.js
  eq-author/src/components/NavigationCallbacks.js
Due: author

Disable add question button from list confirmation page
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

Disable create confirmation page inside list folder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

add additional conent
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/AdditionalContentOptions.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/withUpdateQuestionPage.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/App/page/Preview/ListCollectorPagePreviews/AddItemPagePreview/index.js
  eq-author/src/graphql/createListCollectorFolder.graphql
  eq-author/src/graphql/duplicateFolder.graphql
Due: author, api

edit onchange
  eq-author/src/App/page/Design/ListCollectorPageEditors/AddItemPageEditor/index.js
Due: author

Import questions into new folders from list confirmation questions
  eq-author/src/App/importingContent/index.js
Due: author

Enable importing non question pages from list confirmation pages
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

Import question pages to position after add item page from qualifier page
  eq-author/src/App/importingContent/index.js
Due: author
