Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Linting
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
Due: author

fixed confirmation modal story - svg issue
  eq-author/src/components/Panel/ErrorPanel.js
  eq-author/src/components/ValidationError/index.js
Due: author

make itemselect and selectQuestion modal story consistent
  eq-author/src/storybook/Patterns/Modals/ItemSelectModal.stories.js
  eq-author/src/storybook/Patterns/Modals/SelectQuestionnaire.stories.js
Due: none

Ear 1446 add search to validation and piping (#2273)
  eq-author/src/components/ContentPickerv2/AnswerPicker.js
  eq-author/src/components/ContentPickerv2/Menu.js
  eq-author/src/components/ContentPickerv2/SectionMenu.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
  eq-author/src/components/RichTextEditor/__snapshots__/RichTextEditor.test.js.snap
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/SearchBar/index.js
  eq-author/src/utils/questionnaireUtils/index.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitle.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitle.test.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleQuestionTitleShortCode.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleQuestionTitleShortCode.test.js
  eq-author/src/utils/searchFunctions/searchByQuestionTitleShortCode.js
  eq-author/src/utils/searchFunctions/searchByQuestionTitleShortCode.test.js
Due: author

Deploying to gh-pages from @ b3f1cf8da945046d7bc8ab1c4725318a90b8c0fe 🚀
  iframe.html
  main.0165e12861cffc0e622e.bundle.js
  main.0165e12861cffc0e622e.bundle.js.map
  main.1fa55659d3f6fa8dd8e2.bundle.js
  main.1fa55659d3f6fa8dd8e2.bundle.js.map
  runtime~main.0165e12861cffc0e622e.bundle.js.map
  runtime~main.1fa55659d3f6fa8dd8e2.bundle.js
  runtime~main.1fa55659d3f6fa8dd8e2.bundle.js.map
  vendors~main.0165e12861cffc0e622e.bundle.js
  vendors~main.0165e12861cffc0e622e.bundle.js.map
  vendors~main.1fa55659d3f6fa8dd8e2.bundle.js
  vendors~main.1fa55659d3f6fa8dd8e2.bundle.js.LICENSE.txt
  vendors~main.1fa55659d3f6fa8dd8e2.bundle.js.map
Due: none

Refactoring prep
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
  eq-author-api/src/validation/schemas/page.json
Due: api

removed the old stuff
  eq-author/src/utils/searchFunctions/searchByAnswerTitleQuestionTitleShortCode.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleQuestionTitleShortCode.test.js
  eq-author/src/utils/searchFunctions/searchByQuestionTitleOrShortCode.js
  eq-author/src/utils/searchFunctions/searchByQuestionTitleOrShortCode.test.js
Due: author

fix useModel to work with onClose
  eq-author/src/hooks/useModal.js
Due: author

make selectQuestions Story consistent with other modals
  eq-author/src/components/ValidationError/index.js
  eq-author/src/storybook/Patterns/Modals/SelectQuestionnaire.stories.js
  eq-author/src/storybook/Patterns/Modals/SelectQuestions.stories.js
Due: author

fix NavItem styling and add icon
  eq-author/src/components/ValidationError/index.js
  eq-author/src/storybook/Components/NavItem.stories.mdx
  eq-author/src/storybook/Examples/DragAndDrop.stories.js
Due: author

Error message added
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validatePipingMetadataInTitle.js
  eq-author-api/src/validation/schemas/page.json
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Tests added
  eq-author-api/src/validation/index.test.js
Due: api

fixed drag and drop story
  eq-author/src/components/DragAndDrop/index.js
  eq-author/src/storybook/Components/NavItem.stories.mdx
  eq-author/src/storybook/Examples/DragAndDrop.stories.js
Due: author

Ear 1444 piped metadata deleted doesnt throw error (#2282)
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
  eq-author-api/src/validation/customKeywords/validatePipingMetadataInTitle.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/page.json
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
  eq-author/src/constants/validationMessages.js
Due: author, api

fix NavItem Story
  eq-author/src/storybook/Components/ExampleContainer/index.js
  eq-author/src/storybook/Components/NavItem.stories.mdx
Due: none

linter
  eq-author/src/storybook/Components/ExampleContainer/index.js
Due: none

fix collapsible story
  eq-author/src/storybook/Components/Collapsible.stories.mdx
Due: none

fix badge story
  eq-author/src/storybook/Components/Badge.stories.mdx
Due: none

removed ajv warnings
  eq-author-api/src/validation/schemas/answer.json
Due: api

fix broken inline svg
  eq-author/src/components/ValidationError/index.js
  eq-author/src/storybook/Components/Badge.stories.mdx
Due: author

Deploying to gh-pages from @ 3fae41389d720346df1596b5f3e64d2fef80e7a2 🚀
  iframe.html
  main.15703ce060b099122ff8.bundle.js
  main.15703ce060b099122ff8.bundle.js.map
  main.1fa55659d3f6fa8dd8e2.bundle.js
  main.1fa55659d3f6fa8dd8e2.bundle.js.map
  runtime~main.15703ce060b099122ff8.bundle.js
  runtime~main.15703ce060b099122ff8.bundle.js.map
  runtime~main.1fa55659d3f6fa8dd8e2.bundle.js.map
  vendors~main.15703ce060b099122ff8.bundle.js
  vendors~main.15703ce060b099122ff8.bundle.js.LICENSE.txt
  vendors~main.15703ce060b099122ff8.bundle.js.map
  vendors~main.1fa55659d3f6fa8dd8e2.bundle.js
  vendors~main.1fa55659d3f6fa8dd8e2.bundle.js.map
Due: none

fixed proptype warnings
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/AdditionalContentOptions.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/index.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Preview/index.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/section/Logic/Display/DisplayPage/DisplayEditor/DisplayConditionEditor/index.test.js
  eq-author/src/App/section/Preview/SectionIntroPreview.test.js
  eq-author/src/App/section/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Preview/index.test.js
  eq-author/src/components/CollapsibleToggled/index.test.js
  eq-author/src/components/QuestionPicker/Item/index.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/QuestionPicker/index.test.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/QuestionnaireSelectModal.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author

removed ajv warnings and fixed proptype warnings (#2283)
  eq-author-api/src/validation/schemas/answer.json
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/AdditionalContentOptions.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/QuestionProperties/index.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Preview/index.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/section/Logic/Display/DisplayPage/DisplayEditor/DisplayConditionEditor/index.test.js
  eq-author/src/App/section/Preview/SectionIntroPreview.test.js
  eq-author/src/App/section/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Preview/index.test.js
  eq-author/src/components/CollapsibleToggled/index.test.js
  eq-author/src/components/QuestionPicker/Item/index.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/QuestionPicker/index.test.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/QuestionnaireSelectModal.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author, api

Deploying to gh-pages from @ 5214c9bf6666576c1017defc03fcd0d588eb69d1 🚀
  iframe.html
  main.15703ce060b099122ff8.bundle.js
  main.15703ce060b099122ff8.bundle.js.map
  main.24228e7fa4aead88c3e9.bundle.js
  main.24228e7fa4aead88c3e9.bundle.js.map
  runtime~main.15703ce060b099122ff8.bundle.js.map
  runtime~main.24228e7fa4aead88c3e9.bundle.js
  runtime~main.24228e7fa4aead88c3e9.bundle.js.map
  vendors~main.15703ce060b099122ff8.bundle.js.map
  vendors~main.24228e7fa4aead88c3e9.bundle.js
  vendors~main.24228e7fa4aead88c3e9.bundle.js.LICENSE.txt
  vendors~main.24228e7fa4aead88c3e9.bundle.js.map
Due: none

Fix coverage directory not generating all data
  eq-author-api/package.json
  eq-author/package.json
  eq-publisher/package.json
Due: author, api, publisher

latest
  eq-author/src/components/ContentPickerv2/AnswerPicker.js
Due: author

Fix comments falling outside of page
  eq-author/src/components/Comments/Comment/index.js
Due: author

Fix UKIS and EPE theme errors
  eq-author-api/constants/themes.js
  eq-author-api/migrations/updateUKISEPEThemes.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/constants/themeSettings.js
Due: author, api

Update tests
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateUKISEPEThemes.test.js
Due: api

Fix tests
  eq-author-api/migrations/updateUKISEPEThemes.js
Due: api

Fix front end test
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

Fix answer types read twice
  eq-author/src/components/IconGrid/IconGridButton.js
Due: author

Update snapshot
  eq-author/src/components/IconGrid/__snapshots__/IconGridButton.test.js.snap
Due: author

Use prop to set if title is read
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/__snapshots__/AnswerTypeButton.test.js.snap
  eq-author/src/components/IconGrid/IconGridButton.js
  eq-author/src/components/IconGrid/__snapshots__/IconGridButton.test.js.snap
Due: author

Add validation error to date modal
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
Due: author

Update to handle qCodes for other options on radio and checkbox
  eq-author-api/src/businessLogic/createAdditionalAnswer.js
  eq-author-api/src/businessLogic/createOption.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/QCodeContext/index.js
  eq-publisher/src/eq_schema/Answer.js
Due: author, api, publisher

Fix to api tests
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

Fix tests
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/CustomEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/MetadataEditor.test.js.snap
Due: author

changes to Publisher for collapsibles
  eq-publisher/src/eq_schema/Group.js
Due: publisher
