Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Deploying to gh-pages from @ 88e581a25d498d03f0b96f200b385e2d98ee4b02 🚀
  iframe.html
  main.13504e2f81af8fe139c4.bundle.js
  main.13504e2f81af8fe139c4.bundle.js.map
  main.51624b44b6060619f9ea.bundle.js
  main.51624b44b6060619f9ea.bundle.js.map
  runtime~main.13504e2f81af8fe139c4.bundle.js.map
  runtime~main.51624b44b6060619f9ea.bundle.js
  runtime~main.51624b44b6060619f9ea.bundle.js.map
  vendors~main.13504e2f81af8fe139c4.bundle.js.map
  vendors~main.51624b44b6060619f9ea.bundle.js
  vendors~main.51624b44b6060619f9ea.bundle.js.LICENSE.txt
  vendors~main.51624b44b6060619f9ea.bundle.js.map
Due: none

update yarn lock
  eq-author/yarn.lock
Due: author

Update eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

Update eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
Due: author

Add visuallyhidden import
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/SecondaryConditionSelector.test.js.snap
Due: author

fix for feature flags in gcp
  eq-author/src/utils/featureFlags/index.js
Due: author

fix foor tests
  eq-author/scripts/test.js
Due: author

removed enabled folder attribute
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createFolder.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/index.js
  eq-author/src/graphql/duplicateQuestionnaire.graphql
  eq-author/src/graphql/fragments/folder.graphql
  eq-author/src/graphql/getQuestionnaire.graphql
  eq-author/src/graphql/importContent.graphql
  eq-author/src/graphql/moveFolder.graphql
  eq-author/src/graphql/movePage.graphql
  eq-author/src/graphql/sectionFragment.graphql
Due: author, api

Deploying to gh-pages from @ 38fd0023bf204d6e8b13233bdd3c9acf2520fcd4 🚀
  3.08245eaac0546bdce6b6.bundle.js
  3.08245eaac0546bdce6b6.bundle.js.LICENSE.txt
  3.08245eaac0546bdce6b6.bundle.js.map
  4.08245eaac0546bdce6b6.bundle.js
  4.08245eaac0546bdce6b6.bundle.js.map
  iframe.html
  index.html
  main.08245eaac0546bdce6b6.bundle.js
  main.08245eaac0546bdce6b6.bundle.js.map
  main.0fef047d8f3857d9104e.bundle.js
  main.51624b44b6060619f9ea.bundle.js
  main.51624b44b6060619f9ea.bundle.js.map
  main.ae8b5a3f892cc4098e04.bundle.js
  runtime~main.08245eaac0546bdce6b6.bundle.js
  runtime~main.08245eaac0546bdce6b6.bundle.js.map
  runtime~main.51624b44b6060619f9ea.bundle.js
  runtime~main.51624b44b6060619f9ea.bundle.js.map
  vendors~main.08245eaac0546bdce6b6.bundle.js
  vendors~main.08245eaac0546bdce6b6.bundle.js.LICENSE.txt
  vendors~main.08245eaac0546bdce6b6.bundle.js.map
  vendors~main.51624b44b6060619f9ea.bundle.js
  vendors~main.51624b44b6060619f9ea.bundle.js.map
  vendors~main.51db90161e03f2b0db16.bundle.js
  vendors~main.51db90161e03f2b0db16.bundle.js.LICENSE.txt
  vendors~main.e605d83650057f6891dc.bundle.js
  vendors~main.e605d83650057f6891dc.bundle.js.LICENSE.txt
Due: none

added title field
  eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/graphql/fragment.graphql
  eq-author/src/App/folder/graphql/getFolderQuery.graphql
  eq-author/src/App/section/Design/index.js
  eq-author/src/components/NavigationCallbacks.js
  eq-author/src/components/ShortCodeEditor/index.js
Due: author

Updates to collection list page
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/icons/collection-lists-icon.svg
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

Fixes to ID issues that was causing problems with EAR-1485 and EAR-1397 (#2457)
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/resolvers/utils/helpers.js
Due: api

migration
  eq-author-api/migrations/migrateFolder.js
Due: api

fix broken builds
  .github/workflows/buildAuthorRelease.yml
  .github/workflows/buildAuthorStaging.yml
Due: none

default operator fix
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author, api

test
  eq-publisher/Dockerfile
Due: publisher

reverted lint-staged
  package.json
  yarn.lock
Due: none

CustomEditor proptypes
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.test.js
Due: author

Fix duration preview proptypes
  eq-author/src/App/page/Design/Validation/DurationPreview.js
Due: author

RoutingEditor proptypes
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.test.js
Due: author

TotalValidationEditor props
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/index.test.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/index.test.js
Due: author

added migration
  eq-author-api/migrations/index.js
  eq-author-api/migrations/migrateFolder.js
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: api, publisher

Introduction preview props
  eq-author/src/App/introduction/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/introduction/Preview/index.test.js
Due: author

fix tests
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/tests/utils/contextBuilder/folder/createFolder.js
  eq-author-api/tests/utils/contextBuilder/folder/moveFolder.js
  eq-author-api/tests/utils/contextBuilder/page/movePage.js
Due: api

fix for contact details migration
  eq-author-api/migrations/updateContactDetails.js
Due: api

Initial page
  eq-author-api/docker-compose.yml
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/App/Submission/Preview/index.js
  eq-author/src/App/Submission/SubmissionLayout.js
  eq-author/src/App/Submission/index.js
  eq-author/src/assets/icon-submission.svg
  eq-author/src/constants/entities.js
  eq-author/src/utils/UrlUtils.js
Due: author, api

Fix page crash
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/Submission/SubmissionLayout.js
  eq-author/src/utils/UrlUtils.js
Due: author

display or in preview
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
  eq-author/src/components/preview/Answers/__snapshots__/index.test.js.snap
  eq-author/src/components/preview/Answers/index.js
Due: author

Add content to page
  eq-author/src/App/Submission/SubmissionLayout.js
Due: author

Add layout to preview page
  eq-author/src/App/Submission/Preview/index.js
Due: author

added described text
  eq-author/src/App/folder/Design/index.js
Due: author

Add content to editor
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Design/index.js
Due: author

Add toggle switches
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author

Add default backend data
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/createQuestionnaireSubmission.js
Due: api

Update graphql to get submission data
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/queryQuestionnaire.js
  eq-author-api/utils/createQuestionnaireSubmission.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author, api

fixed test
  eq-author-api/src/validation/index.test.js
Due: api

create list test
  eq-author-api/schema/tests/lists.test.js
  eq-author-api/tests/utils/contextBuilder/list/createList.js
  eq-author-api/tests/utils/contextBuilder/list/index.js
Due: api

createList
  eq-author-api/src/businessLogic/createList.js
  eq-author-api/tests/utils/contextBuilder/lists/createList.js
Due: api

fixed BL
  eq-author-api/src/businessLogic/createList.js
Due: api
