Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

EAR 1815 Answer required and mutually exclusive
  eq-author/src/App/page/Design/answers/DateSingle/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.js
  eq-author/src/components/AnswerContent/AnswerProperties/CheckboxProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/DateProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/DurationProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/NumberProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/SelectProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/TextAreaProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/TextAreaProperties.test.js
  eq-author/src/components/AnswerContent/AnswerProperties/TextFieldProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/UnitProperties.js
  eq-author/src/components/AnswerContent/AnswerProperties/UnitProperties.test.js
  eq-author/src/components/AnswerContent/AnswerProperties/index.js
  eq-author/src/components/AnswerContent/AnswerProperties/index.test.js
  eq-author/src/components/AnswerContent/Required/index.js
  eq-author/src/custom-prop-types/index.js
Due: author

Add qcodes page test
  eq-author/src/App/qcodes/QcodesPage.js
  eq-author/src/App/qcodes/QcodesPage.test.js
Due: author

different answer
  eq-author-api/constants/answerTypes.js
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

Fixed name of test
  eq-author/src/components/AnswerContent/AnswerProperties/TextAreaProperties.test.js
Due: author

delete instead of undefined
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

Text change
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

updated snapshot
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
Due: author

Updated prop types
  eq-author/src/components/AnswerContent/AnswerProperties/index.js
  eq-author/src/custom-prop-types/index.js
Due: author

Edited metadata tests
  eq-author/src/components/ContentPickerv3/MetadataPicker.test.js
Due: author

Changes to clear the option ids
  eq-author-api/constants/answerTypes.js
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

Add default user ID metadata
  eq-author-api/utils/defaultMetadata.js
Due: api

Add user ID to metadata selector and add ru ref to default metadata
  eq-author-api/utils/defaultMetadata.js
  eq-author/src/App/metadata/MetadataTable/Controls/KeySelect.js
Due: author, api

Fix failing tests
  eq-author-api/migrations/addBusinessQuestionnaireIntroduction.test.js
  eq-author-api/schema/tests/metadata.test.js
  eq-author-api/schema/tests/questionnaire.test.js
Due: api

EAR 1944 List Answer Picker for Reeating Sections
  eq-author/src/components/ContentPickerSelectv3/content-types.js
  eq-author/src/components/ContentPickerv3/ListAnswerPicker.test.js
Due: author

Updated test text
  eq-author/src/components/ContentPickerv3/ListAnswerPicker.test.js
Due: author

Updated label
  eq-author/src/components/ContentPickerSelectv3/content-types.js
  eq-author/src/components/ContentPickerv3/ListAnswerPicker.test.js
Due: author

Updated label text
  eq-author/src/components/ContentPickerSelectv3/content-types.js
  eq-author/src/components/ContentPickerv3/ListAnswerPicker.test.js
Due: author

Create test file
  eq-author/src/App/importingContent/index.test.js
Due: author

Cleared list id on repeating section import
  eq-author-api/schema/resolvers/importing.js
Due: api

Initial push - working and tested
  eq-author-api/constants/themes.js
  eq-author-api/db/datastore/datastore-firestore.test.js
  eq-author-api/db/datastore/mock-questionnaire.js
  eq-author-api/migrations/index.js
  eq-author-api/migrations/updateDefaultToBusinessTheme.js
  eq-author-api/migrations/updateDefaultToBusinessTheme.test.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/folder.test.js
  eq-author-api/schema/tests/lists.test.js
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createTheme.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/tests/utils/contextBuilder/index.js
  eq-author-api/utils/questionnaireEvents.test.js
  eq-author/src/App/QuestionnaireSettingsModal/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireSettingsModal/index.js
  eq-author/src/App/settings/LegalBasisSelect/__snapshots__/index.test.js.snap
  eq-author/src/App/settings/LegalBasisSelect/index.test.js
  eq-author/src/App/settings/SettingsPage.test.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/constants/themeSettings.js
Due: author, api

Added condition to clear list id
  eq-author-api/schema/resolvers/importing.js
Due: api

Fix naming error
  eq-author-api/migrations/updateDefaultToBusinessTheme.test.js
Due: api

Chnage on value for test consistency
  eq-author-api/schema/tests/questionnaire.test.js
Due: api

Changes
  eq-author/src/App/importingContent/index.test.js
Due: author

Change constant names
  eq-author/src/App/importingContent/index.test.js
Due: author

Close modal test
  eq-author/src/App/importingContent/index.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author

Work in progress
  eq-author/src/App/importingContent/index.test.js
Due: author

Fix TypeError causing test to fail
  eq-author/src/App/importingContent/index.test.js
Due: author

Select questionnaire
  eq-author/src/App/importingContent/index.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author

Add get-questionnaire resolver
  eq-author/src/App/importingContent/index.test.js
Due: author

fix for importing from old questionnaires
  eq-author-api/schema/typeDefs.js
Due: api

Add tests
  eq-author/src/App/importingContent/index.test.js
Due: author

Add import question test
  eq-author/src/App/importingContent/index.test.js
Due: author

Test importing sections
  eq-author/src/App/importingContent/index.test.js
Due: author

Add cancel question select modal test
  eq-author/src/App/importingContent/index.test.js
Due: author

Clear console errors
  eq-author/src/App/importingContent/index.test.js
Due: author

Fix structure
  eq-author/src/App/importingContent/index.test.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
