Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Updated proptypes
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/utils/scrollToTop.js
Due: author

Linting
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

Linting
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/utils/scrollToTop.test.js
Due: author

Linting
  eq-author/src/utils/scrollToTop.js
Due: author

Update qCodes and Centralise validation error
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/qcodes/QCodesTable/graphql/getAllAnswers.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateAnswerMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateCalculatedSummary.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateConfirmationQCode.graphql
  eq-author/src/App/qcodes/QCodesTable/graphql/updateOptionMutation.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/components/Error/ValidationError.js
  eq-author/src/components/Error/index.js
Due: author

Fix linting shorthand
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Add validaiton message text
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

Remove validationError from Error
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/Error/index.js
Due: author

Add secondary qCode query
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

Updated validation messages and snapshot
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/__snapshots__/AnswerValidation.test.js.snap
Due: author

Reverted dynamoose change
  eq-author-api/db/models/DynamoDB.js
Due: api

Add constant values for mutations
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Disable move when one question
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/PageHeader.js
  eq-author/src/App/page/Design/PageHeader.test.js
Due: author

Removed console log
  eq-author/src/components/ScrollPane/index.js
Due: author

Reverted changes and encapsulated scroll functionality into scrollpane
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/__snapshots__/QuestionnaireMeta.test.js.snap
  eq-author/src/App/page/PropertiesPanel/__snapshots__/index.test.js.snap
  eq-author/src/components/ContentPicker/__snapshots__/ContentPickerPanel.test.js.snap
  eq-author/src/components/EditorLayout/__snapshots__/index.test.js.snap
  eq-author/src/components/ScrollPane/index.js
  eq-author/src/utils/scrollToTop.js
  eq-author/src/utils/scrollToTop.test.js
Due: author

Add tests to support isMoveDisabled
  eq-author/src/App/page/Design/PageHeader.js
  eq-author/src/App/page/Design/PageHeader.test.js
Due: author

Remove random lodash import
  eq-author/src/App/page/Design/PageHeader.test.js
Due: author

Remove wrapper debug
  eq-author/src/App/page/Design/PageHeader.test.js
Due: author

test fixes
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
  eq-author/src/components/CommentsPanel/index.test.js
Due: author

wierd test failure
  eq-author/src/components/CommentsPanel/index.test.js
Due: author

Added createdAt to ingnored fields tested copied date is greater than original
  eq-author-api/schema/tests/duplication.test.js
Due: api

broken test
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.test.js
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

fixed tests and new ones added
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
Due: author, api

updated test for more coverage
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
Due: author

tidy up
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
Due: author

Matts review changes
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.test.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
Due: author, api

Remove default 0
  eq-author/src/components/Forms/Number/__snapshots__/index.test.js.snap
  eq-author/src/components/Forms/Number/index.js
  eq-author/src/components/Forms/Number/index.test.js
Due: author

Remove 0 from date range duration
  eq-author-api/utils/defaultAnswerValidations.js
  eq-author/src/App/page/Design/Validation/DurationPreview.js
Due: author, api

fix for question title
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
Due: author

updated test
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
Due: author

Add new default value to tests
  eq-author-api/schema/tests/validation.test.js
Due: api

fix
  eq-author-api/src/validation/customKeywords/validateLatestAfterEarliest.js
  eq-author-api/src/validation/schemas/entities.json
Due: api

updated test
  eq-author-api/src/validation/index.test.js
Due: api

change validation error msg
  eq-author/src/constants/validationMessages.js
Due: author

fix for binary expression not updating
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/updateExpressionGroup.graphql
Due: author

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

fix: eq-publisher/package.json & eq-publisher/yarn.lock to reduce vulnerabilities
  eq-publisher/package.json
  eq-publisher/yarn.lock
Due: publisher

Path conditions:
  author: any of: eq-author/
  api: any of: eq-author-api/
  publisher: any of: eq-publisher/
