Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Add preview page links
  eq-author-api/utils/createSubmission.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author, api

Add feature flag
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Fix default further content text
  eq-author-api/utils/createSubmission.js
Due: api

Fix crash when viewing questionnaire without submission page
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

Fix submission page icon size
  eq-author/src/assets/icon-submission-page.svg
Due: author

Submission page migration
  eq-author-api/migrations/addSubmissionPage.js
  eq-author-api/migrations/index.js
Due: api

Add migration test
  eq-author-api/migrations/addSubmissionPage.test.js
Due: api

Adding component for list
  eq-author/src/App/collectionLists/CollectionListsEditor/CollectionListEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/collectionLists/CollectionListsEditor/CollectionListEditor/index.js
  eq-author/src/App/collectionLists/CollectionListsEditor/CollectionListEditor/index.test.js
  eq-author/src/App/collectionLists/CollectionListsEditor/CollectionListTransition.js
  eq-author/src/App/collectionLists/CollectionListsEditor/CollectionListTransition.test.js
  eq-author/src/App/collectionLists/CollectionListsEditor/__snapshots__/AnswerTransition.test.js.snap
  eq-author/src/App/collectionLists/CollectionListsEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/collectionLists/CollectionListsEditor/index.js
  eq-author/src/App/collectionLists/CollectionListsEditor/index.test.js
  eq-author/src/App/collectionLists/CollectionListsEditor/moveCollectionList.graphql
  eq-author/src/App/collectionLists/CollectionListsEditor/withMoveAnswer.test.js
  eq-author/src/App/collectionLists/CollectionListsEditor/withMoveCollectionList.js
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/App/collectionLists/icon-add.svg
Due: author

update width of checkbox
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
Due: author

update snapshots
  eq-author/src/components/preview/Answers/__snapshots__/MultipleChoiceAnswer.test.js.snap
Due: author

Add contact details test
  eq-author-api/migrations/updateContactDetails.test.js
Due: api

Add create submission page tests
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/createQuestionnaire.js
Due: api

Add update submission test
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/index.js
  eq-author-api/tests/utils/contextBuilder/questionnaire/updateSubmission.js
Due: api

Add missing test comparisons
  eq-author-api/schema/tests/questionnaire.test.js
Due: api

Remove comment
  eq-author-api/utils/createSubmission.js
Due: api

Initial tests
  eq-author/src/App/Submission/Design/SubmissionEditor/index.test.js
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/App/Submission/Design/index.test.js
Due: author

Add preview page tests
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/App/Submission/Preview/index.test.js
Due: author

Fix tests breaking on theme
  eq-author/src/App/Submission/Design/index.test.js
  eq-author/src/App/Submission/Preview/index.test.js
Due: author

Fix missing test coverage
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/App/Submission/Preview/index.test.js
Due: author

Fix failing tests
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/App/Submission/Design/SubmissionEditor/index.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/IconText/index.js
Due: author

Fix missing test data
  eq-author/src/App/section/Design/index.test.js
Due: author

Submission editor update mutation tests
  eq-author/src/App/Submission/Design/SubmissionEditor/index.test.js
Due: author

Add furtherContent test
  eq-author/src/App/Submission/Design/SubmissionEditor/index.test.js
Due: author

Apply IconText styling in SubmissionPreview
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/IconText/index.js
Due: author

Count number of links in further content
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author

Add link limit
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
  eq-author/src/components/RichTextEditor/Toolbar.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

Link button test
  eq-author/src/components/RichTextEditor/Toolbar.test.js
Due: author

Fix test and test less than linkLimit
  eq-author/src/components/RichTextEditor/Toolbar.test.js
Due: author

Add link button tests
  eq-author/src/components/RichTextEditor/Toolbar.test.js
Due: author

Revert file
  eq-author-api/docker-compose.yml
Due: api

Change function parameter
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author

padding to intro preview tab
  eq-author/src/components/MainCanvas/index.js
Due: author

snapshot fix
  eq-author/src/components/MainCanvas/__snapshots__/index.test.js.snap
  eq-author/src/components/transitions/ExpansionTransition/__snapshots__/index.test.js.snap
Due: author

spacing fix
  eq-author/src/App/introduction/Preview/index.js
  eq-author/src/components/MainCanvas/index.js
Due: author

fix
  eq-author/src/App/introduction/Preview/index.js
Due: author

missing functions in test
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
Due: author

write util to supress certain consol errors
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/shared/Logic/SkipLogic/index.test.js
  eq-author/src/components/DeleteConfirmDialog/index.js
  eq-author/src/tests/utils/supressConsol.js
Due: author

remove dependency warnings with suppressConsoleMessage util
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/components/RichTextEditor/LinkPlugin/index.test.js
Due: author

Deploying to gh-pages from @ 2563a6c67c0e9a8418dc40889f0cf4e5c55d8a06 🚀
  3.08245eaac0546bdce6b6.bundle.js
  3.08245eaac0546bdce6b6.bundle.js.map
  3.aa3aa946a0e66af3b8f4.bundle.js
  3.aa3aa946a0e66af3b8f4.bundle.js.LICENSE.txt
  3.aa3aa946a0e66af3b8f4.bundle.js.map
  4.08245eaac0546bdce6b6.bundle.js
  4.08245eaac0546bdce6b6.bundle.js.map
  4.aa3aa946a0e66af3b8f4.bundle.js
  4.aa3aa946a0e66af3b8f4.bundle.js.map
  iframe.html
  main.08245eaac0546bdce6b6.bundle.js
  main.08245eaac0546bdce6b6.bundle.js.map
  main.aa3aa946a0e66af3b8f4.bundle.js
  main.aa3aa946a0e66af3b8f4.bundle.js.map
  runtime~main.08245eaac0546bdce6b6.bundle.js
  runtime~main.08245eaac0546bdce6b6.bundle.js.map
  runtime~main.aa3aa946a0e66af3b8f4.bundle.js
  runtime~main.aa3aa946a0e66af3b8f4.bundle.js.map
  vendors~main.08245eaac0546bdce6b6.bundle.js
  vendors~main.08245eaac0546bdce6b6.bundle.js.map
  vendors~main.aa3aa946a0e66af3b8f4.bundle.js
  vendors~main.aa3aa946a0e66af3b8f4.bundle.js.LICENSE.txt
  vendors~main.aa3aa946a0e66af3b8f4.bundle.js.map
Due: none
