Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Initial move between sections optimisticResponse
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Fix optimistic response
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Updated onBlur and added Preview
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Preview/index.js
Due: author

Initial update page position
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Changes
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Update optimistic response
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Fix data
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Changes
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

trying refetch
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/App/page/Design/withMovePage.js
Due: author

slight improvement
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

first refactor
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/index.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/folder/Design/index.js
  eq-author/src/App/folder/graphql/moveFolder.graphql
  eq-author/src/App/page/Design/withMovePage.js
  eq-author/src/graphql/moveFolder.graphql
  eq-author/src/graphql/movePage.graphql
Due: author, api

bit more refactoring
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

fix broke page move
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

fixed new question not adding
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/graphql/movePage.graphql
Due: author

fix folder move
  eq-author/src/graphql/moveFolder.graphql
Due: author

rewrite using movePage instead of moveFolder
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/utils/arrayMove.js
Due: author

Change source folder enabled
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

fix broken front end test for withMovePage
  eq-author/src/App/page/Design/withMovePage.test.js
Due: author

update test graphQl for moveFolder and movePage
  eq-author-api/tests/utils/contextBuilder/folder/moveFolder.js
  eq-author-api/tests/utils/contextBuilder/page/movePage.js
Due: api

fix piping for radio
  eq-publisher/src/utils/convertPipes.js
Due: publisher

fix returns for movePage tests
  eq-author-api/schema/tests/page.test.js
Due: api

Fix bug preventing 0 days duration being dislpayed
  eq-author/src/App/page/Design/Validation/DurationPreview.js
Due: author

Update tests
  eq-author/src/App/page/Design/Validation/DurationPreview.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/DurationPreview.test.js.snap
Due: author

fix moveFolder tests
  eq-author-api/schema/tests/folder.test.js
Due: api

Change to the qCode context to destructure additionalAnswer qCode
  eq-author/src/components/QCodeContext/index.js
Due: author

Change to the qCode context to destructure additionalAnswer qCode (#2388)
  eq-author/src/components/QCodeContext/index.js
Due: author

Implement initial toggle switch
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/index.js
Due: author

Implement total unanswered validation into API
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createTotalValidation.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/index.js
  eq-author/src/graphql/fragments/total-validation-rule.graphql
Due: author, api

Update backend data from toggle switch value
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/index.js
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.js
  eq-author/src/components/withEntityEditor/index.js
Due: author, api

Change unanswered total validation text
  eq-author-api/src/businessLogic/createTotalValidation.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/index.js
Due: author, api

Fix unanswered total validation
  eq-publisher/src/eq_schema/Question.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: publisher

Fix questionnaire displaying error message for answers to total 0
  eq-publisher/src/eq_schema/Question.js
Due: publisher

Refactor code
  eq-publisher/src/eq_schema/Question.js
Due: publisher

investigation and attempting to move both customs into one
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInTitle.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/customKeywords/validatePipingMetadataInTitle.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/validationUtils.js
Due: author, api

Update snapshot
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/index.test.js.snap
Due: author

Fix Publisher tests
  eq-author-api/docker-compose.yml
  eq-publisher/src/eq_schema/Question.test.js
Due: api, publisher

Add test for validateUnanswered false
  eq-publisher/src/eq_schema/Question.test.js
Due: publisher

Change text and variable name
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createTotalValidation.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/index.js
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.js
  eq-author/src/graphql/fragments/total-validation-rule.graphql
  eq-publisher/src/eq_schema/Question.js
  eq-publisher/src/eq_schema/Question.test.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

Change docker compose file
  eq-author-api/docker-compose.yml
Due: api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
