Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Add error styling to inputs
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
Due: author

Update snapshots
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/CustomEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/MetadataEditor.test.js.snap
Due: author

Change validation messages
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
  eq-author/src/constants/validationMessages.js
Due: author

Change previous answer validation message
  eq-author/src/App/page/Design/Validation/PreviousAnswerEditor.js
Due: author

Update snapshots
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerEditor.test.js.snap
Due: author

EAR 880 Fix answer types read twice (#2295)
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/__snapshots__/AnswerTypeButton.test.js.snap
  eq-author/src/components/IconGrid/IconGridButton.js
  eq-author/src/components/IconGrid/__snapshots__/IconGridButton.test.js.snap
Due: author

updated section index
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
  eq-author/src/graphql/fragments/section.graphql
  eq-author/src/graphql/updateSection.graphql
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

passed through props
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

publisher change
  eq-publisher/src/eq_schema/Group.js
Due: publisher

label styling
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
Due: author

Add validation error tests
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/CustomEditor.test.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.test.js
Due: author

fixed test
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.test.js
Due: author

perhaps this time the linter will pass
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.test.js
Due: author

working - needs testing and tests
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/pages/questionPage.js
  eq-author-api/src/businessLogic/deleteMetadata.js
  eq-author/src/App/metadata/withDeleteMetadata.js
  eq-author/src/components/RichTextEditor/entities/PipedValue.js
  eq-author/src/components/RichTextEditor/index.js
Due: author, api

typo and stlyes
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
Due: author

added to props in test
  eq-author/src/App/section/Design/index.test.js
Due: author

deleted test
  eq-publisher/src/eq_schema/Group.test.js
Due: publisher

Add aria label to answer required
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/AnswerContent/Required/index.js
Due: author

removed test
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

more
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

put that back jase you lemon
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

moved that test
  eq-publisher/src/eq_schema/Section.test.js
Due: publisher

Change the order screen reader reads answer required
  eq-author/src/components/AnswerContent/Required/index.js
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author

Update snapshots
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
Due: author

Change prop name
  eq-author/src/components/AnswerContent/Required/index.js
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author

tidy up linting
  eq-author/src/components/RichTextEditor/index.js
Due: author

Deploying to gh-pages from @ 971e25302eb1866c8504eea15ba043e9c0d48874 🚀
  iframe.html
  main.24228e7fa4aead88c3e9.bundle.js
  main.24228e7fa4aead88c3e9.bundle.js.map
  main.f18d9294923ebbef2fc9.bundle.js
  main.f18d9294923ebbef2fc9.bundle.js.map
  runtime~main.24228e7fa4aead88c3e9.bundle.js.map
  runtime~main.f18d9294923ebbef2fc9.bundle.js
  runtime~main.f18d9294923ebbef2fc9.bundle.js.map
  vendors~main.24228e7fa4aead88c3e9.bundle.js.map
  vendors~main.f18d9294923ebbef2fc9.bundle.js
  vendors~main.f18d9294923ebbef2fc9.bundle.js.LICENSE.txt
  vendors~main.f18d9294923ebbef2fc9.bundle.js.map
Due: none

disabled toggle if no summary
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
Due: author

remeoved some unwanted stuff
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
Due: author

include an update for question desc when meta deleted
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/deleteMetadata.js
  eq-author/src/App/metadata/withDeleteMetadata.test.js
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
  eq-author/src/components/RichTextEditor/index.js
Due: author, api

tidy up
  eq-author-api/schema/resolvers/base.js
  eq-author-api/src/businessLogic/deleteMetadata.js
Due: api

Added backend for validation
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/calculatedSummaryPosition.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/schemas/page.json
Due: api

Test fixes
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateBinaryExpression.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateRightSide.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withDeleteRule.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withUpdateRule.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withCreateRule.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withUpdateRouting.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/withCreateRouting.test.js
Due: author

Added a refetch request to get the questionnaire
  eq-author-api/schema/resolvers/createMutation.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateBinaryExpression.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateRightSide.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withDeleteRule.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/withUpdateRule.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withCreateRule.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/withUpdateRouting.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/withCreateRouting.js
Due: author, api

Removed commented PubSub
  eq-author-api/schema/resolvers/createMutation.js
Due: api

Fix incorrect label with decimals
  eq-author/src/components/AnswerContent/AnswerProperties/NumberProperties.js
  eq-author/src/components/AnswerContent/Decimal/index.js
  eq-author/src/components/Forms/Number/index.js
Due: author

Fix unit label
  eq-author/src/components/AnswerContent/AnswerProperties/UnitProperties.js
  eq-author/src/components/Forms/Number/__snapshots__/index.test.js.snap
Due: author

replacing deleted metadata migration almost working now
  eq-author-api/migrations/index.js
  eq-author-api/migrations/upateAnswerDeletedMetaData.js
  eq-author-api/migrations/upateAnswerDeletedMetaData.test.js
Due: api

new tests working for migration
  eq-author-api/migrations/upateAnswerDeletedMetaData.js
  eq-author-api/migrations/upateAnswerDeletedMetaData.test.js
Due: api

tidy up
  eq-author-api/migrations/upateAnswerDeletedMetaData.js
Due: api
