Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher
  patch: false

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/
# comment: off
comment:
layout: diff, files # accepted in any order: reach, diff, flags, and/or files

comment out code todo with publish btn and tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

function for dynamic error msgs
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/constants/validationMessages.js
Due: author

extra tests for coverage
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/constants/validationMessages.js
Due: author

Added test
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.test.js
Due: author

updated tests and tidy up
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.test.js
  eq-author/src/constants/validation-error-codes.js
  eq-author/src/constants/validationMessages.js
Due: author

added test
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/constants/validationMessages.js
Due: author

updated test
  eq-author-api/src/validation/index.test.js
Due: api

added check for deleted options
  eq-author-api/src/validation/customKeywords/validateExclusiveCheckbox.js
Due: api

Add correct duration error message
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
Due: author

WIP
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/components/EditorLayout/index.js
  eq-author/src/custom-prop-types/index.js
Due: author

added validationErrorInfo to the Tabs
  eq-author/src/App/page/Design/index.js
  eq-author/src/App/page/Design/index.test.js
  eq-author/src/App/page/Logic/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/index.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
  eq-author/src/App/page/Preview/QuestionPagePreview.js
  eq-author/src/App/questionConfirmation/Design/__snapshots__/index.test.js.snap
  eq-author/src/App/questionConfirmation/Design/index.js
  eq-author/src/App/questionConfirmation/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/questionConfirmation/Preview/index.js
  eq-author/src/App/section/Design/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/components/EditorLayout/Tabs/tabs.test.js
  eq-author/src/components/EditorLayout/__snapshots__/index.test.js.snap
  eq-author/src/components/EditorLayout/index.js
  eq-author/src/custom-prop-types/index.js
Due: author

API can generate routing rule error
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/constants/validationErrorTypes.js
  eq-author-api/schema/resolvers/logic/routing2/routingRule2/index.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/fragment.graphql
Due: author, api

Linting
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/src/validation/index.js
Due: api

Linting
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
Due: api

Errors now show at page level
  eq-author-api/src/validation/index.js
Due: api

add uniqwith
  eq-publisher/src/eq_schema/Group.js
Due: publisher

One more to fix
  eq-author/src/components/EditorLayout/Tabs/__snapshots__/tabs.test.js.snap
  eq-author/src/components/EditorLayout/Tabs/tabs.test.js
Due: author

final test
  eq-author/src/components/EditorLayout/Tabs/tabs.test.js
Due: author

Change qcode table labels
  eq-author/src/App/qcodes/QCodesTable/getAllAnswers.graphql
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

AJV piping error to ValidationErrors
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validateLeftHandSide.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

working through to front now - just needs tests
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author

fix for missing right hand error
  eq-author-api/src/validation/schemas/entities.json
Due: api

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

small bug
  eq-author/src/App/page/Design/index.js
Due: author

change to custom props
  eq-author/src/custom-prop-types/index.js
Due: author

weird typo
  eq-author/src/App/page/Preview/QuestionPagePreview.js
Due: author

Refactoring and additional error messages
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/components/ContentPickerSelect/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/components/ValidationError/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

tests added
  eq-author-api/src/validation/customKeywords/validateLeftHandSide.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Styling
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/components/ValidationError/index.js
Due: author

removed default of 0
  eq-author/src/components/Forms/Number/index.js
Due: author

moved the default so it doesn't break the world
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/NumberAnswerSelector.test.js.snap
  eq-author/src/components/Forms/Number/index.js
Due: author
