Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Add data version
  eq-author/src/components/QCodeContext/index.js
Due: author

Default value
  eq-author/src/components/QCodeContext/index.js
Due: author

Add question title placeholder
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Fix to placeholder in Import Content dialogs
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/QuestionPicker/index.test.js
  eq-author/src/components/SectionPicker/index.js
  eq-author/src/components/SectionPicker/index.test.js
Due: author

first commit
  eq-author-api/utils/sanitiseMetadata.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author, api

updated update option
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/schema/resolvers/utils/setDataVersion.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Design/answers/withDeleteOption.js
  eq-author/src/App/page/Design/answers/withUpdateOption.js
Due: author, api

fix tests
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/withUpdateOption.test.js
Due: author

tag manager update
  eq-author/src/index.js
Due: author

bump
  eq-author/README.md
Due: author

Added SELECT_OPTION to getEmptyQCodes
  eq-author/src/components/QCodeContext/index.js
Due: author

Fix
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Refactored dynamic option to content picker v3
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
Due: author

question title fix
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Refactored metadata content picker v3
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.js
Due: author

Refactored metadata content picker test
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.test.js
  eq-author/src/App/page/Design/Validation/__snapshots__/MetadataContentPicker.test.js.snap
Due: author

Add health and social themes
  eq-author-api/constants/themes.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/ThemesPage.test.js
  eq-author/src/constants/themeSettings.js
Due: author, api

Edited tests and routing destination to content picker v3
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/components/ContentPickerv3/index.test.js
  eq-author/src/components/RichTextEditor/PipingMenu.test.js
Due: author

Set previous answer content picker v3
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
Due: author

More changes for calc summary and import content
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/SelectedAnswer.js
  eq-author/src/components/AnswerPicker/index.js
Due: author

added BEIS_NI
  eq-author-api/constants/themes.js
  eq-author-api/migrations/updateUKIStoBEISTheme.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/constants/themeSettings.js
Due: author, api

fix test
  eq-author-api/migrations/updateUKIStoBEISTheme.test.js
Due: api

fix tests
  eq-author/src/App/settings/ThemesPage.test.js
Due: author

Add title for collection lists
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/QCodeContext/index.js
Due: author

fix validation metadata editor
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.js
Due: author

tweaked
  eq-author/src/App/page/Design/Validation/DateValidation/MetadataEditor.js
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.js
  eq-author/src/components/ContentPickerSelectv3/index.js
Due: author

Solved the previous answer selection
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
Due: author

Updated snapshots to fix the tests
  eq-author/src/App/page/Design/Validation/DateValidation/__snapshots__/MetadataEditor.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/MetadataContentPicker.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
Due: author

Fix import sections with list collector page
  eq-author-api/schema/resolvers/importing.js
Due: api

delete right side when left is set to unanswered
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

just removing optionIDs instead
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

set optionid to [] so validation works
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

Added more tests to improve the test coverage
  eq-author/src/App/page/Design/Validation/MetadataContentPicker.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.test.js
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.test.js
  eq-author/src/components/AnswerPicker/index.test.js
  eq-author/src/components/ContentPickerv3/MetadataPicker.test.js
  eq-author/src/components/RichTextEditor/PipingMenu.test.js
  eq-author/src/constants/answer-types.js
Due: author

Improved the test coverage
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.test.js
  eq-author/src/components/ContentPickerv3/ListAnswerPicker.test.js
Due: author

Some more tests to improve the coverage
  eq-author/src/components/ContentPickerv3/AnswerPicker.test.js
Due: author

Improve coverage
  eq-author/src/App/qcodes/QCodesTable/index.test.js
  eq-author/src/tests/utils/createMockQuestionnaire.js
Due: author

Improve coverage
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

Cleaned up some tests
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.test.js
Due: author
