Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Add empty display conditions test
  eq-author/src/App/section/Logic/Display/index.test.js
Due: author

Move file
  eq-author/src/App/section/Logic/Display/DisplayPage/index.test.js
Due: author

Renamed tests
  eq-author/src/App/section/Logic/Display/DisplayPage/DisplayEditor/DisplayConditionEditor/index.test.js
Due: author

Implement all DisplayPage tests
  eq-author/src/App/section/Logic/Display/DisplayPage/DisplayEditor/DisplayConditionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Logic/Display/DisplayPage/index.test.js
Due: author

Rename Footer div
  eq-author/src/App/section/Logic/Display/DisplayPage/DisplayEditor/index.js
Due: author

Add logic tests
  eq-author/src/App/section/Logic/index.test.js
Due: author

Fixed tests
  eq-author/src/App/section/Logic/index.js
  eq-author/src/App/section/Logic/index.test.js
Due: author

removed unessessary test and changed handleMove hook
  eq-author/src/App/page/Design/MoveEntityModal/index.js
  eq-author/src/App/page/Design/MoveEntityModal/index.test.js
Due: author

Implement logic tabs tests
  eq-author/src/App/section/Logic/index.test.js
Due: author

EAR-1414-move-delete-options-not-visible-on-answer-options (#2171)
  eq-author/src/App/introduction/Design/IntroductionEditor/CollapsiblesEditor/CollapsibleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
  eq-author/src/components/buttons/DeleteButton/__snapshots__/deletebutton.test.js.snap
  eq-author/src/components/buttons/DeleteButton/index.js
  eq-author/src/components/buttons/MoveButton/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/MoveButton/index.js
  eq-author/src/components/datatable/Controls/__snapshots__/DeleteRowButton.test.js.snap
Due: author

remove temp file
  eq-author/src/components/Autocomplete/temp.js
Due: author

✨ EAR 1318 - Create design for `review questions` modal (#2165)
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/__snapshots__/QuestionnaireMeta.test.js.snap
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
  eq-author/src/App/page/Design/answers/dummy/TextArea/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/dummy/TextInput/__snapshots__/index.test.js.snap
  eq-author/src/assets/icon-chevron-left.svg
  eq-author/src/assets/icon-warning-circle.svg
  eq-author/src/components/Dialog/DialogButtons/index.js
  eq-author/src/components/Forms/Input/__snapshots__/Input.test.js.snap
  eq-author/src/components/Forms/TextArea/__snapshots__/TextArea.test.js.snap
  eq-author/src/components/buttons/Button/__snapshots__/LinkButton.test.js.snap
  eq-author/src/components/buttons/Button/index.js
  eq-author/src/components/buttons/CloseButton/__snapshots__/closeButton.test.js.snap
  eq-author/src/components/buttons/CloseButton/index.js
  eq-author/src/components/buttons/TextButton/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/AddRowButton.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInput.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInputDate.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableSelect.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableTypeaheadInput.test.js.snap
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.test.js
  eq-author/src/components/modals/Wizard/Warning.js
  eq-author/src/components/modals/Wizard/index.js
  eq-author/src/constants/theme.js
  eq-author/src/hooks/useModal.js
  eq-author/src/storybook/Patterns/Importing content/ReviewQuestionModal.stories.js
  eq-author/src/storybook/Patterns/Modals/ConfirmationModal.stories.js
  eq-author/src/storybook/Patterns/Modals/Wizard.stories.js
Due: author

Deploying to gh-pages from @ 437ba76f20ac3cb135e03b951164b81a9f1855e3 🚀
  iframe.html
  main.a43d3060aff373e76f78.bundle.js
  main.a43d3060aff373e76f78.bundle.js.map
  main.e274af03ccc279628b26.bundle.js
  main.e274af03ccc279628b26.bundle.js.map
  runtime~main.a43d3060aff373e76f78.bundle.js
  runtime~main.a43d3060aff373e76f78.bundle.js.map
  runtime~main.e274af03ccc279628b26.bundle.js.map
  vendors~main.a43d3060aff373e76f78.bundle.js
  vendors~main.a43d3060aff373e76f78.bundle.js.LICENSE.txt
  vendors~main.a43d3060aff373e76f78.bundle.js.map
  vendors~main.e274af03ccc279628b26.bundle.js
  vendors~main.e274af03ccc279628b26.bundle.js.map
Due: none

Linting
  eq-author/src/hooks/useModal.js
Due: author

Replace getSection Graphql file
  eq-author/src/App/section/Logic/Display/DisplayPage/DisplayEditor/DisplayConditionEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Logic/Display/index.js
  eq-author/src/App/section/Logic/getSection.graphql
  eq-author/src/graphql/getSection.graphql
Due: author

Remove required prop
  eq-author/src/App/section/Logic/Display/index.js
Due: author

Fix display logic shown when hub is disabled
  eq-author/src/App/section/Logic/Display/DisplayPage/index.js
Due: author

Adding a binary expression to a display condition works
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/utils/logicGetters.js
Due: api

Changed width of Dummy SelectField
  eq-author/src/App/page/Design/answers/dummy/Date/index.js
Due: author

Hub functionality
  eq-author/src/components/preview/Answers/DateAnswer.js
Due: author

Snapshot Test Update for DateAnswer
  eq-author/src/components/preview/Answers/__snapshots__/DateAnswer.test.js.snap
Due: author

refactored create expression and fixed refresh
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/resolvers/utils/logicGetters.js
Due: api

added validation
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/schemas/logic.json
  eq-author-api/src/validation/schemas/section.json
Due: api

fixed add condition
  eq-author/src/graphql/getSection.graphql
Due: author

fix group level validation
  eq-author-api/schema/resolvers/logic/routing2/expressionGroup2/index.js
Due: api

fixed error dot on top tab
  eq-author/src/components/EditorLayout/Tabs/index.js
Due: author

Added error count to vertical tab
  eq-author/src/App/section/Logic/index.js
Due: author

fixed add diplay condtions
  eq-author/src/graphql/createDisplayCondition.graphql
Due: author

Switching around the disable and enable
  eq-author/src/components/preview/Answers/DateAnswer.js
Due: author

updated chaining
  eq-author/src/App/section/Logic/index.js
Due: author

conditional (ternary) operator instead of enable & disable
  eq-author/src/App/page/Design/answers/dummy/Date/index.js
  eq-author/src/components/preview/Answers/DateAnswer.js
Due: author

EAR-1269-Add-Eslint-rules-for-hooks (#2170)
  eq-author/.babelrc
  eq-author/.eslintrc.js
  eq-author/babel.config.js
  eq-author/package.json
  eq-author/src/App/MeContext.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/MoveEntityModal/index.js
  eq-author/src/App/page/Design/MoveEntityModal/index.test.js
  eq-author/src/App/page/Design/Validation/PreviousAnswerContentPicker.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/review/ReviewPage.js
  eq-author/src/App/shared/Logic/SkipLogic/mutations.js
  eq-author/src/components/Autocomplete/SRStatus.js
  eq-author/src/components/Autocomplete/index.js
  eq-author/src/components/Comments/Comment/index.js
  eq-author/src/components/ContentPickerSelect/index.js
  eq-author/src/components/ContentPickerSelect/useTruncation.js
  eq-author/src/components/NavigationCallbacks.js
  eq-author/src/components/QCodeContext/index.js
  eq-author/src/components/QuestionnaireTable/Row.js
  eq-author/src/components/QuestionnairesView/usePersistedReducer.js
  eq-author/src/components/RichTextEditor/LinkPlugin/ToolbarButton.js
  eq-author/src/components/modals/ConfirmationModal/index.js
  eq-author/src/hooks/useModal.js
  eq-author/yarn.lock
Due: author

Deploying to gh-pages from @ cc9a8bfa959cda350ef5653c730a27d523497b93 🚀
  iframe.html
  main.289f36fbcb83bd45ba9a.bundle.js
  main.289f36fbcb83bd45ba9a.bundle.js.map
  main.a43d3060aff373e76f78.bundle.js
  main.a43d3060aff373e76f78.bundle.js.map
  runtime~main.289f36fbcb83bd45ba9a.bundle.js
  runtime~main.289f36fbcb83bd45ba9a.bundle.js.map
  runtime~main.a43d3060aff373e76f78.bundle.js.map
  vendors~main.289f36fbcb83bd45ba9a.bundle.js
  vendors~main.289f36fbcb83bd45ba9a.bundle.js.LICENSE.txt
  vendors~main.289f36fbcb83bd45ba9a.bundle.js.map
  vendors~main.a43d3060aff373e76f78.bundle.js.map
Due: none

Updates to test to match react testing library
  eq-author/src/components/preview/Answers/DateAnswer.test.js
Due: author

Update to dummy input tests
  eq-author/src/App/page/Design/answers/dummy/Date/index.test.js
Due: author

Snapshot updates
  eq-author/src/App/page/Design/answers/dummy/Date/__snapshots__/index.test.js.snap
  eq-author/src/components/preview/Answers/__snapshots__/DateAnswer.test.js.snap
Due: author

fix for logic page in v2
  eq-author/src/App/section/Design/index.js
  eq-author/src/App/section/Logic/index.js
  eq-author/src/App/section/Preview/index.js
Due: author

fixed logic getter util
  eq-author-api/schema/resolvers/utils/logicGetters.js
Due: api

small refactor
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

Conditonal render based on hub for date format
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
