Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Add loading state when publish button is clicked
  eq-author/src/App/publish/PublishPage.js
Due: author

Remove unused import
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
Due: api

Rename isLoading to isPublishing
  eq-author/src/App/publish/PublishPage.js
Due: author

add new env file
  .gitignore
  eq-author/README.md
  eq-author/config/env.js
Due: author

Add tests
  eq-author/src/App/publish/PublishPage.test.js
Due: author

Add toast message on success/failure, and update tests
  eq-author/src/App/publish/GetPublishHistory.test.js
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/App/publish/PublishPage.test.js
  eq-author/src/components/Toasts/index.js
Due: author

Update API tests
  eq-author-api/schema/tests/publishSchema.test.js
Due: api

Revert db change
  eq-author-api/docker-compose.yml
Due: api

Switch to template literal
  eq-author/src/App/publish/GetPublishHistory.js
Due: author

Add initial publish button function update
  eq-author/src/App/publish/PublishPage.js
Due: author

Remove empty then
  eq-author/src/App/publish/PublishPage.js
Due: author

Replace handle publish button click call
  eq-author/src/App/publish/PublishPage.js
Due: author

Fix failing tests
  eq-author/src/App/publish/PublishPage.test.js
Due: author

Set chalk version
  eq-author-api/package.json
  eq-author-api/yarn.lock
  eq-author/package.json
  eq-author/yarn.lock
Due: author, api

Pin dependency versions for frontend
  eq-author/package.json
  eq-author/yarn.lock
Due: author

Pin root dependency versions
  package.json
  yarn.lock
Due: none

Pin dependency versions for Publisher
  eq-publisher/package.json
  eq-publisher/yarn.lock
Due: publisher

Pin dependency versions for API
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

updated cloudbuild
  cloudbuild-author-api-tests.yaml
Due: none

tweak apt
  cloudbuild-author-api-tests.yaml
Due: none

update to node 16
  cloudbuild-author-api-tests.yaml
Due: none

update to node 18
  cloudbuild-author-api-tests.yaml
Due: none

trying node 17
  cloudbuild-author-api-tests.yaml
Due: none

removed coverage output
  cloudbuild-author-api-tests.yaml
Due: none

Pin additional dependencies
  eq-author/package.json
  eq-author/yarn.lock
Due: author

upgrade redis docker image
  eq-author-api/docker-compose-ci.yml
  eq-author-api/docker-compose.yml
Due: api

test script to use latest redis docker image
  eq-author-api/scripts/test.sh
Due: api

updated clopudbuild docker library
  cloudbuild.yaml
Due: none

Add validator call to publish step
  eq-author-api/docker-compose.yml
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/publishSchema.test.js
Due: api

Moved publish history into metadata collection
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/publishSchema.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/publishSchema/publishSchema.js
  eq-author/src/graphql/publishSchema.graphql
Due: author, api

added GUID for v3
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/schema/resolvers/base.js
Due: api

removed redundant code
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

Rename envar, and change port number
  eq-author-api/docker-compose.yml
  eq-author-api/schema/resolvers/base.js
Due: api

Update to use revised PublishHistory
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/publishSchema.test.js
Due: api

Fix output from validation
  eq-author-api/schema/resolvers/base.js
Due: api

Updated to allow searching by version id
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/middleware/export-version.js
  eq-author-api/schema/resolvers/base.js
Due: api

publish to two environments
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/docker-compose.yml
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/resolvers/utils/index.js
  eq-author-api/schema/resolvers/utils/publishSchema.js
  eq-author-api/schema/tests/publishSchema.test.js
Due: api

commented out GUID check
  eq-author-api/schema/resolvers/utils/publishSchema.js
Due: api

edited comment
  eq-author-api/schema/resolvers/utils/publishSchema.js
Due: api

revert version id
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/middleware/export-version.js
  eq-author-api/schema/resolvers/base.js
  eq-author-api/server.js
Due: api
