Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher
  patch: false

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/
# comment: off
comment:
layout: diff, files # accepted in any order: reach, diff, flags, and/or files

updated to not remove destination
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/src/businessLogic/onPageDeleted.js
  eq-author-api/src/businessLogic/onSectionDeleted.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
Due: author, api

linting issues
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/src/businessLogic/onPageDeleted.js
  eq-author-api/src/businessLogic/onSectionDeleted.js
Due: api

fixed codacity issue
  eq-author-api/schema/resolvers/base.js
Due: api

Removed outdated comments
  eq-author-api/schema/tests/routing.test.js
Due: api

fix for routing
  eq-author-api/schema/resolvers/base.js
Due: api

fix routing
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author, api

typedef change
  eq-author-api/schema/typeDefs.js
Due: api

fixed test
  eq-author-api/schema/tests/routing.test.js
Due: api

remove right side when answer deleted
  eq-author-api/src/businessLogic/onAnswerDeleted.js
Due: api

Refactoring
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
Due: api

Bugfix
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
Due: api

Refactor QCodes table
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

changed to null
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/NumberAnswerSelector.test.js.snap
Due: author, api

Refactoring
  eq-author-api/constants/validationErrorCodes.js
Due: api

Refactoring
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Fix adding qcode to dates
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

fix for null
  eq-author-api/src/validation/schemas/entities.json
Due: api

Tests
  eq-author/src/App/page/Logic/Routing/DestinationSelector/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/DestinationSelector/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
  eq-author/src/components/ValidationError/index.js
Due: author

Proptypes
  eq-author/src/components/ValidationError/index.js
Due: author

Tests
  eq-author-api/src/validation/index.test.js
Due: api

Sends error message when duplicates now
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Refactoring
  eq-author-api/constants/routingOperators.js
  eq-author-api/constants/validationEntityTypes.js
  eq-author-api/src/validation/customKeywords/validateRoutingRules.js
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.test.js
Due: author, api

matts fix
  eq-author/src/constants/validationMessages.js
Due: author

WIP - reorganised how row is rendered
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Err msg now displays correctly on smaller screens
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/RuleEditor/index.js
Due: author

Err msg now displays correctly on smaller screens
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author

added Questionaire to AnswerSelector return
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
Due: author

Provide error for dupe qcode
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-author/src/components/Error/index.js
  eq-author/src/constants/validationMessages.js
Due: author

Added caching
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

basics working - needs better comparison
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validatePipingInTitle.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

default is now null
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/CustomEditor.js
  eq-author/src/App/page/Design/Validation/GroupValidations/TotalValidation/TotalValidationEditor/__snapshots__/CustomEditor.test.js.snap
Due: author

Enabled toggle labels
  eq-author/src/App/page/Design/Validation/ValidationView.js
Due: author

Fixed linting issues
  eq-author/src/App/page/Design/Validation/ValidationView.js
Due: author

Updated snapshots
  eq-author/src/App/page/Design/Validation/__snapshots__/ValidationView.test.js.snap
Due: author

Added scroll to top util
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/utils/scrollToTop.js
Due: author

Added scroll to top util
  eq-author/src/App/QuestionnaireDesignPage/__snapshots__/index.test.js.snap
  eq-author/src/utils/scrollToTop.js
Due: author

Added scroll to top util
  eq-author/src/utils/scrollToTop.js
  eq-author/src/utils/scrollToTop.test.js
Due: author
