Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

test6
  eq-author/src/utils/answersHaveAnswerType.js
Due: author

Readd list answer piping inside list folder
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/components/RichTextEditor/PipingMenu.js
Due: author

Update snapshot
  eq-author/src/components/ItemSelectModal/__snapshots__/ItemSelect.test.js.snap
Due: author

Fix section design test
  eq-author/src/App/section/Design/index.test.js
Due: author

Fix MetaEditor tests
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.test.js
Due: author

Update
  eq-author-api/migrations/updateCommentsReadByEditors.js
Due: api

Add import confirmation page to list folder test
  eq-author/src/App/importingContent/index.test.js
Due: author

Tweak
  eq-author/src/components/PageTitle/PageTitleInput.js
Due: author

Replace health theme with ukhsa-ons
  eq-author-api/constants/themes.js
  eq-author-api/schema/resolvers/base.js
  eq-author/src/constants/themes.js
Due: author, api

Add list folder drag and drop function tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.test.js
Due: author

Add tests for importing content to list folder
  eq-author/src/App/importingContent/index.test.js
  eq-author/src/tests/utils/createMockQuestionnaire.js
Due: author

Add qualifier and confirmation page item select tests
  eq-author/src/components/ItemSelectModal/ItemSelect.js
  eq-author/src/components/ItemSelectModal/ItemSelect.test.js
  eq-author/src/components/ItemSelectModal/__snapshots__/ItemSelect.test.js.snap
Due: author

Add test for moving page after add item page
  eq-author/src/components/ItemSelectModal/ItemSelect.js
  eq-author/src/components/ItemSelectModal/ItemSelect.test.js
  eq-author/src/components/ItemSelectModal/__snapshots__/ItemSelect.test.js.snap
Due: author

Add confirmation to rich text paste
  eq-author/src/components/Forms/Number/index.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

Clean up
  eq-author/src/App/PasteModalContext.js
  eq-author/src/components-themed/Modal/modal.js
Due: author

Remove comments
  eq-author-api/migrations/updateCommentsReadByEditors.js
Due: api

Tweaks to catch pasting in RT multiline fields. Still in progress
  eq-author/src/components/RichTextEditor/index.js
Due: author

Add migration
  eq-author-api/migrations/updateHealthThemeToPandemicMonitoring.js
  eq-author-api/migrations/updateHealthThemeToPandemicMonitoring.test.js
Due: api

Added new migration to list of migrations
  eq-author-api/migrations/index.js
Due: api

Improved paste for multiline rt fields
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/modals/PasteModal/index.js
Due: author

Limit modal width
  eq-author/src/components/modals/PasteModal/index.js
Due: author

Add routing page test for pages inside list folder
  eq-author/src/App/page/Logic/Routing/RoutingPage/index.test.js
Due: author

Add answer repeating label input test
  eq-author/src/App/page/Design/answers/BasicAnswer/BasicAnswer.test.js
  eq-author/src/App/page/Design/answers/BasicAnswer/__snapshots__/BasicAnswer.test.js.snap
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.js
Due: author

get survey id list and update menu
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/constants/surveyIDs.js
  eq-author/src/graphql/getSupplementaryDataSurveyIdList.graphql
Due: author, api

fix tests
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author

add api test and edit test
  eq-author-api/schema/tests/SupplementaryDataSurveyIdList.test.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
  eq-author/src/graphql/getSupplementaryDataSurveyIdList.graphql
Due: author, api

edit test
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author

add required to typedef
  eq-author-api/schema/typeDefs.js
Due: api

update error message
  eq-author-api/schema/resolvers/base.js
Due: api

Display info panel on follow up questions
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
Due: author

Fix create section requires refresh
  eq-author/src/graphql/createSection.graphql
Due: author

Fix for typing spaces in RT fields
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/App/settings/SettingsPage.js
  eq-author/src/components/Forms/WrappingInput/index.js
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/RichTextEditor/utils/createFormatStripper.js
Due: author

Remove unnecessary change
  eq-author/src/components/RichTextEditor/utils/createFormatStripper.js
Due: author

Update snapshot
  eq-author/src/components/RichTextEditor/__snapshots__/RichTextEditor.test.js.snap
Due: author

Prevent adding confirmation pages and calculated summary pages to list folders using move modal
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/components/ItemSelectModal/ItemSelect.js
  eq-author/src/components/PositionModal/index.js
Due: author

Added some tests
  eq-author/src/components/modals/PasteModal/__snapshots__/index.test.js.snap
  eq-author/src/components/modals/PasteModal/index.js
  eq-author/src/components/modals/PasteModal/index.test.js
Due: author

Update snapshot
  eq-author/src/components/modals/PasteModal/__snapshots__/index.test.js.snap
Due: author

Remove problem snapshot
  eq-author/src/components/modals/PasteModal/__snapshots__/index.test.js.snap
  eq-author/src/components/modals/PasteModal/index.test.js
Due: author

Prevent moving list folder into repeating section using modal
  eq-author/src/App/page/Design/MoveEntityModal/index.js
  eq-author/src/components/ItemSelectModal/ItemSelect.js
  eq-author/src/components/PositionModal/index.js
Due: author

Add confirmation and calculated summary move modal tests
  eq-author/src/components/ItemSelectModal/ItemSelect.js
  eq-author/src/components/ItemSelectModal/ItemSelect.test.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
