Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Update navigation bar on new comment
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/Comments/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/page/Preview/QuestionPagePreview.js
  eq-author/src/App/page/Preview/index.js
  eq-author/src/components/NavItem/index.js
  eq-author/src/graphql/subscriptions/commentSubscription.graphql
Due: author, api

Fix crash when comments loading
  eq-author/src/App/Comments/index.js
Due: author

Display comments on preview tab
  eq-author/src/App/Comments/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/App/page/Preview/QuestionPagePreview.js
  eq-author/src/App/page/Preview/index.js
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/components/EditorLayout/index.js
Due: author

Fix proptypes
  eq-author/src/components/EditorLayout/Tabs/index.js
  eq-author/src/components/EditorLayout/index.js
Due: author

menus Icon
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/assets/icon-list-collector.svg
Due: author

fixed Icon AddMenu
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
Due: author

Fix bug and display notification on logic page
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/App/shared/Logic/index.js
  eq-author/src/components/EditorLayout/index.js
Due: author, api

Handle questionnaires without readby value
  eq-author-api/schema/resolvers/base.js
Due: api

styling icons and pag
  eq-author/src/assets/icon-locked.svg
  eq-author/src/assets/icon-starred.svg
  eq-author/src/components-themed/QuestionnaireTable/row.js
  eq-author/src/components-themed/QuestionnaireTable/tableHead.js
  eq-author/src/components/QuestionnairesView/PaginationNav/index.js
  eq-author/src/components/SearchBar/icon-search.svg
Due: author

fix font resizing
  eq-author/src/App/QuestionnairesPage/index.js
Due: author

Fix comments not marked as read
  eq-author-api/schema/resolvers/base.js
Due: api

Open replies when unread by default
  eq-author/src/App/Comments/index.js
Due: author

List Collector Page Editor so far
  eq-author/src/App/page/Design/ListCollectorEditor/index.js
  eq-author/src/App/page/Design/ListCollectorEditor/withUpdateListCollectorPage.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/graphql/fragments/list-collector-page.graphql
Due: author

fix button in toggle switch
  eq-author/src/components/buttons/ToggleSwitch/index.js
Due: author

Fix comments not displayed on submission page
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/Submission/Preview/index.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author, api

Display comment notification on submission design page
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/App/Submission/Preview/index.js
  eq-author/src/App/Submission/SubmissionLayout.js
  eq-author/src/App/Submission/graphql/getSubmissionQuery.graphql
Due: author

update snapshots
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
Due: author

changed folder name
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/withUpdateListCollectorPage.js
Due: author

Fix introduction comments not displayed
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
  eq-author/src/App/introduction/Preview/index.js
Due: author, api

ListCollectorPage types added
  eq-author/src/App/page/Design/index.js
  eq-author/src/constants/page-types.js
Due: author

fragments added
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Design/index.js
Due: author

More Changes
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
Due: author

Add comments for confirmation pages
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/questionConfirmation/Preview/index.js
Due: author, api

Confirmation question editor layout notification
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/App/questionConfirmation/Design/index.js
  eq-author/src/App/questionConfirmation/Logic/Routing/fragment.graphql
Due: author

Display comments on calculated summary page
  eq-author-api/schema/resolvers/pages/calculatedSummaryPage.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
Due: author, api

Fix comments not updated on introduction page
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
Due: author

Introduction page editor layout tabs
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/index.js
  eq-author/src/App/introduction/IntroductionLayout.js
Due: author

Fix notification not shown on tab from calcualted summary logic page
  eq-author/src/App/page/Logic/Routing/index.js
Due: author

tweaks to save changes and hold state
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/withUpdateListCollectorPage.js
  eq-author/src/graphql/fragments/list-collector-page.graphql
  eq-author/src/graphql/updateListCollector.graphql
Due: author, api

fix header height and header flicker
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/components-themed/Header/index.js
  eq-author/src/components/PrivateRoute/index.js
  eq-author/src/components/SearchBar/icon-search.svg
Due: author

Display section comments
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/QuestionnaireDesignPage/getQuestionnaireQuery.graphql
  eq-author/src/App/section/Preview/index.js
  eq-author/src/graphql/fragments/section.graphql
Due: author, api

Display section notification on navigation sidebar
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
Due: author

Added in some of the page content
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
Due: author

Display comment notification on tab from section logic page
  eq-author/src/App/section/Design/index.js
  eq-author/src/App/section/Logic/index.js
  eq-author/src/graphql/getSection.graphql
Due: author

changed mutation
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/withUpdateListCollectorPage.js
Due: author

remove sticky header
  eq-author/src/components/Layout/index.js
Due: author

Fix comment notification not shown on navigation sidebar for confirmation questions
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
Due: author

padding between pagination and footer
  eq-author/src/components/Layout/index.js
Due: author

Fix bug when new answers created
  eq-author/src/graphql/fragments/section.graphql
Due: author
