Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

✨ EAR 1390 - Enable logic entry for calc sum pages (#2099)
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/createRouting.graphql
  eq-author/src/App/page/Logic/Routing/RoutingPage/fragment.graphql
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
  eq-author/src/App/shared/Logic/SkipLogic/fragment.graphql
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

Deploying to gh-pages from @ 28f6f102da421158e3ce982d4a433f0909b1ad8f 🚀
  iframe.html
  main.43125d6571d4b8070b74.bundle.js
  main.43125d6571d4b8070b74.bundle.js.map
  main.84a1ca53e010535b181d.bundle.js
  main.84a1ca53e010535b181d.bundle.js.map
  runtime~main.43125d6571d4b8070b74.bundle.js
  runtime~main.43125d6571d4b8070b74.bundle.js.map
  runtime~main.84a1ca53e010535b181d.bundle.js.map
  vendors~main.43125d6571d4b8070b74.bundle.js
  vendors~main.43125d6571d4b8070b74.bundle.js.LICENSE.txt
  vendors~main.43125d6571d4b8070b74.bundle.js.map
  vendors~main.84a1ca53e010535b181d.bundle.js
  vendors~main.84a1ca53e010535b181d.bundle.js.map
Due: none

basic concept working
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/index.js
Due: author

fix broken test
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

add a new test for empty surveyId
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

tidy up and add another test
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

🛠 EAR 1324 - Fix updating users (firebase)
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

🛠 EAR 1389 - Don't validate `surveyId` on social Q
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/questionnaire.json
Due: api

🛠 EAR 1324 - Fix updating users (firebase) (#2109)
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/db/datastore/datastore-mongodb.js
Due: api

🛠 Fix sort order for locked status
  eq-author/src/components/QuestionnairesView/reducer.js
Due: author

🛠 EAR 1389 - Don't validate `surveyId` on social Q (#2110)
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/questionnaire.json
Due: api

add missing proptypes to naughty tests
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/AnswerSelector.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Design/index.test.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Logic/Routing/RoutingPage/RoutingEditor/index.test.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.test.js
  eq-author/src/App/page/Preview/QuestionPagePreview.test.js
  eq-author/src/App/section/Design/SectionEditor/MoveSectionModal/__snapshots__/index.test.js.snap
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/NoSkipConditions.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/NoSkipCondtions.test.js
  eq-author/src/App/shared/Logic/SkipLogic/SkipLogicPage/index.test.js
  eq-author/src/components/RichTextEditor/__snapshots__/PipingMenu.test.js.snap
  eq-author/src/tests/utils/createMockQuestionnaire.js
Due: author

Initial variant code
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
  eq-author/src/components/Collapsible/index.js
Due: author

🛠 Fix sort order for locked status (#2111)
  eq-author/src/components/QuestionnairesView/reducer.js
Due: author

Deploying to gh-pages from @ 0462ac75d8dba1277beb5cbb2021f34df3bc6c34 🚀
  iframe.html
  main.43125d6571d4b8070b74.bundle.js
  main.43125d6571d4b8070b74.bundle.js.map
  main.477ec9c9718d30560251.bundle.js
  main.477ec9c9718d30560251.bundle.js.map
  runtime~main.43125d6571d4b8070b74.bundle.js.map
  runtime~main.477ec9c9718d30560251.bundle.js
  runtime~main.477ec9c9718d30560251.bundle.js.map
  vendors~main.43125d6571d4b8070b74.bundle.js.map
  vendors~main.477ec9c9718d30560251.bundle.js
  vendors~main.477ec9c9718d30560251.bundle.js.LICENSE.txt
  vendors~main.477ec9c9718d30560251.bundle.js.map
Due: none

Update snapshot
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/__snapshots__/index.test.js.snap
  eq-author/src/components/Collapsible/ContentCollapsible.js
  eq-author/src/components/Collapsible/ContentCollapsible.test.js
Due: author

Fix error preventing header from opening content
  eq-author/src/components/Collapsible/index.js
Due: author

Change variant to use one wrapper
  eq-author/src/components/Collapsible/index.js
Due: author

Remove underlined text from content collapsible
  eq-author/src/components/Collapsible/index.js
Due: author

Added default hub of false
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Remove console.log)
  eq-author-api/schema/resolvers/base.js
Due: api

Hide section stuff when hub featuer enabled
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Link to backend
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Tweaks
  eq-author/scripts/start.js
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Fixed tests
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

ACs
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/graphql/fragments/section.graphql
Due: author

ACs
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

Updates
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Linting
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
Due: author

Styling
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Styling
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
Due: author

Snapshots
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/__snapshots__/QuestionnaireMeta.test.js.snap
Due: author

Updated icon
  eq-author/src/components/buttons/MoveButton/icon-arrow-down.svg
  eq-author/src/components/buttons/MoveButton/icon-arrow-up.svg
Due: author

Updated icon
  eq-author/src/components/buttons/DeleteButton/icon-close.svg
  eq-author/src/components/buttons/DeleteButton/icon-delete.svg
  eq-author/src/components/buttons/DeleteButton/index.js
Due: author

Updated icon (#2118)
  eq-author/src/components/buttons/MoveButton/icon-arrow-down.svg
  eq-author/src/components/buttons/MoveButton/icon-arrow-up.svg
Due: author

Updated icon (#2119)
  eq-author/src/components/buttons/DeleteButton/icon-close.svg
  eq-author/src/components/buttons/DeleteButton/icon-delete.svg
  eq-author/src/components/buttons/DeleteButton/index.js
Due: author

Deploying to gh-pages from @ 28607021d3ac2ddf52d492734d243202edd27478 🚀
  iframe.html
  main.477ec9c9718d30560251.bundle.js
  main.477ec9c9718d30560251.bundle.js.map
  main.ee33fd941005e476ed13.bundle.js
  main.ee33fd941005e476ed13.bundle.js.map
  runtime~main.477ec9c9718d30560251.bundle.js.map
  runtime~main.ee33fd941005e476ed13.bundle.js
  runtime~main.ee33fd941005e476ed13.bundle.js.map
  vendors~main.477ec9c9718d30560251.bundle.js.map
  vendors~main.ee33fd941005e476ed13.bundle.js
  vendors~main.ee33fd941005e476ed13.bundle.js.LICENSE.txt
  vendors~main.ee33fd941005e476ed13.bundle.js.map
Due: none

Rename for deployment
  eq-author/config/env.js
  eq-author/scripts/test.js
  eq-author/src/utils/featureFlags/index.js
Due: author

Rename for deployment (#2120)
  eq-author/config/env.js
  eq-author/scripts/test.js
  eq-author/src/utils/featureFlags/index.js
Due: author

Added fullstop; fixed (hopefully) feature flags
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/config.js
Due: author
