Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Fix failing tests
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/__snapshots__/QuestionnaireMeta.test.js.snap
  eq-author/src/components-themed/HomepageQuestionnairesView/index.test.js
  eq-author/src/components/ImportContentQuestionnairesView/index.test.js
Due: author

Removed unanswered option
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
  eq-author/src/components/Forms/Number/index.js
Due: author

Addition of extra fields in list collector and required updates Required field issues still on Question and Section Error rewrite required for Confirmation question (object not array)
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createListCollectorPage.js
  eq-author-api/src/businessLogic/createQuestionPage.js
  eq-author-api/src/validation/schemas/listCollectorPage.json
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.js
  eq-author/src/App/questionConfirmation/Design/Editor.js
  eq-author/src/components/Collapsible/index.js
  eq-author/src/components/PageTitle/PageTitleInput.js
  eq-author/src/components/PageTitle/index.js
  eq-author/src/graphql/fragments/list-collector.graphql
  eq-author/src/graphql/fragments/question-confirmation.graphql
Due: author, api

Change theme for homepage tests
  eq-author/src/components-themed/HomepageQuestionnairesView/index.test.js
Due: author

Fixed validation error
  eq-author-api/src/validation/schemas/logic.json
Due: api

Add metadata routing title
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/fragment.graphql
  eq-author/src/components/ContentPickerSelect/index.js
Due: author, api

Fix missing error on Section creation
  eq-author-api/src/businessLogic/createSection.js
Due: api

Added less and more condition operator
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
Due: author

Fix for Confirmation Q error display
  eq-author/src/App/questionConfirmation/Design/Editor.js
  eq-author/src/components/PageTitle/index.js
Due: author

Updated snapshots
  eq-author/src/App/questionConfirmation/Design/__snapshots__/Editor.test.js.snap
  eq-author/src/App/questionConfirmation/Design/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
Due: author

Add initial right side metadata selector
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
Due: author

Included offset direction and added the left condition
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/answerTypeToConditions.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/fragment.graphql
Due: author, api

Corrected offset direction change
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
Due: author

some fixes
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
Due: author, api

Bug fixes for dropdowns
  eq-author-api/src/businessLogic/answerTypeToConditions.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
Due: author, api

Set metadata match text on routing
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.js
  eq-author/src/graphql/fragments/binary-expression-editor.graphql
  eq-author/src/graphql/updateRightSide.graphql
Due: author, api

Offset direction changes
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/schemas/logic.json
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
  eq-author/src/constants/validationMessages.js
Due: author, api

Add margin right to match text
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.js
Due: author

Delete additional radio buttons
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
  eq-author/src/components/preview/Answers/MultipleChoiceAnswer.js
  eq-author/src/constants/modal-content.js
Due: author, api

Reset answerId and metadataId on update left side
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

Tests for Date routing
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/DateAnswerSelector.test.js.snap
  eq-author/src/App/page/Logic/BinaryExpressionEditor/isAnswerValidForRouting.test.js
Due: author, api

Update snapshot test
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
Due: author

Only delete radio if the label is empty
  eq-author-api/schema/resolvers/base.js
Due: api

updated snapshot
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
Due: author

created 2 rows
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
Due: author

Fix metadata right side data not updated
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
Due: api

Corrected the layout
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
Due: author

Survey id validation fix
  eq-author-api/src/validation/schemas/questionnaire.json
  eq-author/src/components/Forms/Input/index.js
Due: author, api

Optimised ajv
  eq-author-api/src/validation/schemas/questionnaire.json
Due: api

Fix failing tests
  eq-author-api/src/validation/index.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/Forms/Input/__snapshots__/Input.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInput.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInputDate.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableTypeaheadInput.test.js.snap
Due: author, api

Update border radius implementation
  eq-author/src/App/QuestionnaireSettingsModal/QuestionnaireMeta/index.js
  eq-author/src/components/Forms/Input/index.js
Due: author

Amend tests
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/index.test.js.snap
  eq-author/src/components/Forms/Input/__snapshots__/Input.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInput.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInputDate.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableTypeaheadInput.test.js.snap
Due: author

Moved new code into new component v3
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/components/ContentPickerSelectv3/content-types.js
  eq-author/src/components/ContentPickerSelectv3/icon-chevron.svg
  eq-author/src/components/ContentPickerSelectv3/index.js
  eq-author/src/components/ContentPickerSelectv3/index.test.js
  eq-author/src/components/ContentPickerSelectv3/useTruncation.js
  eq-author/src/components/ContentPickerv3/AnswerPicker.js
  eq-author/src/components/ContentPickerv3/AnswerPicker.test.js
  eq-author/src/components/ContentPickerv3/DestinationPicker/Menu.js
  eq-author/src/components/ContentPickerv3/DestinationPicker/Menu.test.js
  eq-author/src/components/ContentPickerv3/DestinationPicker/index.js
  eq-author/src/components/ContentPickerv3/DestinationPicker/index.test.js
  eq-author/src/components/ContentPickerv3/DynamicAnswerPicker.js
  eq-author/src/components/ContentPickerv3/ErrorMessage.js
  eq-author/src/components/ContentPickerv3/Menu.js
  eq-author/src/components/ContentPickerv3/MetadataPicker.js
  eq-author/src/components/ContentPickerv3/Options.js
  eq-author/src/components/ContentPickerv3/RadioToolbar.js
  eq-author/src/components/ContentPickerv3/SectionMenu.js
  eq-author/src/components/ContentPickerv3/SectionMenu.test.js
  eq-author/src/components/ContentPickerv3/VariablePicker.js
  eq-author/src/components/ContentPickerv3/icon-answers.svg
  eq-author/src/components/ContentPickerv3/icon-chevron-small.svg
  eq-author/src/components/ContentPickerv3/icon-page.svg
  eq-author/src/components/ContentPickerv3/icon-sections.svg
  eq-author/src/components/ContentPickerv3/index.js
  eq-author/src/components/ContentPickerv3/index.test.js
Due: author

Final cleanup
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author-api/tests/utils/contextBuilder/routing/createRouting.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

Fixed some tests
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/DateAnswerSelector.test.js.snap
Due: author

fix picker
  eq-author/src/components/ContentPickerSelectv3/index.js
Due: author

Changed condition terminology
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/DateAnswerSelector.test.js.snap
Due: author

Corrected a few tests
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.test.js
Due: author

Cleaned up some changes
  eq-author-api/tests/utils/contextBuilder/routing/createRouting.js
Due: api

More clean up
  eq-publisher/src/getQuestionnaire/queries.js
Due: publisher

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
