Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

fix remaining tests
  eq-author/src/components/QuestionnairesView/index.test.js
Due: author

Added test
  eq-author/src/utils/questionnaireUtils/index.test.js
Due: author

Refactoring
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/utils/questionnaireUtils/index.js
  eq-author/src/utils/questionnaireUtils/index.test.js
Due: author

Added tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.test.js
Due: author

Linting
  eq-author/src/utils/questionnaireUtils/index.js
Due: author

missing proptypes
  eq-author/src/components/QuestionnairesView/Header/index.js
  eq-author/src/components/QuestionnairesView/QuestionnairesTable/index.js
  eq-author/src/components/QuestionnairesView/index.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

tidy up
  eq-author/src/components/QuestionnairesView/Header/index.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

Initial move additional content
  eq-author/src/App/page/Design/QuestionPageEditor/AdditionalInfo.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
Due: author

Fix guidance crash
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/AdditionalContentOptions.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/AdditionalContentOptions.test.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
Due: author

Fix guidance not closing
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/AdditionalContentOptions.js
Due: author

Remove multiple field styling
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/AdditionalContentOptions.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
Due: author

Refactoring; Can now select on whole item; tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.test.js
  eq-author/src/components/Badge/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/NavItem/index.js
  eq-author/src/constants/theme.js
Due: author

Ear 1316 build modal for selecting questionnaire (#2067)
  eq-author/.storybook/main.js
  eq-author/__mocks__/useSetQuestionnaireLocked.js
  eq-author/__mocks__/useToggleQuestionnaireStarred.js
  eq-author/src/App/QuestionnairesPage/index.js
  eq-author/src/components/QuestionnaireTable/Row.js
  eq-author/src/components/QuestionnaireTable/TableBody.js
  eq-author/src/components/QuestionnaireTable/TableHead.js
  eq-author/src/components/QuestionnaireTable/index.js
  eq-author/src/components/QuestionnairesView/Header/AccessFilter.js
  eq-author/src/components/QuestionnairesView/Header/index.js
  eq-author/src/components/QuestionnairesView/QuestionnairesTable/index.js
  eq-author/src/components/QuestionnairesView/index.js
  eq-author/src/components/QuestionnairesView/index.test.js
  eq-author/src/components/SearchBar/index.js
  eq-author/src/components/modals/QuestionnaireSelectModal/QuestionnaireSelectModal.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
  eq-author/src/storybook/Patterns/SelectQuestionnaireModal.stories.js
Due: author

Deploying to gh-pages from @ d6a0ae24b8b95d676aeb1577eac87670ea87d3f8 🚀
  iframe.html
  main.5050f27f533dd89e2bb2.bundle.js
  main.5050f27f533dd89e2bb2.bundle.js.map
  main.d6c6655d5c0731b18a48.bundle.js
  main.d6c6655d5c0731b18a48.bundle.js.map
  runtime~main.5050f27f533dd89e2bb2.bundle.js
  runtime~main.5050f27f533dd89e2bb2.bundle.js.map
  runtime~main.d6c6655d5c0731b18a48.bundle.js.map
  vendors~main.5050f27f533dd89e2bb2.bundle.js
  vendors~main.5050f27f533dd89e2bb2.bundle.js.LICENSE.txt
  vendors~main.5050f27f533dd89e2bb2.bundle.js.map
  vendors~main.d6c6655d5c0731b18a48.bundle.js
  vendors~main.d6c6655d5c0731b18a48.bundle.js.map
Due: none

Change collapsible content styling to be inline with text
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/AdditionalContentOptions.js
  eq-author/src/components/RichTextEditor/index.js
Due: author

🛠 EAR 1386 - Questionnaires table: fix sorting
  eq-author/src/components/QuestionnairesView/reducer.js
Due: author

Fix label error message incorrect position
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/AdditionalContentOptions.js
Due: author

🛠 EAR 1386 - Questionnaires table: fix sorting (#2096)
  eq-author/src/components/QuestionnairesView/reducer.js
Due: author

Deploying to gh-pages from @ 7d021fa77fa62ad94f5c26f43f190345505833be 🚀
  iframe.html
  main.5050f27f533dd89e2bb2.bundle.js
  main.5050f27f533dd89e2bb2.bundle.js.map
  main.d25f01d27ab9f3a727fc.bundle.js
  main.d25f01d27ab9f3a727fc.bundle.js.map
  runtime~main.5050f27f533dd89e2bb2.bundle.js.map
  runtime~main.d25f01d27ab9f3a727fc.bundle.js
  runtime~main.d25f01d27ab9f3a727fc.bundle.js.map
  vendors~main.5050f27f533dd89e2bb2.bundle.js.map
  vendors~main.d25f01d27ab9f3a727fc.bundle.js
  vendors~main.d25f01d27ab9f3a727fc.bundle.js.LICENSE.txt
  vendors~main.d25f01d27ab9f3a727fc.bundle.js.map
Due: none

Consistent toggle switch distance
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/Property.js
  eq-author/src/components/Collapsible/ContentCollapsible.js
Due: author

Ear 1360 drag and drop mvp (#2069)
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenuButtons.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.test.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Page/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.test.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.test.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/__snapshots__/AnswerSelector.test.js.snap
  eq-author/src/App/page/Design/Validation/__snapshots__/PreviousAnswerContentPicker.test.js.snap
  eq-author/src/App/page/Design/answers/dummy/TextArea/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/dummy/TextInput/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/MoveSectionModal/__snapshots__/index.test.js.snap
  eq-author/src/assets/icon-plus.svg
  eq-author/src/components/Badge/index.js
  eq-author/src/components/CollapsibleNavItem/index.js
  eq-author/src/components/Forms/Input/__snapshots__/Input.test.js.snap
  eq-author/src/components/Forms/TextArea/__snapshots__/TextArea.test.js.snap
  eq-author/src/components/NavItem/index.js
  eq-author/src/components/RichTextEditor/__snapshots__/PipingMenu.test.js.snap
  eq-author/src/components/buttons/ToggleSwitch/__snapshots__/index.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInput.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableInputDate.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableSelect.test.js.snap
  eq-author/src/components/datatable/Controls/__snapshots__/TableTypeaheadInput.test.js.snap
  eq-author/src/constants/theme.js
  eq-author/src/graphql/moveFolder.graphql
  eq-author/src/tests/utils/createMockQuestionnaire.js
  eq-author/src/utils/arrayMove.js
  eq-author/src/utils/questionnaireUtils/index.js
  eq-author/src/utils/questionnaireUtils/index.test.js
Due: author

Deploying to gh-pages from @ 34a263cc1cdbb5a282c11ee7e769c21b6cc59c9e 🚀
  iframe.html
  main.84a1ca53e010535b181d.bundle.js
  main.84a1ca53e010535b181d.bundle.js.map
  main.d25f01d27ab9f3a727fc.bundle.js
  main.d25f01d27ab9f3a727fc.bundle.js.map
  runtime~main.84a1ca53e010535b181d.bundle.js
  runtime~main.84a1ca53e010535b181d.bundle.js.map
  runtime~main.d25f01d27ab9f3a727fc.bundle.js.map
  vendors~main.84a1ca53e010535b181d.bundle.js
  vendors~main.84a1ca53e010535b181d.bundle.js.LICENSE.txt
  vendors~main.84a1ca53e010535b181d.bundle.js.map
  vendors~main.d25f01d27ab9f3a727fc.bundle.js
  vendors~main.d25f01d27ab9f3a727fc.bundle.js.map
Due: none

Fix HorizontalSeparator and toggle switch styling
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/AdditionalContentOptions.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/Property.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
Due: author

Add content collapsible to Storybook
  eq-author/src/storybook/Components/Collapsible.stories.mdx
Due: none

Fix tests
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/AdditionalInfo.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/__snapshots__/MetaEditor.test.js.snap
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/__snapshots__/AdditionalContentOptions.test.js.snap
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/__snapshots__/Property.test.js.snap
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.test.js
  eq-author/src/App/page/PropertiesPanel/index.test.js
Due: author

🛠 EAR 1391 - Fix skip conditions inside folders
  eq-publisher/src/eq_schema/Section.js
Due: publisher

🛠 EAR 1391 - Fix skip conditions inside folders (#2097)
  eq-publisher/src/eq_schema/Section.js
Due: publisher

Add ContentCollapsible tests
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/__snapshots__/index.test.js.snap
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
  eq-author/src/components/Collapsible/ContentCollapsible.js
  eq-author/src/components/Collapsible/ContentCollapsible.test.js
Due: author

Fix lint error
  eq-author/src/components/Collapsible/ContentCollapsible.js
Due: author

Implemented feature flags
  eq-author/config/env.js
  eq-author/scripts/start.js
  eq-author/scripts/test.js
  eq-author/src/utils/featureFlags/index.js
  eq-author/src/utils/featureFlags/index.test.js
Due: author

Implemented feature flags (#2098)
  eq-author/config/env.js
  eq-author/scripts/start.js
  eq-author/scripts/test.js
  eq-author/src/utils/featureFlags/index.js
  eq-author/src/utils/featureFlags/index.test.js
Due: author

✨ EAR 1390 - Enable logic entry for calc sum pages
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/index.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/fragment.graphql
  eq-author/src/App/page/Logic/Routing/index.js
  eq-author/src/App/page/Preview/CalculatedSummaryPreview.js
  eq-author/src/App/shared/Logic/SkipLogic/fragment.graphql
Due: author, api

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

Fix content collapsible test
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/components/Collapsible/ContentCollapsible.test.js
Due: author

Move additional content collapsible
  eq-author/src/App/page/Design/QuestionPageEditor/index.js
  eq-author/src/App/page/PropertiesPanel/QuestionProperties/index.js
Due: author

Initial
  eq-author/scripts/start.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/utils/featureFlags/index.js
  eq-author/src/utils/featureFlags/index.test.js
Due: author

🛠 Update calc sum routing page without refresh
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Logic/Routing/RoutingPage/createRouting.graphql
Due: author, api

✨ Update publisher v2
  eq-publisher/src/getQuestionnaire/queries.js
Due: publisher

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
