Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

removed plural
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/schemaVersionsTable.js
Due: author

Debugging statements removed
  eq-author-api/src/validation/createValidationError.js
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

Debug statement removed and comments removed
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
  eq-author/src/App/settings/SettingsPage.js
Due: author, api

Comment updated
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

$data: true option removed, schema, data and parentSchema made private/ internal
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

createQuestionnaireV2 mutation and necessary types
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

changed the survery with lowercase 's'
  eq-author/src/constants/validationMessages.js
Due: author

file name change
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

rename file
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

attempt of file name change
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

remove debug statements
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

renamed file
  eq-author-api/src/validation/customKeywords/validateSurveyId.js
Due: api

.
  eq-author-api/src/validation/customKeywords/validateSurveyID.js
Due: api

.
  eq-author-api/src/validation/customKeywords/validateSurveyId.js
Due: api

changed the _data to questionnaireSurveyId
  eq-author-api/src/validation/customKeywords/validateSurveyId.js
Due: api

updated the comment in the ajv file
  eq-author-api/src/validation/customKeywords/validateSurveyId.js
Due: api

validateSurveyId file casing corrected
  eq-author-api/src/validation/customKeywords/index.js
Due: api

removed underscore and changed ID to lowercase 'd'
  eq-author-api/src/validation/customKeywords/validateSurveyId.js
Due: api

qcodes unique key ID console error fixed
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

updated the questionnire json
  eq-author-api/src/validation/schemas/questionnaire.json
Due: api

console.error Warning: A component is changing an uncontrolled input of type text to be controlled resolved
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

corrected api changes
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
Due: api

Snapshots updated
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
Due: author

index.js:166 Warning: Failed prop type: Invalid prop `introductionContentErrorMessage` of type `array` supplied to `SectionIntroduction`, expected `string` fixed
  eq-author/src/App/section/Design/SectionEditor/SectionIntroduction/index.js
Due: author

console.error Warning: Failed prop type: SubMenu: prop type `isCalculatedSummary` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined` fixed
  eq-author/src/components/ContentPickerv3/Menu.js
Due: author

Console
  eq-author/src/components/ContentPickerv3/Menu.js
Due: author

Missing properties in the tests added
  eq-author/src/App/page/Design/answers/DateRange/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/DateRange/index.test.js
  eq-author/src/App/page/Preview/QuestionPagePreview.test.js
  eq-author/src/App/questionConfirmation/Design/__snapshots__/index.test.js.snap
  eq-author/src/App/questionConfirmation/Design/index.test.js
  eq-author/src/App/questionConfirmation/Preview/index.test.js
  eq-author/src/App/section/Preview/__snapshots__/index.test.js.snap
  eq-author/src/App/section/Preview/index.test.js
Due: author

text changed to span
  eq-author/src/App/introduction/Preview/IntroductionPreview/index.js
Due: author

Missing properties in the unit tests added
  eq-author/src/App/page/Design/answers/DateSingle/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/DateSingle/index.test.js
  eq-author/src/App/page/Preview/index.test.js
  eq-author/src/App/questionConfirmation/Design/Editor.test.js
  eq-author/src/App/questionConfirmation/Design/__snapshots__/Editor.test.js.snap
  eq-author/src/App/section/Preview/SectionIntroPreview.test.js
Due: author

async await added
  eq-author/src/components/AnswerContent/RepeatLabelAndInput/index.test.js
Due: author

mockOnSelectFolders mock function added
  eq-author/src/components/modals/ImportContentModal/index.test.js
Due: author

IDs added to the test
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
Due: author

Missing properties added
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/App/section/Design/SectionEditor/index.js
Due: author

Added the missing page prop to the tests
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswersEditor/AnswerEditor/index.test.js
Due: author

Test
  eq-author/src/components/ContentPickerv3/Menu.js
Due: author

Removing console.log
  eq-author/src/components/ContentPickerv3/Menu.js
Due: author

Change text to dataset schema in the supplementary data
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
  eq-author/src/components/buttons/UnlinkButton/index.js
Due: author

changed text to dataset schema
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/components/buttons/UnlinkButton/index.js
Due: author

added schema to the header and the button
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
Due: author

changed width to make the button text one line
  eq-author/src/components/buttons/UnlinkButton/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
