Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

cleaned up handleDissmiss function
  eq-author/src/components/Toasts/ToastContainer/Toast.js
  eq-author/src/components/Toasts/ToastContainer/index.js
  eq-author/src/components/Toasts/index.js
  eq-author/src/storybook/Patterns/ToastContainer.stories.js
Due: author

Storybook Component for ItemSelectModal
  eq-author/src/components/ItemSelectModal/ItemSelect.js
  eq-author/src/storybook/Patterns/Modals/ItemSelectModal.stories.js
Due: author

Story changes
  eq-author/src/App/page/Design/withDeletePage.js
  eq-author/src/storybook/Patterns/ToastContainer.stories.js
Due: author

Fix for the width issue
  eq-author/src/components/buttons/ToggleChip/index.js
Due: author

Change to data
  eq-author/src/storybook/Patterns/Modals/ItemSelectModal.stories.js
Due: none

updated story book
  eq-author/src/components/Toasts/ToastContainer/index.js
  eq-author/src/storybook/Patterns/ToastContainer.stories.js
Due: author

remove log
  eq-author/src/App/page/Design/withDeletePage.js
Due: author

Bugfix
  eq-author/src/components/ItemSelectModal/ItemSelect.js
Due: author

added skip condition to section into
  eq-publisher/src/eq_schema/Group.js
Due: publisher

Ear 735 toast design system (#2262)
  eq-author/src/storybook/Patterns/ToastContainer.stories.js
Due: none

Removal of some code
  eq-author/src/storybook/Patterns/Modals/ItemSelectModal.stories.js
Due: none

Deploying to gh-pages from @ 98ead989de523d4f2344c282863e29dbb6fee97f 🚀
  iframe.html
  main.435f5ad788c4418af3a6.bundle.js
  main.435f5ad788c4418af3a6.bundle.js.map
  main.de3ba25de42fc81576e4.bundle.js
  main.de3ba25de42fc81576e4.bundle.js.map
  runtime~main.435f5ad788c4418af3a6.bundle.js
  runtime~main.435f5ad788c4418af3a6.bundle.js.map
  runtime~main.de3ba25de42fc81576e4.bundle.js.map
  vendors~main.435f5ad788c4418af3a6.bundle.js
  vendors~main.435f5ad788c4418af3a6.bundle.js.LICENSE.txt
  vendors~main.435f5ad788c4418af3a6.bundle.js.map
  vendors~main.de3ba25de42fc81576e4.bundle.js
  vendors~main.de3ba25de42fc81576e4.bundle.js.map
Due: none

Storybook Component for ItemSelectModal (#2265)
  eq-author/src/components/ItemSelectModal/ItemSelect.js
  eq-author/src/storybook/Patterns/Modals/ItemSelectModal.stories.js
Due: author

Deploying to gh-pages from @ 2bcb02188664628963281c7a22e50a8f491ea570 🚀
  iframe.html
  main.435f5ad788c4418af3a6.bundle.js
  main.435f5ad788c4418af3a6.bundle.js.map
  main.9ec42ac39b91c3450fd3.bundle.js
  main.9ec42ac39b91c3450fd3.bundle.js.map
  runtime~main.435f5ad788c4418af3a6.bundle.js.map
  runtime~main.9ec42ac39b91c3450fd3.bundle.js
  runtime~main.9ec42ac39b91c3450fd3.bundle.js.map
  vendors~main.435f5ad788c4418af3a6.bundle.js
  vendors~main.435f5ad788c4418af3a6.bundle.js.map
  vendors~main.9ec42ac39b91c3450fd3.bundle.js
  vendors~main.9ec42ac39b91c3450fd3.bundle.js.LICENSE.txt
  vendors~main.9ec42ac39b91c3450fd3.bundle.js.map
Due: none

Rename + implementation
  eq-author/src/components/ContentPickerv2/AnswerPicker.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/utils/questionnaireUtils/index.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleQuestionTitleShortCode.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleQuestionTitleShortCode.test.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleShortCode.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleShortCode.test.js
  eq-author/src/utils/searchFunctions/searchByQuestionTitleShortCode.js
  eq-author/src/utils/searchFunctions/searchByQuestionTitleShortCode.test.js
Due: author

added section summary to a publisher
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.js
  eq-publisher/src/eq_schema/Group.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, publisher

Refactoring
  eq-author/src/components/ContentPickerv2/AnswerPicker.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitle.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitle.test.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleQuestionTitleShortCode.js
  eq-author/src/utils/searchFunctions/searchByAnswerTitleQuestionTitleShortCode.test.js
  eq-author/src/utils/searchFunctions/searchByQuestionTitleShortCode.test.js
Due: author

fix broken test
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.test.js
Due: author

Update eq-author/src/App/section/Design/SectionEditor/HubSettings/index.js
  eq-author/src/App/section/Design/SectionEditor/HubSettings/index.js
Due: author

validate section title when summary is ON
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/requiredWhenSectionSetting.js
  eq-author-api/src/validation/schemas/section.json
Due: api

add extra test for validation on sectionSummary
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
Due: author

fix for calc sum
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

fix test
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

Add 'No search results' pane
  eq-author/src/components/ContentPickerv2/AnswerPicker.js
Due: author

Empty sections now removed
  eq-author/src/components/ContentPickerv2/Menu.js
Due: author

Section view now works
  eq-author/src/components/ContentPickerv2/Menu.js
  eq-author/src/components/ContentPickerv2/SectionMenu.js
Due: author

Refactoring
  eq-author/src/components/ContentPickerv2/AnswerPicker.js
Due: author

Fixed tests
  eq-author/src/components/ContentPickerv2/AnswerPicker.js
Due: author

Fixed sttyles
  eq-author/src/components/Collapsible/index.js
Due: author

Linter
  eq-author/src/components/Collapsible/index.js
Due: author

fix ReviewQuestion Modal story
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/storybook/Patterns/Modals/ReviewQuestionModal.stories.js
  eq-author/src/storybook/Patterns/Modals/Wizard.stories.js
Due: author

fix spelling
  eq-author/src/storybook/Patterns/Modals/ReviewQuestionModal.stories.js
Due: none

Fix radio button width
  eq-author/src/components/buttons/ToggleChip/index.js
Due: author

Fix radio button width (#2276)
  eq-author/src/components/buttons/ToggleChip/index.js
Due: author

update coverage output
  eq-author-api/package.json
  eq-author/package.json
  eq-publisher/package.json
Due: author, api, publisher

Deploying to gh-pages from @ 2d0f24370cdcc1245d0da2adf5f36af2abb4f5ee 🚀
  iframe.html
  main.0165e12861cffc0e622e.bundle.js
  main.0165e12861cffc0e622e.bundle.js.map
  main.9ec42ac39b91c3450fd3.bundle.js
  main.9ec42ac39b91c3450fd3.bundle.js.map
  runtime~main.0165e12861cffc0e622e.bundle.js
  runtime~main.0165e12861cffc0e622e.bundle.js.map
  runtime~main.9ec42ac39b91c3450fd3.bundle.js.map
  vendors~main.0165e12861cffc0e622e.bundle.js
  vendors~main.0165e12861cffc0e622e.bundle.js.LICENSE.txt
  vendors~main.0165e12861cffc0e622e.bundle.js.map
  vendors~main.9ec42ac39b91c3450fd3.bundle.js.map
Due: none

remake reviewModal story - still breaking on svg
  eq-author/src/storybook/Patterns/Modals/ConfirmationModal.stories.js
  eq-author/src/storybook/Patterns/Modals/ReviewQuestionModal.stories.js
  eq-author/src/storybook/Patterns/Modals/SelectQuestionnaire.stories.js
  eq-author/src/storybook/Patterns/Modals/SelectQuestions.stories.js
  eq-author/src/storybook/Patterns/Modals/Wizard.stories.js
Due: none

Removed code that stopped onClick
  eq-author/src/components/RichTextEditor/RichTextEditor.test.js
  eq-author/src/components/RichTextEditor/__snapshots__/RichTextEditor.test.js.snap
  eq-author/src/components/RichTextEditor/index.js
  eq-author/src/components/SearchBar/index.js
Due: author

Linting
  eq-author/src/components/SearchBar/index.js
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
