Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

now working - needs test
  eq-author-api/schema/resolvers/logic/binaryExpression2/index.js
  eq-author-api/src/validation/customKeywords/validateExpression.js
  eq-author-api/src/validation/schemas/logic.json
Due: api

Added pause to blur
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.js
Due: author

uodate so no error on unanswered
  eq-author-api/src/validation/schemas/logic.json
Due: api

Spike for Super Nav
  eq-author/package.json
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenuButtons.js
  eq-author/src/components/EditorLayout/Tabs/index.js
Due: author

add a test for empty arrays in options in right side
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/logic.json
Due: api

Fix date validaion values reset to null
  eq-author/src/App/page/Design/Validation/readToWriteMapper.js
Due: author

Fix to QCode table and publisher changes to prevent duplication
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-publisher/src/eq_schema/Answer.js
Due: author, publisher

Revert "Fix to QCode table and publisher changes to prevent duplication"
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-publisher/src/eq_schema/Answer.js
Due: author, publisher

Bug fixes
  eq-author/src/App/qcodes/QCodesTable/index.js
  eq-publisher/src/eq_schema/Answer.js
Due: author, publisher

Fix linting errors
  eq-author/src/App/page/Design/Validation/readToWriteMapper.js
Due: author

Fix error when updating date validation
  eq-author/src/App/page/Design/Validation/readToWriteMapper.js
Due: author

Refactor code
  eq-author/src/App/page/Design/Validation/readToWriteMapper.js
Due: author

Refactor changes
  eq-author/src/App/page/Design/Validation/readToWriteMapper.js
Due: author

Fix crash
  eq-author-api/docker-compose.yml
  eq-publisher/src/eq_schema/builders/confirmationPage/ConfirmationPage.js
Due: api, publisher

Revert line
  eq-author-api/docker-compose.yml
Due: api

Fix error
  eq-publisher/src/eq_schema/builders/confirmationPage/ConfirmationPage.js
Due: publisher

Updated test and snapshot
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/Option.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/__snapshots__/Option.test.js.snap
Due: author

Remaps piping and child ids
  eq-author-api/middleware/runQuestionnaireMigrations.js
  eq-author-api/migrations/index.js
  eq-author-api/migrations/remapOldIds.js
Due: api

Linting
  eq-author-api/migrations/remapOldIds.js
Due: api

accomodate for empty array
  eq-author-api/src/validation/customKeywords/validateExpression.js
  eq-author-api/src/validation/schemas/logic.json
Due: api

updated SJV - working - check tests
  eq-author-api/src/validation/schemas/logic.json
Due: api

add a test to cover number: null
  eq-author-api/schema/tests/routing.test.js
Due: api

my first change
  eq-author/src/components/QuestionnairesView/NoResults.js
Due: author

fix to build scripts
  cloudbuild-author-api-tests.yaml
  cloudbuild-author-tests.yaml
  cloudbuild-publisher-tests.yaml
Due: none

fix broken test in master
  eq-author/src/App/page/Design/Validation/readToWriteMapper.test.js
Due: author

Deploying to gh-pages from @ 9d6b9d85a5b7629d9eaa05f2a0857a5969a6a079 🚀
  iframe.html
  main.2fcfa72584a394cd5eee.bundle.js
  main.2fcfa72584a394cd5eee.bundle.js.map
  main.533d45da371929ba7540.bundle.js
  main.533d45da371929ba7540.bundle.js.map
  runtime~main.2fcfa72584a394cd5eee.bundle.js.map
  runtime~main.533d45da371929ba7540.bundle.js
  runtime~main.533d45da371929ba7540.bundle.js.map
  vendors~main.2fcfa72584a394cd5eee.bundle.js
  vendors~main.2fcfa72584a394cd5eee.bundle.js.map
  vendors~main.533d45da371929ba7540.bundle.js
  vendors~main.533d45da371929ba7540.bundle.js.LICENSE.txt
  vendors~main.533d45da371929ba7540.bundle.js.map
Due: none

Begining
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Folder/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Can now move a page between folders
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
Due: author

Added contact details switch
  eq-author-api/migrations/addContactDetailsPanelSwitch.js
  eq-author-api/migrations/index.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/query.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/update.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Preview/index.js
  eq-publisher/src/eq_schema/block-types/Introduction.js
  eq-publisher/src/getQuestionnaire/queries.js
Due: author, api, publisher

updated typedefs
  eq-author-api/schema/typeDefs.js
Due: api

backed out changes
  eq-author-api/migrations/addContactDetailsPanelSwitch.js
  eq-author-api/migrations/index.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/query.js
  eq-author-api/tests/utils/contextBuilder/questionnaireIntroduction/update.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.js
  eq-author/src/App/introduction/Preview/index.js
  eq-publisher/src/eq_schema/block-types/Introduction.js
Due: author, api, publisher

couple more backouts
  eq-publisher/src/getQuestionnaire/queries.js
Due: publisher

Added typedefs for four additional contact flds
  eq-author-api/schema/typeDefs.js
Due: api

fix typedefs
  eq-author-api/schema/typeDefs.js
Due: api

added default values
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
Due: api

Added input fields to introduction
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

Added front end fields and update
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/withUpdateQuestionnaireIntroduction.js
Due: author

Added feature flag
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author
