Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Fixed some broken api tests
  eq-author-api/src/businessLogic/answerTypeToCondition.test.js
Due: api

Updated content picker
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/components/ContentPickerSelectv3/content-types.js
  eq-author/src/components/ContentPickerSelectv3/index.js
  eq-author/src/components/ContentPickerv3/AnswerPicker.js
  eq-author/src/components/ContentPickerv3/ContentTypeSelector.js
  eq-author/src/components/ContentPickerv3/MetadataPicker.js
  eq-author/src/components/ContentPickerv3/RadioToolbar.js
  eq-author/src/components/ContentPickerv3/index.js
  eq-author/src/components/SearchBar/index.js
  eq-author/src/utils/searchFunctions/searchMetadata.js
Due: author

fix no item selected
  eq-author/src/components/ContentPickerSelectv3/index.js
Due: author

removed redundant variable
  eq-author/src/components/ContentPickerSelectv3/index.js
Due: author

Added more tests, corrected queries and mutations
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/tests/utils/contextBuilder/page/queryPage.js
  eq-author-api/tests/utils/contextBuilder/routing/createRouting.js
Due: api

fixed AJV
  eq-author-api/src/validation/schemas/logic.json
Due: api

Added api test to update option to dynamicAnswer
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

removed console log
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

updated modal title
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/components/ContentPickerSelectv3/index.js
  eq-author/src/components/ContentPickerv3/AnswerPicker.js
  eq-author/src/components/ContentPickerv3/MetadataPicker.js
  eq-author/src/components/ContentPickerv3/index.js
Due: author

updated rule for right side value
  eq-author-api/src/validation/schemas/logic.json
Due: api

Fix right side input text does not update
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.js
Due: author

Added column spacing
  eq-author/src/App/page/Logic/BinaryExpressionEditor/DateAnswerSelector.js
Due: author

Update state syntax
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.js
Due: author

Add validation error to empty metadata text
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.js
  eq-author/src/constants/validationMessages.js
Due: author

Add missing proptypes
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.js
Due: author

Tweaks for testing ids
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/__snapshots__/SectionEditor.test.js.snap
  eq-author/src/components/Collapsible/index.js
  eq-author/src/components/PageTitle/PageTitleInput.js
  eq-author/src/components/PageTitle/index.js
  eq-author/src/components/PageTitle/index.test.js
Due: author

Cleaned up logic conditions
  eq-author-api/schema/typeDefs.js
Due: api

Cleaned up routing conditions
  eq-author-api/constants/routingConditions.js
Due: api

Update empty metadata validation message
  eq-author/src/constants/validationMessages.js
Due: author

Fix failing ContentPicker tests
  eq-author/src/components-themed/Input/__snapshots__/Input.test.js.snap
  eq-author/src/components/ContentPickerv3/index.test.js
Due: author

Fix BinaryExpressionEditor test
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author

Fix AnswerPicker tests
  eq-author/src/components/ContentPickerv3/AnswerPicker.test.js
Due: author

Fix withUpdateLeftSide test
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateLeftSide.test.js
Due: author

Add metadata updateLeftSide test
  eq-author/src/App/page/Logic/BinaryExpressionEditor/withUpdateLeftSide.test.js
Due: author

tweak selct label
  eq-author/src/App/page/Logic/BinaryExpressionEditor/RoutingAnswerContentPicker.js
  eq-author/src/components/ContentPickerSelectv3/index.js
Due: author

fixed tests
  eq-author/src/components/ContentPickerSelectv3/index.test.js
Due: author

Fix for piping calculated summary variable in title
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validatePipingVariableInTitle.js
  eq-author-api/src/validation/schemas/page.json
Due: api

Add MetadataTextSelector tests
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MetadataTextSelector.test.js
Due: author

Add BinaryExpressionEditor metadata test
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.test.js
Due: author

Added test for removing expressions
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

Fixed test
  eq-author-api/schema/tests/multipleChoiceAnswer.test.js
Due: api

Fixed the bug while piping summary value in title
  eq-author-api/src/validation/customKeywords/validatePipingVariableInTitle.js
Due: api

Added test to validate deleted piping variable
  eq-author-api/src/validation/index.test.js
Due: api

Add ContentTypeSelector tests
  eq-author/src/components/ContentPickerv3/ContentTypeSelector.js
  eq-author/src/components/ContentPickerv3/ContentTypeSelector.test.js
Due: author

Add content views test
  eq-author/src/constants/content-views.test.js
Due: author

Added repeating section
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createSection.js
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/App/section/Design/withUpdateSection.js
  eq-author/src/graphql/fragments/section.graphql
  eq-author/src/graphql/updateSection.graphql
Due: author, api

Added Error handleing
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/validation/schemas/section.json
  eq-author/src/App/section/Design/SectionEditor/RepeatingSection/index.js
  eq-author/src/App/section/Design/withUpdateSection.js
  eq-author/src/constants/validationMessages.js
  eq-author/src/graphql/fragments/section.graphql
  eq-author/src/graphql/updateSection.graphql
Due: author, api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
