Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

minor css change
  eq-author/src/App/shared/Logic/Display/NoDisplayLogic.js
Due: author

fix snapshot
  eq-author/src/App/section/Preview/__snapshots__/index.test.js.snap
Due: author

Update to Date Format component and updated the tests
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/__snapshots__/DateFormat.test.js.snap
Due: author

Fix tabs nav test
  eq-author/src/App/section/Logic/index.test.js
Due: author

Redirect display page when hub feature flag not enabled
  eq-author/src/App/section/Logic/index.test.js
  eq-author/src/App/section/index.js
Due: author

✨ EAR 1407 - Split Firestore docs into sections
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/db/datastore/datastore-firestore.test.js
Due: api

✅ Fix existing test
  eq-author-api/db/datastore/datastore-firestore.test.js
Due: api

Refinement of the dateformat component
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.js
Due: author

Changes to the year field
  eq-author/src/App/page/Design/answers/dummy/Date/index.js
Due: author

Updates to styling to bring it more inline with prototype
  eq-author/src/App/page/Design/answers/Date/index.js
  eq-author/src/App/page/Design/answers/dummy/Date/index.js
  eq-author/src/components/preview/Answers/DateAnswer.js
Due: author

Removed unneeded code
  eq-author/src/components/preview/Answers/DateAnswer.js
Due: author

EAR-1385-change-format-for-months-on-dates-to-be-text (#2180)
  eq-author/src/App/page/Design/answers/Date/index.js
  eq-author/src/App/page/Design/answers/dummy/Date/__snapshots__/index.test.js.snap
  eq-author/src/App/page/Design/answers/dummy/Date/index.js
  eq-author/src/App/page/Design/answers/dummy/Date/index.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/DateFormat.test.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/AnswerProperties/Properties/__snapshots__/DateFormat.test.js.snap
  eq-author/src/components/preview/Answers/DateAnswer.js
  eq-author/src/components/preview/Answers/DateAnswer.test.js
  eq-author/src/components/preview/Answers/__snapshots__/DateAnswer.test.js.snap
Due: author

✨ EAR 1407 - `Firestore`: split sections out into subcollection (#2172)
  eq-author-api/db/datastore/datastore-firestore.js
  eq-author-api/db/datastore/datastore-firestore.test.js
Due: api

Show logic error badge on preview page
  eq-author/src/App/section/Preview/index.js
Due: author

Update snapshot
  eq-author/src/App/section/Preview/__snapshots__/index.test.js.snap
Due: author

Only display current or later sections when required
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
Due: author

Fix else destination selector crash
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
Due: author

Update eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/QuestionPicker/index.js
Due: author

Update eq-author/src/storybook/Patterns/Importing content/SelectQuestions.stories.js
  eq-author/src/storybook/Patterns/Importing content/SelectQuestions.stories.js
Due: none

Tests and linting
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/QuestionPicker/index.test.js
  eq-author/src/storybook/Patterns/Importing content/SelectQuestions.stories.js
Due: author

test sendSignInLinkToEmail
  eq-author-api/middleware/identification/upsertUser.js
  eq-author/src/App/MeContext.js
Due: author, api

EAR 1260 remove current section and later sections from routing destinations (#2181)
  eq-author/src/components/ContentPickerv2/DestinationPicker/Menu.js
Due: author

Update eq-author/src/storybook/Patterns/Importing content/SelectQuestionnaire.stories.js
  eq-author/src/storybook/Patterns/Importing content/SelectQuestionnaire.stories.js
Due: none

Began building import process
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/importingContent/index.js
  eq-author/src/assets/icon-import.svg
  eq-author/src/components/QuestionnaireTable/Row.js
  eq-author/src/components/QuestionnaireTable/TableBody.js
  eq-author/src/components/QuestionnaireTable/index.js
  eq-author/src/components/QuestionnairesView/QuestionnairesTable/index.js
  eq-author/src/components/QuestionnairesView/index.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
  eq-author/src/storybook/Examples/DragAndDrop.stories.js
  eq-author/src/storybook/Examples/ImportingContent.stories.js
  eq-author/src/storybook/Patterns/Importing content/SelectQuestionnaireModal.stories.js
Due: author

Ear 1317 modal for importing questions (#2161)
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/assets/icon-alert.svg
  eq-author/src/assets/icon-warning-round.svg
  eq-author/src/components/AnswerPicker/index.js
  eq-author/src/components/AnswerPicker/index.test.js
  eq-author/src/components/DeleteConfirmDialog/index.js
  eq-author/src/components/IconText/index.js
  eq-author/src/components/NoSearchResults/index.js
  eq-author/src/components/QuestionPicker/Item/index.js
  eq-author/src/components/QuestionPicker/List/index.js
  eq-author/src/components/QuestionPicker/SelectedPagesContext/index.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/QuestionPicker/index.test.js
  eq-author/src/components/QuestionnairesView/NoResultsFiltered.js
  eq-author/src/components/QuestionnairesView/index.test.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
  eq-author/src/storybook/Patterns/Importing content/SelectQuestionnaire.stories.js
  eq-author/src/storybook/Patterns/Importing content/SelectQuestions.stories.js
  eq-author/src/tests/mocks/mockSections.json
  eq-author/src/utils/questionnaireUtils/index.js
Due: author

Mock data change
  eq-author/src/storybook/Examples/ImportingContent.stories.js
Due: none

Deploying to gh-pages from @ 5a2f368f07a0d51fe1908141f67685160919a7cf 🚀
  iframe.html
  main.207ed89c53b6b1a3dace.bundle.js
  main.207ed89c53b6b1a3dace.bundle.js.map
  main.289f36fbcb83bd45ba9a.bundle.js
  main.289f36fbcb83bd45ba9a.bundle.js.map
  runtime~main.207ed89c53b6b1a3dace.bundle.js
  runtime~main.207ed89c53b6b1a3dace.bundle.js.map
  runtime~main.289f36fbcb83bd45ba9a.bundle.js.map
  vendors~main.207ed89c53b6b1a3dace.bundle.js
  vendors~main.207ed89c53b6b1a3dace.bundle.js.LICENSE.txt
  vendors~main.207ed89c53b6b1a3dace.bundle.js.map
  vendors~main.289f36fbcb83bd45ba9a.bundle.js
  vendors~main.289f36fbcb83bd45ba9a.bundle.js.map
Due: none

Storybook cleanup
  eq-author/src/storybook/Patterns/Importing content/SelectQuestionnaireModal.stories.js
  eq-author/src/storybook/Patterns/Modals/ReviewQuestionModal.stories.js
  eq-author/src/storybook/Patterns/Modals/SelectQuestionnaire.stories.js
  eq-author/src/storybook/Patterns/Modals/SelectQuestions.stories.js
Due: none

Disable select button when no questionnaire selected
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/modals/QuestionnaireSelectModal/index.js
Due: author

Modal opening and closing by add content menu
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavItemTransition.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/importingContent/index.js
Due: author

sending verify email works
  eq-author/src/App/MeContext.js
Due: author

Modal now selects questions
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/importingContent/index.js
  eq-author/src/components/QuestionPicker/index.js
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/graphql/getQuestionnaireList.graphql
Due: author

Minor bugfix
  eq-author/src/components/modals/ImportQuestionReviewModal/index.js
  eq-author/src/graphql/getQuestionnaire.graphql
Due: author

first commit
  eq-author-api/middleware/identification/getUserFromHeader.js
  eq-author-api/middleware/identification/rejectUnidentifiedUsers.js
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/index.js
Due: author, api

tweak to process
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/index.js
Due: author

Fix api tests
  eq-author-api/middleware/identification/rejectUnidentifiedUsers.test.js
  eq-author-api/server.test.js
Due: api

working - send email and some back end checks
  eq-author-api/middleware/identification/getUserFromHeader.js
  eq-author-api/middleware/identification/rejectUnidentifiedUsers.js
  eq-author-api/middleware/identification/upsertUser.js
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/index.js
Due: author, api

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
