Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Fix form error
  eq-author/src/App/Submission/Design/SubmissionEditor/index.js
Due: author

Remove query input
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/Submission/Design/index.js
  eq-author/src/App/Submission/graphql/getSubmissionQuery.graphql
Due: author, api

Update resolvers
  eq-author-api/schema/resolvers/base.js
Due: api

Fix flicker bug
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.js
Due: author

Fix broken test
  eq-author/src/App/page/Design/Validation/withUpdateValidationRule.test.js
Due: author

include supression warnings for more files
  eq-author/package.json
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/withMoveSection.test.js
  eq-author/src/App/shared/Logic/SkipLogic/index.test.js
  eq-author/src/components/RichTextEditor/LinkPlugin/index.test.js
  eq-author/src/tests/utils/supressConsol.js
  eq-author/yarn.lock
Due: author

Fix preview padding
  eq-author/src/App/introduction/Preview/index.js
Due: author

Refactor line
  eq-author/src/App/introduction/Preview/index.js
Due: author

add consol logs for supressed messages
  eq-author/src/App/QuestionnaireDesignPage/index.test.js
  eq-author/src/App/page/Design/answers/MultipleChoiceAnswer/index.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/section/Design/withMoveSection.test.js
  eq-author/src/App/shared/Logic/SkipLogic/index.test.js
  eq-author/src/components/RichTextEditor/LinkPlugin/index.test.js
  eq-author/src/tests/utils/supressConsol.js
Due: author

update for submission preview error
  eq-author/src/App/Submission/Design/index.test.js
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector/index.test.js
  eq-author/src/App/section/Design/SectionEditor/HubSettings/index.test.js
  eq-author/src/App/section/Design/SectionEditor/SectionSummary/index.test.js
  eq-author/src/components/QuestionnairesView/index.test.js
Due: author

Validation working - needs correct message and test
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
Due: api

Deploying to gh-pages from @ b98de2a18ad01b0235a086fac2c4cad2c125cd66 🚀
  3.15501d2e47cc2ef028a1.bundle.js
  3.15501d2e47cc2ef028a1.bundle.js.LICENSE.txt
  3.15501d2e47cc2ef028a1.bundle.js.map
  3.aa3aa946a0e66af3b8f4.bundle.js
  3.aa3aa946a0e66af3b8f4.bundle.js.map
  4.15501d2e47cc2ef028a1.bundle.js
  4.15501d2e47cc2ef028a1.bundle.js.map
  4.aa3aa946a0e66af3b8f4.bundle.js
  4.aa3aa946a0e66af3b8f4.bundle.js.map
  iframe.html
  main.15501d2e47cc2ef028a1.bundle.js
  main.15501d2e47cc2ef028a1.bundle.js.map
  main.aa3aa946a0e66af3b8f4.bundle.js
  main.aa3aa946a0e66af3b8f4.bundle.js.map
  runtime~main.15501d2e47cc2ef028a1.bundle.js
  runtime~main.15501d2e47cc2ef028a1.bundle.js.map
  runtime~main.aa3aa946a0e66af3b8f4.bundle.js
  runtime~main.aa3aa946a0e66af3b8f4.bundle.js.map
  vendors~main.15501d2e47cc2ef028a1.bundle.js
  vendors~main.15501d2e47cc2ef028a1.bundle.js.LICENSE.txt
  vendors~main.15501d2e47cc2ef028a1.bundle.js.map
  vendors~main.aa3aa946a0e66af3b8f4.bundle.js
  vendors~main.aa3aa946a0e66af3b8f4.bundle.js.map
Due: none

Initial preview email confirmation
  eq-author-api/docker-compose.yml
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/components-themed/buttons/button.js
Due: author, api

Prevent preview page input
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/components-themed/Input/input.js
Due: author

Prevent preview button click
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/components-themed/buttons/button.js
Due: author

Remove section separator
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

add correct error and catch for undefined custom num
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/constants/validationMessages.js
Due: author, api

add extra rule for GreaterThan secondary condition
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
Due: api

add fix for undefineed options
  eq-author-api/src/validation/customKeywords/validateSecondaryCondition.js
Due: api

added sectoin drag and drop
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/tests/routing.test.js
  eq-author-api/schema/tests/section.test.js
  eq-author-api/schema/tests/skipConditions.test.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/section/moveSection.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/Section/index.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/App/section/Design/withMoveSection.js
  eq-author/src/App/section/Design/withMoveSection.test.js
  eq-author/src/graphql/moveSection.graphql
Due: author, api

Fix margin
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Add preview styling to input and button
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
  eq-author/src/components-themed/Input/input.js
  eq-author/src/components-themed/buttons/button.js
Due: author

Revert file
  eq-author-api/docker-compose.yml
Due: api

Fix missing form label
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Fix tab focus on preview content
  eq-author/src/App/Submission/Preview/SubmissionPreview/index.js
Due: author

Initial toggle switch
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Add collapsible
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
Due: author

Update backend data using toggle switch
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/graphql/fragments/answer.graphql
Due: author, api

Refactor defaultAnswer to properties object
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/page/Design/answers/BasicAnswer/index.js
  eq-author/src/graphql/fragments/answer.graphql
Due: author, api

fixed sizing
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
Due: author

Add default to publisher
  eq-author-api/docker-compose.yml
  eq-publisher/src/eq_schema/Answer.js
Due: api, publisher

Fix publisher default always enabled when advanced properties enabled
  eq-publisher/src/eq_schema/Answer.js
Due: publisher

fixed sizing removed width
  eq-author/src/App/page/Logic/BinaryExpressionEditor/SecondaryConditionSelector.js
Due: author

Add publisher tests
  eq-publisher/src/eq_schema/Answer.test.js
Due: publisher

removed old dynamo model
  eq-author-api/db/models/DynamoDB.js
Due: api

Added section drop background colour
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
Due: author

fix add question in folder
  eq-author/src/components/NavigationCallbacks.js
Due: author

fixed test
  eq-author/src/components/NavigationCallbacks.test.js
Due: author

fix for settings page
  eq-author/src/graphql/getGeneralSettings.graphql
Due: author

Path conditions:
  author: any of: eq-author/, but not: eq-author/src/storybook
  api: any of: eq-author-api/, but not: eq-author/src/storybook
  publisher: any of: eq-publisher/, but not: eq-author/src/storybook
