Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

Toms changes
  eq-author/src/App/page/Logic/index.js
Due: author

Linter
  eq-author/src/App/page/Logic/index.js
Due: author

snaps
  eq-author/src/App/page/Logic/__snapshots__/index.test.js.snap
Due: author

changed error type to constant
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
Due: author

Matts changes
  eq-author/src/App/page/Logic/index.js
Due: author

remove DR if alread answer and disbale button
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/components/IconGrid/IconGridButton.js
Due: author

The linter is our friend
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeButton.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeGrid.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/components/IconGrid/IconGridButton.js
Due: author

untidy typo
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
Due: author

Added tests
  eq-publisher/src/eq_schema/Block.test.js
  eq-publisher/src/eq_schema/basicQuestionnaireJSON.js
  eq-publisher/src/eq_schema/builders/routing2/index.test.js
  eq-publisher/src/eq_schema/builders/routing2/translateRoutingDestination.test.js
Due: publisher

Added tests
  eq-publisher/src/eq_schema/Block.test.js
Due: publisher

Added tests
  eq-publisher/src/eq_schema/builders/expressionGroup/index.js
  eq-publisher/src/eq_schema/builders/expressionGroup/index.test.js
  eq-publisher/src/eq_schema/builders/routing2/index.js
  eq-publisher/src/eq_schema/builders/skipConditions/index.js
Due: publisher

Linting
  eq-publisher/src/eq_schema/builders/expressionGroup/index.test.js
Due: publisher

bloody tests
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

lovely linter
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

if only
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

test fix
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

Added check that validation was missing before recreating it
  eq-author-api/src/businessLogic/onAnswerDeleted.js
Due: api

fix for codacy
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/AnswerTypeButton.js
Due: author

added test
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

Ohh linterz gonna lint
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

test tidy up
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.test.js
Due: author

updated answer types
  eq-publisher/src/eq_schema/Block.test.js
  eq-publisher/src/eq_schema/builders/expressionGroup/index.test.js
Due: publisher

updated tests
  eq-publisher/src/eq_schema/builders/expressionGroup/basicQuestionnaireJSON.js
  eq-publisher/src/eq_schema/builders/expressionGroup/index.js
  eq-publisher/src/eq_schema/builders/expressionGroup/index.test.js
Due: publisher

renamed functions for clarity
  eq-publisher/src/eq_schema/builders/expressionGroup/index.js
Due: publisher

updated validation for unamswered conditions
  eq-author-api/src/validation/schemas/entities.json
Due: api

removal of column and tests
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.test.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/TableHead/index.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/index.test.js
Due: author

linterz gotta lint
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/QuestionnairesTable/Row/index.test.js
  eq-author/src/App/QuestionnairesPage/QuestionnairesView/index.test.js
Due: author

comment out code todo with publish btn and tests
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.js
  eq-author/src/App/QuestionnaireDesignPage/MainNavigation/index.test.js
Due: author

Updated validation on checkboxes
  eq-author-api/constants/validationErrorCodes.js
  eq-author-api/schema/resolvers/utils.js
  eq-author-api/src/validation/customKeywords/index.js
  eq-author-api/src/validation/customKeywords/validateExclusiveCheckbox.js
  eq-author-api/src/validation/index.js
  eq-author-api/src/validation/index.test.js
  eq-author-api/src/validation/schemas/entities.json
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/constants/validation-error-codes.js
  eq-author/src/constants/validation-error-types.js
  eq-author/src/constants/validationMessages.js
Due: author, api

updated tests
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.test.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/NumberAnswerSelector.test.js
Due: author

Added unanswered to Radio answer in expressions
  eq-author-api/src/businessLogic/answerTypeToConditions.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/MultipleChoiceAnswerOptionsSelector.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/__snapshots__/MultipleChoiceAnswerOptionsSelector.test.js.snap
Due: author, api

updated publisher
  eq-publisher/src/eq_schema/builders/translateBinaryEpression/translateBinaryExpression.js
  eq-publisher/src/eq_schema/builders/translateBinaryEpression/translateBinaryExpression.test.js
Due: publisher

removed unused import
  eq-publisher/src/eq_schema/builders/translateBinaryEpression/translateBinaryExpression.js
Due: publisher

Else now doesn't allow routing outside of same section
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
Due: author

updated tests
  eq-author-api/src/validation/index.test.js
Due: api

Fixed linting issues
  eq-author/src/App/page/Logic/Routing/DestinationSelector/RoutingDestinationContentPicker.js
Due: author

first batch - most val msgs in constant file now
  eq-author-api/constants/validationErrorCodes.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/AnswerSelector.js
  eq-author/src/App/page/Design/CalculatedSummaryPageEditor/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/AnswerTypeSelector/index.js
  eq-author/src/App/page/Design/QuestionPageEditor/MetaEditor.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.js
  eq-author/src/App/page/Design/Validation/AnswerValidation.test.js
  eq-author/src/App/page/Design/answers/Date/index.js
  eq-author/src/App/page/Logic/BinaryExpressionEditor/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.js
  eq-author/src/App/page/PropertiesPanel/GroupedAnswerProperties/index.test.js
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/App/questionConfirmation/Design/Editor.js
  eq-author/src/App/section/Design/SectionEditor/SectionEditor.test.js
  eq-author/src/App/section/Design/SectionEditor/index.js
  eq-author/src/constants/validationMessages.js
Due: author, api

fix: eq-author/package.json & eq-author/yarn.lock to reduce vulnerabilities
  eq-author/package.json
  eq-author/yarn.lock
Due: author

fix: eq-author-api/package.json & eq-author-api/yarn.lock to reduce vulnerabilities
  eq-author-api/package.json
  eq-author-api/yarn.lock
Due: api

fix: eq-publisher/package.json & eq-publisher/yarn.lock to reduce vulnerabilities
  eq-publisher/package.json
  eq-publisher/yarn.lock
Due: publisher

Path conditions:
  author: any of: eq-author/
  api: any of: eq-author-api/
  publisher: any of: eq-publisher/
