Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

Added comments in move page and folder graphql
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.js
  eq-author/src/graphql/moveFolder.graphql
  eq-author/src/graphql/movePage.graphql
Due: author

Add missing proptypes and change IDs
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author, api

Reverted the tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/dragDropFunctions/onDragEnd.test.js
Due: author

Disable add introduction page when questionnaire has introduction page
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
Due: author

Failing test
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.test.js
Due: author

Updated test
  eq-author/src/App/page/Design/ListCollectorPageEditor/index.test.js
Due: author

Update duplicate folder graphql
  eq-author/src/graphql/duplicateFolder.graphql
Due: author

Update duplicate section graphql
  eq-author/src/graphql/duplicateSection.graphql
Due: author

Delete introduction page on button click
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/App/introduction/Design/index.js
  eq-author/src/App/introduction/IntroductionHeader.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/graphql/deleteIntroductionPage.graphql
Due: author, api

update theme colors
  eq-author/src/components/Comments/Comment/index.js
  eq-author/src/components/buttons/Button/index.js
  eq-author/src/constants/theme.js
Due: author

On hover color update
  eq-author/src/components/buttons/Button/index.js
Due: author

update snapshot test
  eq-author/src/components-themed/Input/__snapshots__/Input.test.js.snap
Due: author

Set toasts using callback function
  eq-author/src/components/Toasts/index.js
Due: author

Fix create introduction requires refresh
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/graphql/createIntroductionPage.graphql
Due: author, api

Fix introduction page sometimes not deleting
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/introduction/IntroductionHeader.js
  eq-author/src/graphql/deleteIntroductionPage.graphql
Due: author, api

Fix failing tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.js
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
Due: author

Add delete introduction modal
  eq-author/src/App/introduction/IntroductionHeader.js
  eq-author/src/constants/modal-content.js
Due: author

Fix failing settings questionnaire type test
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add show introduction on hub to settings page on all questionnaires
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Enable theme settings page on all questionnaires
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/TabItems.js
  eq-author/src/App/settings/index.js
Due: author

Add all themes to theme settings page on all questionnaires
  eq-author-api/constants/themes.js
  eq-author-api/schema/resolvers/base.js
  eq-author/src/constants/themeSettings.js
Due: author, api

Set default theme to default for all questionnaires
  eq-author-api/schema/resolvers/base.js
Due: api

fixes save issue
  eq-author-api/db/datastore/datastore-firestore.js
Due: api

Remove social theme
  eq-author-api/constants/themes.js
Due: api

Remove unused test and update IntroductionHeader
  eq-author/src/App/introduction/IntroductionHeader.js
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add custom introduction title
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
Due: author

Update snapshot
  eq-author/src/App/introduction/Design/IntroductionEditor/__snapshots__/index.test.js.snap
Due: author

Fix delete introduction sometimes requires refresh
  eq-author/src/App/introduction/IntroductionHeader.js
Due: author

Add AddMenu tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.test.js
Due: author

Add NavigationHeader tests
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/NavigationHeader/index.test.js
Due: author

Add initial introduction icon
  eq-author/src/assets/icon-introduction-page.svg
Due: author

Add introduction icon to page
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/AddMenu/AddMenu.js
  eq-author/src/App/QuestionnaireDesignPage/NavigationSidebar/index.js
  eq-author/src/assets/icon-introduction-page.svg
Due: author

Add withCreateIntroductionPage tests
  eq-author/src/App/QuestionnaireDesignPage/withCreateIntroductionPage.test.js
Due: author

Add IntroductionHeader tests
  eq-author/src/App/introduction/IntroductionHeader.js
  eq-author/src/App/introduction/IntroductionHeader.test.js
Due: author

Remove unused component code
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Updated API to supprt select
  eq-author-api/constants/answerTypes.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/src/businessLogic/createAnswer.js
Due: api

Fix test and revert title data ids
  eq-author-api/schema/tests/questionnaire.test.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
Due: api

Add create introduction test
  eq-author-api/schema/tests/questionnaireIntroduction.test.js
Due: api
