Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

updated the survey loading and error and the tests to reflect new change
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.js
  eq-author/src/App/dataSettings/SupplementaryDataPage/index.test.js
Due: author

Filter "questionnaires to exclude" from questionnaires list
  eq-author-api/db/datastore/datastore-mongodb.js
  eq-author-api/schema/typeDefs.js
Due: api

Add test for questionnaires to exclude
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

Add "questionnaires to exclude" total questionnaires test
  eq-author-api/db/datastore/datastore-mongodb.test.js
Due: api

all validation error type
  eq-author-api/schema/typeDefs.js
Due: api

return all validation errors method
  eq-author-api/schema/resolvers/base.js
Due: api

new method to get all validation errors
  eq-author-api/schema/resolvers/utils/validation.js
Due: api

cleanup
  eq-author-api/schema/typeDefs.js
Due: api

cleanup
  eq-author-api/schema/resolvers/base.js
Due: api

fixed the bug for returning two errors, updated the validateSurveyId
  eq-author-api/src/validation/customKeywords/validateSurveyId.js
  eq-author-api/src/validation/schemas/questionnaire.json
Due: api

updated the test to change from null to empty string.
  eq-author-api/src/validation/index.test.js
Due: api

removed leading and trailing spaces in Qcodes and value
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

update the code to show the error messages in the correct order
  eq-author-api/src/validation/customKeywords/validateSurveyId.js
Due: api

changed the code to ensure there's no leading and trailng spaces in the function
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

added a test for option value and updated the qcode test to test the leading/trailing spaces
  eq-author/src/App/qcodes/QCodesTable/index.test.js
Due: author

added test to test the survey id mismatch when supplementary data is linked
  eq-author-api/src/validation/index.test.js
Due: api

fixed the conditional statement arrangements
  eq-author-api/src/validation/customKeywords/validateSurveyId.js
Due: api

updated the code to ensure it checks that value exist
  eq-author/src/App/qcodes/QCodesTable/index.js
Due: author

Update cloudbuild script
  cloudbuild.yaml
Due: none

Added CODEOWNERS file
  .github/CODEOWNERS
Due: none

Fix skip logic page when content is after a list collector folder
  eq-author/src/utils/getContentBeforeEntity.js
Due: author

Add migration to remove QCodes from confirmation pages
  eq-author-api/migrations/index.js
  eq-author-api/migrations/removeConfirmationPageQCodes.js
Due: api

Add removeConfirmationPageQCodes tests
  eq-author-api/migrations/removeConfirmationPageQCodes.test.js
Due: api

Update test qCode values
  eq-author-api/migrations/removeConfirmationPageQCodes.test.js
Due: api

Add migration to remove extra spaces
  eq-author-api/migrations/index.js
  eq-author-api/migrations/removeExtraSpaces.js
Due: api

Add tests for removeExtraSpaces
  eq-author-api/migrations/removeExtraSpaces.test.js
Due: api

added survey_id exclusion
  eq-author-api/src/businessLogic/processSupplementaryData.js
Due: api

test
  cloudbuild-author-tests.yaml
Due: none

test2
  cloudbuild-author-tests.yaml
Due: none

test3
  cloudbuild-author-tests.yaml
Due: none

test4
  cloudbuild-author-api-tests.yaml
Due: none

test 6
  cloudbuild-author-api-tests.yaml
Due: none

removed api key
  cloudbuild-author-tests.yaml
  eq-author/.env.test
  eq-author/README.md
Due: author

Add validation and disabling to Publish button
  eq-author-api/docker-compose.yml
  eq-author/src/App/publish/PublishPage.js
  eq-author/src/App/publish/PublishPage.test.js
Due: author, api

Remove db change
  eq-author-api/docker-compose.yml
Due: api

fix for piping supplementary data
  eq-author-api/src/validation/customKeywords/validatePipingAnswerInLabel.js
Due: api

Initial work. Needs tests adding
  eq-author-api/docker-compose.yml
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author-api/tests/utils/contextBuilder/publishSchema/publishSchema.js
  eq-author/src/App/publish/GetPublishHistory.graphql
  eq-author/src/App/publish/GetPublishHistory.js
  eq-author/src/graphql/publishSchema.graphql
Due: author, api
