Repository ONSdigital/eq-author-app: changes, and which Codecov flags are due for each by the changed paths.
All: author, api, publisher

.codecov.yml:

ignore:
  - "eq-author/src/storybook"

coverage:
  status:
    project:
      author:
        flags: author
      api:
        flags: api
      publisher:
        flags: publisher

flags:
  author:
    paths:
      - eq-author/
  api:
    paths:
      - eq-author-api/
  publisher:
    paths:
      - eq-publisher/

comment: off

remove old layout
  eq-author/src/components/LayoutOLD/Header.js
  eq-author/src/components/LayoutOLD/index.js
  eq-author/src/components/LayoutOLD/index.test.js
Due: author

fix broken test re - nbsp
  eq-author/src/App/SignInPage/index.test.js
Due: author

add space
  eq-author/src/components-themed/Input/PasswordInput/index.js
Due: author

fix test and update search param name to Get
  eq-author/src/App/MeContext.js
  eq-author/src/App/SignInPage/index.js
  eq-author/src/components-themed/Input/Input.test.js
  eq-author/src/components-themed/Label/Label.test.js
Due: author

test fix for mode issue
  eq-author/src/App/SignInPage/ApiError/index.js
  eq-author/src/App/SignInPage/index.js
Due: author

fix broken input test
  eq-author/src/components-themed/Input/Input.test.js
Due: author

Add addSummaryTitle to index file
  eq-author-api/migrations/index.js
Due: api

Fix error flickering
  eq-author/src/App/SignInPage/index.js
Due: author

icons, add access col, fixed font weight
  eq-author/src/assets/icon-copy.svg
  eq-author/src/assets/icon-locked.svg
  eq-author/src/assets/icon-starred.svg
  eq-author/src/components-themed/questionnaireTable/row.js
  eq-author/src/components-themed/questionnaireTable/tableHead.js
  eq-author/src/components/IconText/index.js
  eq-author/src/components/QuestionnaireTable/TableHeadings.js
  eq-author/src/constants/theme.js
  eq-author/src/storybook/Components-themed/exampleQuestionnaires.js
  eq-author/src/storybook/Components-themed/questionnaireTableONS.stories.mdx
Due: author

add table border
  eq-author/src/components-themed/questionnaireTable/index.js
  eq-author/src/components/QuestionnairesView/QuestionnairesTable/index.js
Due: author

add themed button and title to homepage
  eq-author/src/components/QuestionnairesView/Header/index.js
Due: author

temporary header and footer to homepage??
  eq-author/src/components/Layout/index.js
Due: author

tidy up
  eq-author/src/App/SignInPage/index.js
  eq-author/src/App/SignInPage/index.test.js
Due: author

temp comment out test
  eq-author/src/App/SignInPage/index.test.js
Due: author

remove test
  eq-author/src/App/SignInPage/index.test.js
Due: author

add new option
  eq-author-api/constants/legalBases.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/LegalBasisSelect/__snapshots__/index.test.js.snap
  eq-author/src/App/settings/LegalBasisSelect/index.js
  eq-publisher/src/constants/legalBases.js
Due: author, api, publisher

Add toggle switch
  eq-author-api/docker-compose.yml
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author, api

Add introduction hub backend data
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Revert backend data
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Rewrite backend data
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/graphql/updateQuestionnaireIntroduction.graphql
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Revert
  eq-author-api/schema/typeDefs.js
  eq-author-api/utils/createQuestionnaireIntroduction.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/graphql/updateQuestionnaireIntroduction.graphql
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Rewrite backend data to use questionnaire data
  eq-author-api/schema/resolvers/base.js
  eq-author-api/schema/typeDefs.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/graphql/fragments/questionnaire.graphql
Due: author, api

Conditionally render on business questionnaires
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Disable hub on introduction when hub is disabled
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

Import business from constants
  eq-author/src/App/settings/GeneralSettingsPage.js
Due: author

moved stuff and started intergrating
  eq-author/src/App/collectionLists/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/collectionLists/AnswersEditor/index.js
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/AnswerEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/AnswerEditor/index.js
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/AnswerEditor/index.test.js
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/AnswerTransition.js
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/AnswerTransition.test.js
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/__snapshots__/AnswerTransition.test.js.snap
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/index.js
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/index.test.js
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/moveAnswer.graphql
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/withMoveAnswer.js
  eq-author/src/App/collectionLists/ListEditor/AnswersEditor/withMoveAnswer.test.js
  eq-author/src/App/collectionLists/ListEditor/index.js
  eq-author/src/App/collectionLists/collectionListItem.js
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

Add tests
  eq-author/src/App/section/Design/index.test.js
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add test
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add enable toggle test
  eq-author/src/App/settings/GeneralSettingsPage.js
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add test for questionnaire types
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Fix error
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

Add flag tests
  eq-author/src/App/settings/SettingsPage.test.js
Due: author

fix delete and update listname
  eq-author/src/App/collectionLists/collectionListItem.js
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author

Updated CollectionListEditor test
  eq-author/src/App/collectionLists/CollectionListsEditor/CollectionListEditor/__snapshots__/index.test.js.snap
  eq-author/src/App/collectionLists/CollectionListsEditor/CollectionListEditor/index.js
  eq-author/src/App/collectionLists/CollectionListsEditor/CollectionListEditor/index.test.js
  eq-author/src/App/collectionLists/CollectionListsEditor/__snapshots__/AnswerTransition.test.js.snap
Due: author

update main font to Open Sans as per GDS design
  eq-author/src/constants/theme.js
Due: author

added update answer
  eq-author/src/App/collectionLists/collectionListItem.js
  eq-author/src/App/collectionLists/collectionListsPage.js
  eq-author/src/App/collectionLists/updateListAnswerMutation.graphql
  eq-author/src/App/collectionLists/withUpdateListAnswer.js
Due: author

Add link to settings page on introduction page
  eq-author/src/App/introduction/Design/IntroductionEditor/index.js
  eq-author/src/assets/icon-warning-circle-large.svg
  eq-author/src/components-themed/panels/panel.js
  eq-author/src/storybook/Components-themed/panelsONS.stories.mdx
Due: author

updated answer of type
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/collectionLists/collectionListItem.js
  eq-author/src/App/collectionLists/collectionListsPage.js
Due: author, api

cleaning up
  eq-author-api/schema/resolvers/base.js
  eq-author/src/App/collectionLists/updateListAnswerMutation.graphql
  eq-author/src/App/collectionLists/withUpdateListAnswer.js
Due: author, api
